<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column bg-white">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-header></app-header>
      <!-- End of Topbar -->
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Generate Project</h1>
          <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
              class="fas fa-upload fa-sm text-white-50"></i>Upload Resume</a> -->
        </div>
        <!-- Content Row -->
        <div class="row">
          <div class="col-md-12">
            <!-- name="form" (ngSubmit)="updateForm.form.valid && addPermissionData()" #updateForm="ngForm" -->
            <!-- <form name="form" #generateErForm="ngForm">

              <div class="row">
                <div class="col-md-3" *ngIf="bussinessUnit">
                  <div class="form-group">
                    <label for="">Business Unit</label>
                    <input type="text" class="form-control form-control-sm" name="department"
                      [(ngModel)]="bussinessUnit.department" readonly>
                  </div>
                </div>

                <div class="col-md-3" *ngIf="bussinessUnit">
                  <div class="form-group">
                    <label for="">Business Unit Head</label>
                    <input type="text" class="form-control form-control-sm" name="name" [(ngModel)]="bussinessUnit.name"
                      readonly>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="">Project Name</label>
                    <select class="form-control form-control-sm" name="project" [(ngModel)]="generateForm.project"
                      #project="ngModel" [ngClass]="{ 'is-invalid': generateErForm.submitted && project.invalid }"
                      required>
                      <option disabled selected>Select project</option>
                      <option *ngFor="let proj of projectsList" [ngValue]="proj">{{proj.projectName}}</option>
                    </select>
                    <div *ngIf="generateErForm.submitted && project.invalid" class="invalid-feedback">
                      <div *ngIf="project.errors.required">Project name is required</div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="">No. of Position</label>
                    <input type="number" class="form-control form-control-sm" placeholder="No. of Position"
                      name="totalPosition" [(ngModel)]="generateForm.totalPosition" #totalPosition="ngModel"
                      [ngClass]="{ 'is-invalid': generateErForm.submitted && totalPosition.invalid }" required>
                    <div *ngIf="generateErForm.submitted && totalPosition.invalid" class="invalid-feedback">
                      <div *ngIf="totalPosition.errors.required">No. of position is required</div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="">Max Budget</label>
                    <input type="number" class="form-control form-control-sm" placeholder="Max Budget" name="maxBudget"
                      [(ngModel)]="generateForm.maxBudget" #maxBudget="ngModel"
                      [ngClass]="{ 'is-invalid': generateErForm.submitted && maxBudget.invalid }" required>
                    <div *ngIf="generateErForm.submitted && maxBudget.invalid" class="invalid-feedback">
                      <div *ngIf="maxBudget.errors.required">Max budget is required</div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="">Work Location</label>
                    <select class="form-control form-control-sm" name="workLocation"
                      [(ngModel)]="generateForm.workLocation" #workLocation="ngModel"
                      [ngClass]="{ 'is-invalid': generateErForm.submitted && workLocation.invalid }" required>
                      <option disabled selected>Select Work location</option>
                      <option *ngFor="let office of officeLocationsList" [ngValue]="office">{{office.location}}</option>
                    </select>
                    <div *ngIf="generateErForm.submitted && workLocation.invalid" class="invalid-feedback">
                      <div *ngIf="workLocation.errors.required">Work Location is required</div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="">Resource Allocation</label>
                    <select class="form-control form-control-sm" name="resourceAllocation"
                      [(ngModel)]="generateForm.resourceAllocation" #resourceAllocation="ngModel"
                      [ngClass]="{ 'is-invalid': generateErForm.submitted && resourceAllocation.invalid }" required>
                      <option disabled selected>Select Resource Allocation</option>
                      <option *ngFor="let resource of resourceAllocationsList" [ngValue]="resource">
                        {{resource.resouceAllocationName}}</option>
                    </select>
                    <div *ngIf="generateErForm.submitted && resourceAllocation.invalid" class="invalid-feedback">
                      <div *ngIf="resourceAllocation.errors.required">Resource Allocation is required</div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="">Requisition Category</label>
                    <select class="form-control form-control-sm" name="requisitionCategory"
                      [(ngModel)]="generateForm.requisitionCategory" #requisitionCategory="ngModel"
                      [ngClass]="{ 'is-invalid': generateErForm.submitted && requisitionCategory.invalid }" required>
                      <option disabled selected>Select Option</option>
                      <option value="Manage Services" selected>Manage Services</option>
                      <option value="Resource Augmentation">Resource Augmentation</option>
                      <option value="Internal">Internal</option>
                    </select>
                    <div *ngIf="generateErForm.submitted && requisitionCategory.invalid" class="invalid-feedback">
                      <div *ngIf="requisitionCategory.errors.required">Requisition Category is required</div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="">Select Currency</label>
                    <select class="form-control-sm form-control" name="currency" [(ngModel)]="generateForm.currency"
                      #currency="ngModel" [ngClass]="{ 'is-invalid': generateErForm.submitted && currency.invalid }"
                      required>
                      <option value="INR" selected>INR</option>
                      <option value="USD">USD</option>
                      <option value="Rand">Rand</option>
                    </select>
                    <div *ngIf="generateErForm.submitted && currency.invalid" class="invalid-feedback">
                      <div *ngIf="currency.errors.required">Currency is required</div>
                    </div>
                  </div>
                </div>

              </div>

            </form> -->


            <form name="form" #generateErForm="ngForm">
              <div class="row mt-2">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="">Project Name</label>
                    <input type="text" class="form-control form-control-sm" placeholder="project name"
                      name="projectName" [(ngModel)]="generateForm.projectName" #projectName="ngModel"
                      [ngClass]="{ 'is-invalid': generateErForm.submitted && projectName.invalid }" required>
                    <div *ngIf="generateErForm.submitted && projectName.invalid" class="invalid-feedback">
                      <div *ngIf="projectName.errors.required">Project Name is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="">Project Duration</label>
                    <input type="number" class="form-control form-control-sm" placeholder="project Duration (In Months)"
                      name="projectDuration" [(ngModel)]="generateForm.projectDuration" #projectDuration="ngModel"
                      [ngClass]="{ 'is-invalid': generateErForm.submitted && projectDuration.invalid }" required>
                    <div *ngIf="generateErForm.submitted && projectDuration.invalid" class="invalid-feedback">
                      <div *ngIf="projectDuration.errors.required">Project Duration is required</div>
                    </div>
                  </div>
                </div>

             <!--    <div class="col-md-12 mt-3">
                  <h6 class="darkcolor pull-left">Add Business Head</h6>
                </div> -->

                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="">Business Unit Head</label>
                        <ng-multiselect-dropdown [placeholder]="'Business Unit Head'" [data]="buHeaddropdownList"
                          [(ngModel)]="generateErForm.buhead" [settings]="dropdownSettings"
                          (onSelect)="onItemSelectBuHead($event)" (onSelectAll)="onSelectAllBuHead($event)" name="buhead"
                          #buhead="ngModel" [ngClass]="{ 'is-invalid': generateErForm.submitted && buhead.invalid }"
                          required>
                        </ng-multiselect-dropdown>
                        <div *ngIf="generateErForm.submitted && buhead.invalid" class="invalid-feedback">
                          <div *ngIf="buhead.errors.required">BuHead is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="">Sales SPOC</label>
                        <ng-multiselect-dropdown [placeholder]="'Sales SPOC'" [data]="salesSPOCdropdownList"
                          [(ngModel)]="generateErForm.salesSPOC" [settings]="dropdownSettings"
                          (onSelect)="onItemSelectSalesSPOC($event)" (onSelectAll)="onSelectAllSalesSPOC($event)" name="salesSPOC"
                          #salesSPOC="ngModel"
                          [ngClass]="{ 'is-invalid': generateErForm.submitted && salesSPOC.invalid }" required>
                        </ng-multiselect-dropdown>
                        <div *ngIf="generateErForm.submitted && salesSPOC.invalid" class="invalid-feedback">
                          <div *ngIf="salesSPOC.errors.required">Sales SPOC is required</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="col-md-3">
                  <div class="form-group">
                    <label for="">Sales SPOC</label>
                    <input type="number" class="form-control form-control-sm" placeholder="Sales SPOC" name="salesSPOC"
                      [(ngModel)]="generateForm.salesSPOC" #salesSPOC="ngModel"
                      [ngClass]="{ 'is-invalid': generateErForm.submitted && salesSPOC.invalid }" required>
                    <div *ngIf="generateErForm.submitted && salesSPOC.invalid" class="invalid-feedback">
                      <div *ngIf="salesSPOC.errors.required">Sales SPOC is required</div>
                    </div>
                  </div>
                </div> -->
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="">Primary Client</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Primary Client"
                      name="primaryClient" [(ngModel)]="generateForm.primaryClient" #primaryClient="ngModel"
                      [ngClass]="{ 'is-invalid': generateErForm.submitted && primaryClient.invalid }" required>
                    <div *ngIf="generateErForm.submitted && primaryClient.invalid" class="invalid-feedback">
                      <div *ngIf="primaryClient.errors.required">Primary Client is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="">End Client Name</label>
                    <input type="text" class="form-control form-control-sm" placeholder="End Client Name"
                      name="endClient" [(ngModel)]="generateForm.endClient" #endClient="ngModel"
                      [ngClass]="{ 'is-invalid': generateErForm.submitted && endClient.invalid }" required>
                    <div *ngIf="generateErForm.submitted && endClient.invalid" class="invalid-feedback">
                      <div *ngIf="endClient.errors.required">End Client is required</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="">No. of Position</label>
                    <input type="number" class="form-control form-control-sm" placeholder="No. of Position"
                      name="totalPosition" [(ngModel)]="generateForm.totalPosition" #totalPosition="ngModel"
                      [ngClass]="{ 'is-invalid': generateErForm.submitted && totalPosition.invalid }" required>
                    <div *ngIf="generateErForm.submitted && totalPosition.invalid" class="invalid-feedback">
                      <div *ngIf="totalPosition.errors.required">No. of position is required</div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="">Max Budget</label>
                    <input type="number" class="form-control form-control-sm" placeholder="Max Budget" name="maxBudget"
                      [(ngModel)]="generateForm.maxBudget" #maxBudget="ngModel"
                      [ngClass]="{ 'is-invalid': generateErForm.submitted && maxBudget.invalid }" required>
                    <div *ngIf="generateErForm.submitted && maxBudget.invalid" class="invalid-feedback">
                      <div *ngIf="maxBudget.errors.required">Max budget is required</div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="">Select Billing Currency</label>
                    <select class="form-control-sm form-control" name="currency" [(ngModel)]="generateForm.currency"
                      #currency="ngModel" [ngClass]="{ 'is-invalid': generateErForm.submitted && currency.invalid }"
                      required>
                      <option value="INR" selected>INR</option>
                      <option value="USD">USD</option>
                      <option value="Rand">Rand</option>
                    </select>
                    <div *ngIf="generateErForm.submitted && currency.invalid" class="invalid-feedback">
                      <div *ngIf="currency.errors.required">Currency is required</div>
                    </div>
                  </div>
                </div>

              </div>
            </form>

            <form name="form2" #sourceAddr="ngForm">
              <div class="row mt-2" style="border-top:2px solid #999">
                <div class="col-md-12 mt-3">
                  <h6 class="darkcolor pull-left">Source Address</h6>
                  <span class="pull-right"><a class="btn btn-success btn-sm"><i class="fa fa-plus text-white"
                        (click)="addSourceAddress()"></i></a></span>
                </div>

                <div class="col-md-12" *ngFor="let srcLocation of sourceAddresses; let i=index">
                  <div class="row">
                    <!-- <div class="col-md-3">
                                  <div class="form-group">
                                    <label for="">Address</label>
                                    <input type="text" class="form-control form-control-sm" placeholder="Address"
                                      name="addressLineOne{{i}}" [(ngModel)]="srcLocation.addressLineOne" #addressLineOne="ngModel"
                                      [ngClass]="{ 'is-invalid': sourceAddr.submitted && addressLineOne.invalid }" required>
                                    <div *ngIf="sourceAddr.submitted && addressLineOne.invalid" class="invalid-feedback">
                                      <div *ngIf="addressLineOne.errors.required">Address is required</div>
                                    </div>
                                  </div>
                                </div> -->

                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="">Country</label>
                        <select class="form-control form-control-sm" name="countrysrc{{i}}" id="countrysrc{{i}}"
                          (change)="onCountryChangeSRC(country)" [(ngModel)]="srcLocation.country" #country="ngModel"
                          [ngClass]="{ 'is-invalid': sourceAddr.submitted && country.invalid }" required>
                          <option disabled selected>Select Country</option>
                          <option *ngFor="let contry of countryList" [ngValue]="contry">{{contry.name}}</option>
                        </select>
                        <div *ngIf="sourceAddr.submitted && country.invalid" class="invalid-feedback">
                          <div *ngIf="country.errors.required">Country is required</div>
                        </div>
                      </div>
                    </div>


                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="">State</label>
                        <select class="form-control form-control-sm" placeholder="State" name="Statesrc{{i}}"
                          id="Statesrc{{i}}" [(ngModel)]="srcLocation.state" #State="ngModel"
                          [ngClass]="{ 'is-invalid': sourceAddr.submitted && State.invalid }" required>
                          <option disabled selected>Select State</option>
                          <option *ngFor="let stateone of stateList" [ngValue]="stateone">{{stateone.stateName}}
                          </option>
                        </select>
                        <div *ngIf="sourceAddr.submitted && State.invalid" class="invalid-feedback">
                          <div *ngIf="State.errors.required">state is required</div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-md-2">
                                  <div class="form-group">
                                    <label for="">Zipcode</label>
                                    <input type="number" class="form-control form-control-sm" placeholder="Zipcode"
                                      name="zipCode{{i}}" [(ngModel)]="srcLocation.zipCode" #zipCode="ngModel"
                                      [ngClass]="{ 'is-invalid': sourceAddr.submitted && zipCode.invalid }" required>
                                    <div *ngIf="sourceAddr.submitted && zipCode.invalid" class="invalid-feedback">
                                      <div *ngIf="zipCode.errors.required">Zip Code is required</div>
                                    </div>
                                  </div>
                                </div> -->

                    <div class="col-md-1">
                      <div class="form-group" style="margin-top: 1.9rem!important;">

                        <button *ngIf="sourceAddresses.length > 1" class="btn btn-danger btn-sm" type="button"><i
                            class="fa fa-close text-white" (click)="deleteSourceAddress(srcLocation)"></i></button>
                      </div>
                    </div>


                  </div>

                </div>

              </div>
            </form>


            <form name="form3" #workAddr="ngForm">
              <div class="row" style="border-top:2px solid #999">
                <div class="col-md-12 mt-3">
                  <h6 class="darkcolor pull-left"> Work Address</h6>
                  <span class="pull-right"><a class="btn btn-success btn-sm"><i class="fa fa-plus text-white"
                        (click)="addWorkAddress()"></i></a></span>
                </div>

                <div class="col-md-12" *ngFor="let wrkLocation of workAddresses; let i=index">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="">Address</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Address"
                          name="addressLineOne{{i}}" [(ngModel)]="wrkLocation.addressLineOne" #addressLineOne="ngModel"
                          [ngClass]="{ 'is-invalid': workAddr.submitted && addressLineOne.invalid }" required>
                        <div *ngIf="workAddr.submitted && addressLineOne.invalid" class="invalid-feedback">
                          <div *ngIf="addressLineOne.errors.required">Address is required</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="">Country</label>
                        <select class="form-control form-control-sm" name="country{{i}}" id="country{{i}}"
                          (change)="onCountryChangeWRK(country)" [(ngModel)]="wrkLocation.country" #country="ngModel"
                          [ngClass]="{ 'is-invalid': workAddr.submitted && country.invalid }" required>
                          <option disabled selected>Select Country</option>
                          <option *ngFor="let contry of countryList" [ngValue]="contry">{{contry.name}}</option>
                        </select>
                        <div *ngIf="workAddr.submitted && country.invalid" class="invalid-feedback">
                          <div *ngIf="country.errors.required">Country is required</div>
                        </div>
                      </div>
                    </div>


                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="">State</label>
                        <select class="form-control form-control-sm" placeholder="State" name="State{{i}}"
                          id="State{{i}}" [(ngModel)]="wrkLocation.state" #State="ngModel"
                          [ngClass]="{ 'is-invalid': workAddr.submitted && State.invalid }" required>
                          <option disabled selected>Select State</option>
                          <option *ngFor="let stateone of stateListWRK" [ngValue]="stateone">{{stateone.stateName}}
                          </option>
                        </select>
                        <div *ngIf="workAddr.submitted && State.invalid" class="invalid-feedback">
                          <div *ngIf="State.errors.required">State is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="">Zipcode</label>
                        <input type="number" class="form-control form-control-sm" placeholder="Zipcode"
                          name="zipCode{{i}}" [(ngModel)]="wrkLocation.zipCode" #zipCode="ngModel"
                          [ngClass]="{ 'is-invalid': workAddr.submitted && zipCode.invalid }" required>
                        <div *ngIf="workAddr.submitted && zipCode.invalid" class="invalid-feedback">
                          <div *ngIf="zipCode.errors.required">Zip Code is required</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-1">
                      <div class="form-group" style="margin-top: 1.9rem!important;">

                        <button *ngIf="workAddresses.length > 1" class="btn btn-danger btn-sm" type="button"><i
                            class="fa fa-close text-white" (click)="deleteWorkAddress(wrkLocation)"></i></button>
                      </div>
                    </div>


                  </div>

                </div>

              </div>
            </form>



            <div class="row mb-4">
              <div class="col-md-12" style="display: flex;justify-content: center; align-items: center;">
                <button class="btn btn-sm darkblue" type="submit"
                  (click)="generateErForm.form.valid && sourceAddr.form.valid && workAddr.form.valid && generateErf()">Submit</button>
                <!-- <button class="btn btn-sm darkblue" type="reset" >Reset</button> -->
              </div>
            </div>
            <!--  -->

          </div>
        </div>


      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
</ngx-spinner>
