<div class="limiter">
	<div class="container-login100" style="background-image: url('assets/img/bg.jpg');">
		<div class="wrap-login100 bg-light">
			<span class="login100-form-logo">
				<img src="assets/img/greyHR.png" alt="" id="step1" data-intro="Welcome to your new app!">
			</span>

			<form *ngIf="isLogin" class="login100-form validate-form" (ngSubmit)="login()" #f="ngForm">
				<span class="login100-form-title mb-3 mt-3 ">
					Log in
				</span>
				<div class="wrap-input100 validate-input form-group" data-validate="Enter username" id="step2" data-intro="Welcome to your new app!">
					<input class="input100 form-control form-control-sm" type="text" name="username" placeholder="Email"
						[(ngModel)]="loginForm.username" ngModel>
				</div>
				<div class="wrap-input100 validate-input form-group" data-validate="Enter password" id="step3" data-intro="Welcome to your new app!">
					<input class="input100 form-control  form-control-sm" type="password" name="password"
						placeholder="Password" [(ngModel)]="loginForm.password" ngModel>
				</div>
				<div class="contact100-form-checkbox">
					<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
					<label class="label-checkbox100" for="ckb1">Remember me
						<span class="text-right p-t-90 pull-right">
							<a class="txt1 changeBtn" (click)="enableForgotForm()">Forgot Password?</a>
						</span>
					</label>
				</div>
				<div class="container-login100-form-btn" id="step4" data-intro="Welcome to your new app!">
					<button type="submit" class="btn btn-sm darkblue"> Login </button>
				</div>
				<div class="text-center mt-4 ">
					<span style="font-size: 13px;">You don't have an account? </span>
					<a class="txt1 changeBtn">Create Account
					</a>
				</div>
			</form>

			<div *ngIf="!isLogin">
				<span class="login100-form-title mb-3 mt-3 ">
					Forgot Password
				</span>
				<div *ngIf="forgotState.isEnterEmail">
					<div class="wrap-input100 validate-input form-group" data-validate="Enter Email">
						<input class="input100 form-control form-control-sm" type="email" name="forgotEmail"
							placeholder="Enter Email" [(ngModel)]="forgotForm.forgotEmail" ngModel
							[ngClass]="{ 'is-invalid': forgotForm.forgotEmail===''&&forgotState.misMatch }">
						<div *ngIf="forgotForm.forgotEmail===''&&forgotState.misMatch" class="invalid-feedback">
							<div>Email is required</div>
						</div>
					</div>
					<div class="container-login100-form-btn">
						<button type="button" class="btn btn-sm darkblue" (click)="sendForgotEmail()"> Next </button>
					</div>
				</div>
				<div *ngIf="forgotState.isVerifyOTP">
					<div class="wrap-input100 validate-input form-group" data-validate="Enter OTP">
						<input class="input100 form-control form-control-sm" type="text" name="otp"
							placeholder="Enter OTP" [(ngModel)]="forgotForm.otp" ngModel
							[ngClass]="{ 'is-invalid': forgotForm.otp===''&&forgotState.misMatch }">
						<div *ngIf="forgotForm.otp===''&&forgotState.misMatch" class="invalid-feedback">
							<div>OTP Verification is required</div>
						</div>
					</div>
					<div class="container-login100-form-btn">
						<button type="button" class="btn btn-sm darkblue" (click)="sendForgotOTP()"> Next </button>
					</div>
				</div>
				<form *ngIf="forgotState.isNewPassword" #fp="ngForm" (ngSubmit)="fp.form.valid && forgotPassword(fp)"
					class="login100-form validate-form">
					<div class="wrap-input100 validate-input form-group" data-validate="Enter New Password">
						<input class="input100 form-control form-control-sm" type="password" name="newPassword"
							placeholder="New Password" [(ngModel)]="forgotForm.newPassword" #newPassword="ngModel"
							[ngClass]="{ 'is-invalid': fp.submitted && (newPassword.invalid || forgotState.misMatch)}"
							required>
						<div *ngIf="fp.submitted && (newPassword.invalid || forgotState.misMatch)"
							class="invalid-feedback">
							<div *ngIf="newPassword.invalid&&newPassword.errors.required">New Password is required</div>
							<div *ngIf="forgotState.misMatch">New Password not matched</div>
						</div>
					</div>
					<div class="wrap-input100 validate-input form-group" data-validate="Enter Confirm Password">
						<input class="input100 form-control  form-control-sm" type="password" name="confirmPassword"
							placeholder="Confirm Password" [(ngModel)]="forgotForm.confirmPassword"
							#confirmPassword="ngModel"
							[ngClass]="{ 'is-invalid': fp.submitted && (confirmPassword.invalid || forgotState.misMatch) }"
							required>
						<div *ngIf="fp.submitted && (confirmPassword.invalid || forgotState.misMatch)"
							class="invalid-feedback">
							<div *ngIf="confirmPassword.invalid&&confirmPassword.errors.required">Confirm Password is
								required</div>
							<div *ngIf="forgotState.misMatch">Confirm Password not matched</div>
						</div>
					</div>
					<div class="container-login100-form-btn">
						<button type="submit" class="btn btn-sm darkblue"> Submit </button>
					</div>
				</form>

				<div class="text-center mt-4 ">
					<span style="font-size: 13px;">You have an account? </span>
					<a class="txt1 changeBtn" (click)="enableLoginForm()"> Login
					</a>
				</div>

			</div>
		</div>
	</div>
</div>

<ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
</ngx-spinner>