<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column  bg-white">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-header></app-header>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Feedback View</h1>
        </div>
        <!-- Content Row -->
        <div class="row">
          <div class="col-md-3">
            <h5 class="headtext">Interviewer Name</h5>
            <p style="font-size:12px">ABC</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Job Title</h5>
            <p style="font-size:12px">ABC</p>
          </div>
          <div class="col-md-6">
            <a [routerLink]="['/feedback']"><i class="fa fa-edit text-success pull-right"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3 mt-3">
            <h6>Candidate Detail</h6>
            <hr>
          </div>
          <div class="col-md-4">
            <h5 class="headtext">Applicant Name :</h5>
            <p style="font-size:12px">ABC</p>
          </div>
          <div class="col-md-4">
            <h5 class="headtext">Date</h5>
            <p style="font-size:12px">12/02/2020</p>
          </div>
          <div class="col-md-4">
            <h5 class="headtext">Mode of Interview: </h5>
            <p style="font-size:12px"> Face to Face</p>
          </div>

          <div class="col-md-12 mb-3 mt-3">
            <h6>Interviewing Skill/Track</h6>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <h5 class="headtext">Skill 1</h5>
            <p style="font-size:12px">ABC</p>
          </div>

          <div class="col-md-4">
            <h5 class="headtext">Skill 2</h5>
            <p style="font-size:12px">ABC</p>
          </div>

          <div class="col-md-4">
            <h5 class="headtext">Skill 3</h5>
            <p style="font-size:12px">ABC</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h5 class="headtext">Communication Skills</h5>
            <p style="font-size:12px">ABC</p>
          </div>
          <div class="col-md-4">
            <h5 class="headtext">Cultural Fitment</h5>
            <p style="font-size:12px">ABC</p>
          </div>
          <div class="col-md-4">
            <h5 class="headtext">Managerial/Supervisor Skills</h5>
            <p style="font-size:12px">ABC</p>
          </div>
          <div class="col-md-4">
            <h5 class="headtext">Total Experience</h5>
            <p style="font-size:12px">ABC</p>
          </div>
          <div class="col-md-4">
            <h5 class="headtext">Relevant Experience</h5>
            <p style="font-size:12px">ABC</p>
          </div>
          <div class="col-md-4">
            <h5 class="headtext">Technical Comment</h5>
            <p style="font-size:12px">ABC</p>
          </div>
          <div class="col-md-4">
            <h5 class="headtext">Result</h5>
            <p style="font-size:12px">ABC</p>
          </div>
          <div class="col-md-4">
            <h5 class="headtext">Suitable for other Role :</h5>
            <p style="font-size:12px">ABC</p>
          </div>

        </div>

      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>