<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column  bg-white">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-header></app-header>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Assigned Resume of Project {{jdId}}</h1>
        </div>

        <!-- alredy assigned resumes -->
        <div class="mt-3" *ngIf="allAssignedResumes.length != 0">
          <div class="row justify-content-center">
            <div class="col-md-3 border m-1" *ngFor="let resume of allAssignedResumes; let i=index">
              <p class="frmpara">{{resume.resumeData.candidateFirstName}} {{resume.resumeData.candidateLastName}}</p>
              <p class="frmpara">{{resume.resumeData.email}}</p>
              <p class="frmpara">{{resume.resumeData.phone}}</p>
              <p class="frmpara">{{resume.resumeData.domain}}</p>
              <p><button  *ngIf="SeeResume===true" class="btn btn-sm btn-warning mt-3 f12">See Resume</button></p>
            </div>
          </div>
        </div>

      </div>

    </div>

    <app-footer></app-footer>

  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
<ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
</ngx-spinner>