<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column bg-white">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-header></app-header>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Update Joining Data</h1>
          <a class="pull-right btn btn-sm btn-secondary mt-2 ml-2 text-white">Status</a>
        </div>
        <!-- Content Row -->
        <div class="row">
          <div class="col-md-6 mb-2">
            <ul class="nav joinNav">
              <li  *ngIf="joiningDataFeedbackView===true" class="nav-item">
                <a  class="nav-link joinLink" [routerLink]="['/join-set-feedack/', jdId,resumeId]"> View Feedback</a>
              </li>
              <li *ngIf="joiinindDataJdView===true" class="nav-item">
                <a class="nav-link joinLink" data-toggle="modal" data-target="#viewJd" (click)="getJDbyId(id)">View
                  Jd</a>
              </li>
            </ul>
          </div>
          <div  class="col-md-6 mb-2">
            <a *ngIf="offerRelease === true" [ngClass]="approved_status === 'OFFERREJECT' || approved_status === 'OFFERRELEASE' ? 'disabled' : ''" class="pull-right btn btn-sm btn-warning mt-2 text-white ml-2" (click)="getReleaseOffer()">Release Offer</a>
           
            <a *ngIf="OFFERCONTROL === true"  [ngClass]="approved_status === 'OFFERAPPROVE' || approved_status === 'OFFERREJECT' || approved_status === 'OFFERRELEASE' ? 'disabled' : ''"
            class="pull-right btn btn-sm btn-danger mt-2 text-white ml-2" data-toggle="modal"data-target="#reject">Reject</a>
              <!--  -->
            
              <a *ngIf="OFFERCONTROL === true" [ngClass]="approved_status === 'OFFERAPPROVE' || approved_status === 'OFFERREJECT' || approved_status === 'OFFERRELEASE' ? 'disabled' : ''" 
            class="pull-right btn btn-sm btn-success mt-2 text-white ml-2" (click)="approveOffer()">Approve</a>
          </div>

          <div class="col-md-12 bg-lightgray">
            <div *ngIf="JOININGDATAUPDATE===true" >
              <a class="pull-right btn btn-sm btn-success mt-2" data-toggle="modal" data-target="#editoffers"><i
                  class="fa fa-plus text-white"></i></a>
            </div>
            <div class="row mt-4" *ngIf="joinData">
              <div class="col-md-3">
                <h6 style="color:#000">Joining Date</h6>
                <p style="color:rgb(53, 53, 53); font-size:12px">{{joinData.joiningDate}}</p>
              </div>
              <div class="col-md-3">
                <h6 style="color:#000">Select Offer Type</h6>
                <p style="color:rgb(53, 53, 53); font-size:12px">{{joinData.offerType}}</p>
              </div>
              <div class="col-md-3">
                <h6 style="color:#000">Reference Id</h6>
                <p style="color:rgb(53, 53, 53); font-size:12px">{{joinData.referenceId}}</p>
              </div>
              <div class="col-md-3">
                <h6 style="color:#000">Designation</h6>
                <p style="color:rgb(53, 53, 53); font-size:12px">{{joinData.designation}}</p>
              </div>
              <div class="col-md-3">
                <h6 style="color:#000">Designation Type</h6>
                <p style="color:rgb(53, 53, 53); font-size:12px"> {{joinData.designationType}}</p>
              </div>
              <div class="col-md-3">
                <h6 style="color:#000">Amount</h6>
                <p style="color:rgb(53, 53, 53); font-size:12px">{{joinData.amount}} {{joinData.currency}}</p>
              </div>
              <div class="col-md-3">
                <h6 style="color:#000">Pay Type</h6>
                <p style="color:rgb(53, 53, 53); font-size:12px">{{joinData.payType}}</p>
              </div>
              <div class="col-md-3">
                <h6 style="color:#000">APLB</h6>
                <p style="color:rgb(53, 53, 53); font-size:12px">{{joinData.dataAPLB}}</p>
              </div>

            </div>
          </div>

          <div class="col-md-12 mt-2" style="display: none;">
            <a class="pull-right btn btn-sm btn-success" data-toggle="modal" data-target="#addoffers"><i
                class="fa fa-plus text-white"></i></a>
          </div>

          <div *ngIf="JOININGDATAVIEW===true"class="col-md-12 mt-4">
            <h6 class="text-center"><b>Salary Structure</b></h6>
            <div class="table-responsive">
              <table class="table table-bordered table-sm f12">
                <thead>
                  <tr>
                    <th>Particulars</th>
                    <th>Monthly</th>
                    <th>Annualized</th>
                  </tr>
                </thead>
                <!-- kamesh -->
                <tbody *ngFor="let SalaryStructure of salaryStructure">
                  <tr>
                    <td colspan="3" class="bg-info text-white">{{SalaryStructure.name}}</td>
                  </tr>
                  <tr *ngFor="let row of SalaryStructure.rows">
                    <td>{{row.name}}</td>
                    <td>{{row.monthly}} </td>
                    <td>{{row.annual}}</td>
                  </tr>
                </tbody>
                <!--Kamesh  -->
              </table>
            </div>
          </div>

          <div class="col-md-12 mt-4" style="display: none;">
            <h6 class="text-center"><b>Salary Structure</b></h6>
            <div class="table-responsive">
              <table class="table table-bordered table-sm f12">
                <thead>
                  <tr>
                    <th>Particulars</th>
                    <th>Monthly</th>
                    <th>Annualized</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="3" class="bg-info text-white">Part A (Fixed Components)</td>
                  </tr>
                  <tr>
                    <td>Basic</td>
                    <td>10000 </td>
                    <td>120000</td>
                  </tr>
                  <tr>
                    <td>HRA</td>
                    <td>5000 </td>
                    <td>60000</td>
                  </tr>
                  <tr>
                    <td>Compensatory Allowance</td>
                    <td>8819 </td>
                    <td>105828</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="bg-info text-white">Part B (Allowances)</td>
                  </tr>
                  <tr>
                    <td>Internet Allowance</td>
                    <td>10000 </td>
                    <td>120000</td>
                  </tr>
                  <tr>
                    <td>Medical Allowance</td>
                    <td>10000 </td>
                    <td>120000</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="bg-info text-white">Part C (MPLB*)</td>
                  </tr>
                  <tr>
                    <td>Monthly Performance Linked Bonus*</td>
                    <td>10000 </td>
                    <td>120000</td>
                  </tr>
                  <tr class="bg-warning text-white">
                    <td>Gross Salary (Part A + Part B+ Part C)</td>
                    <td>10000 </td>
                    <td>120000</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="bg-info text-white">Part D (Retirals & Benefits)</td>
                  </tr>
                  <tr>
                    <td>PF (Provident Fund) - Employer Contribution</td>
                    <td>10000 </td>
                    <td>120000</td>
                  </tr>
                  <tr>
                    <td>Gratuity</td>
                    <td>10000 </td>
                    <td>120000</td>
                  </tr>
                  <tr>
                    <td>ESIC - Employer Contribution</td>
                    <td>10000 </td>
                    <td>120000</td>
                  </tr>
                  <tr class="bg-warning text-white">
                    <td>Total CTC</td>
                    <td>10000 </td>
                    <td>120000</td>
                  </tr>
                  <tr class="bg-primary text-white">
                    <td>Total CTC</td>
                    <td colspan="2" class="text-center">120000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- The Modal -->
<div class="modal" id="editoffers">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Data</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="addJoinForm" (ngSubmit)="joinSubmit()" novalidate>
          <div class="row mt-2">

            <div class="col-md-6">
              <div class="form-group">
                <label for="">Joining Date</label>
                <input type="date" class="form-control form-control-sm" formControlName="joiningDate"
                  [ngClass]="{ 'is-invalid': submitted && f.joiningDate.errors }" required>
                <div *ngIf="submitted && f.joiningDate.errors" class="invalid-feedback">
                  <div *ngIf="f.joiningDate.errors.required">Joining Date is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Select Offer Type</label>
                <select class="form-control form-control-sm" formControlName="offerType"
                  [ngClass]="{'is-invalid': submitted && f.offerType.errors}" required>
                  <option disabled selected>Select Offer Type</option>
                  <option value="Type 1">Type 1</option>
                  <option value="Type 2">Type 2</option>
                  <option value="Type 3">Type 3</option>
                  <option value="Type 4">Type 4</option>
                </select>
                <div *ngIf="submitted && f.offerType.errors" class="invalid-feedback">
                  <div *ngIf="f.offerType.errors.required">Offer Type is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Reference Id</label>
                <input type="text" class="form-control form-control-sm" placeholder="Reference Id"
                  formControlName="referenceId" [ngClass]="{'is-invalid': submitted && f.referenceId.errors}" required>
                <div *ngIf="submitted && f.referenceId.errors" class="invalid-feedback">
                  <div *ngIf="f.referenceId.errors.required">Reference Id is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Designation</label>
                <input type="text" class="form-control form-control-sm" placeholder="Designation"
                  formControlName="designation" [ngClass]="{'is-invalid': submitted && f.designation.errors}" required>
                <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
                  <div *ngIf="f.designation.errors.required">Designation is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Designation Type</label>
                <input type="text" class="form-control form-control-sm" placeholder="Designation Type"
                  formControlName="designationType" [ngClass]="{'is-invalid': submitted && f.designationType.errors}"
                  required>
                <div *ngIf="submitted && f.designationType.errors" class="invalid-feedback">
                  <div *ngIf="f.designationType.errors.required">Designation Type is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Amount</label>
                <input type="text" class="form-control form-control-sm" placeholder="Amount" formControlName="amount"
                  [ngClass]="{'is-invalid': submitted && f.amount.errors}" required>
                <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                  <div *ngIf="f.amount.errors.required">Amount is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">APLB</label>
                <select class="form-control form-control-sm" formControlName="dataAPLB"
                  [ngClass]="{'is-invalid': submitted && f.dataAPLB.errors}" required>
                  <option disabled>Select APLB</option>
                  <option value="10%">10%</option>
                  <option value="12%">12%</option>
                </select>
                <div *ngIf="submitted && f.dataAPLB.errors" class="invalid-feedback">
                  <div *ngIf="f.dataAPLB.errors.required">APLB is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Pay Type</label>
                <select class="form-control form-control-sm" formControlName="payType"
                  [ngClass]="{'is-invalid': submitted && f.payType.errors}" required>
                  <option disabled>Select Pay Type</option>
                  <option value="Standard_IND">Standard IND</option>
                  <option value="Standard_4L_IND">Standard 4L IND</option>
                  <option value="ESIC_IND">ESIC IND</option>
                </select>
                <div *ngIf="submitted && f.payType.errors" class="invalid-feedback">
                  <div *ngIf="f.payType.errors.required">Pay Type is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Currency</label>
                <select class="form-control form-control-sm" formControlName="currency"
                  [ngClass]="{'is-invalid': submitted && f.currency.errors}" required>
                  <option disabled>Select Currency </option>
                  <option value="INR">INR</option>
                  <option value="USD">USD</option>
                  <option value="RAND">RAND</option>
                </select>
                <div *ngIf="submitted && f.currency.errors" class="invalid-feedback">
                  <div *ngIf="f.currency.errors.required">Offer Type is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-12 d-flex justify-content-center align-items-center">
              <button class="btn btn-sm btn-success"> Submit</button>
            </div>

          </div>
        </form>

      </div>
    </div>
  </div>
</div>
<!-- End Add Job Description-->

<!-- The Modal -->
<div class="modal" id="reject">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <!-- <h4 class="modal-title">Add Data</h4> -->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">

          <div class="row mt-2">
            <div class="col-md-12">
              <div class="form-group">
                <label for="">Reason On Rejection</label>
                <input type="text" name="rejectReason" id="rejectReason" [(ngModel)]="rejectReason" class="form-control form-control-sm">
              </div>
            </div>
            <div class="col-md-12 d-flex justify-content-center align-items-center">
              <button class="btn btn-sm btn-success"  (click)="rejectJoining()">Submit</button>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>
<!-- End Add Job Description-->

<!--view jd-->
<div class="modal" id="viewJd">
  <div class="modal-dialog modal-lg" *ngIf="jd">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{jd.jdName}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <!-- *ngIf="resumeLink"
             <iframe width="100%" height="500px" [src]="sanitizer.bypassSecurityTrustResourceUrl(resumeLink)"></iframe> -->

        <!-- Content Row -->
        <div class="row mt-2">
          <div class="col-md-12" style="font-size: 12px;">

            <article>
              <div style="color: #000; font-size: 13px;" class="mb-4">
                <span class="text-black mr-4"><b>No. of Employess : </b>45</span>
                <span class="text-black  mr-4"><b>Experience : </b> {{jd.maxExprience}}</span>
                <span class="text-black mr-4"><b>Wage Type : </b> {{jd.wageType}}</span>
                <!-- <span class="text-black mr-4"><b>Work Type </b>  Full Type</span> -->
              </div>
              <div style="color: #000; font-size: 13px;" class="mt-4 mb-4">
                <span class="text-black mr-4"><b>Work Location : </b> {{jd.workLocation.addressLineOne}}
                  {{jd.workLocation.state.stateName}} {{jd.workLocation.country.niceName}}</span>
                <span class="text-black mr-4"><b>Source Location : </b> {{jd.sourceLocation.addressLineOne}}
                  {{jd.sourceLocation.state.stateName}} {{jd.sourceLocation.country.niceName}}</span>
              </div>

              <!-- <div style="color: #000; font-size: 13px;" class="mt-4 mb-4">
                     <span class="text-black mr-4"><b>Resource Allocation : </b>
                      Management</span>
                      <span class="text-black mr-4"><b>Requisition Category :</b>
                        Manage Service</span>
                        <span class="text-black mr-4"><b>Visa : </b>
                          South Africa</span>
                          <span class="text-black mr-4"><b>Competence Level </b>
                            ACGDhgsajg</span>
                       
                </div> -->
            </article>

            <section>
              <h6 class="darkcolor">Job Description</h6>
              <article>
                <quill-view-html [content]="jd.body" theme="snow"></quill-view-html>
              </article>
              <hr />
            </section>

            <section class="mt-4">
              <h6 class="darkcolor">Additional Detail</h6>
              <article>
                <p>{{jd.additionalDetail}}</p>
              </article>
              <hr />
            </section>

            <section class="mt-4">
              <h6 class="darkcolor">Domain</h6>
              <article>{{jd.domain}}</article>
              <hr />
            </section>

            <section>
              <h6 class="darkcolor">Additional Category</h6>
              <article>
                <a class="btn btn-info btn-sm m-2 text-white" style="font-size:10px"
                  *ngFor="let adddetail of jd.additionalCategory">{{adddetail}}</a>
              </article>
              <hr />
            </section>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
</ngx-spinner>