<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column  bg-white">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-header></app-header>
      <!-- End of Topbar -->
      <!-- Begin Page Content -->
      <div class="container-fluid" *ngIf="jobData">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Assign Recruiter Detail</h1>
          <span class="pull-right btn btn-sm btn-success text-white" data-toggle="modal" data-target="#addAssign">Assign
            to Recruiter</span>
        </div>
        <!-- Content Row -->
        <div class="row">
          <div class="col-md-3">
            <h5 class="headtext">Business Unit</h5>
            <!-- {{jobData.erf.department.departmentName}} -->
            <p style="font-size:12px">Abhik Das Gupta</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Business Unit Head</h5>
            <!-- {{jobData.erf.erfOwner.username}} -->
            <p style="font-size:12px">Application Development</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">No. of Position</h5>
            <!-- {{jobData.erf.totalPosition}} -->
            <p style="font-size:12px">{{jobData.noOfEmployee}}</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Requisition Category</h5>
            <!-- {{jobData.erf.requisitionCategory}} -->
            <p style="font-size:12px">{{jobData.requisitionCategory}}</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Project Name</h5>
            <!-- {{jobData.erf.project.projectName}} -->
            <p style="font-size:12px">{{jobData.jdName}}</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Max Budget</h5>
            <!-- {{jobData.erf.maxBudget}} -->
            <p style="font-size:12px">1500000</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Currency</h5>
            <!-- {{jobData.erf.currency}} -->
            <p style="font-size:12px">{{jobData.budget}}</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Generated Date</h5>
            <!-- {{jobData.erf.generateDate}} -->
            <p style="font-size:12px">09/05/2020 9:30 AM</p>
          </div>

          <div class="col-md-3">
            <h5 class="headtext">Work Location</h5>
            <!-- {{jobData.erf.workLocation.location}} -->
            <p style="font-size:12px" *ngIf="jobData.workLocation">
              Noida, Uttar Pradesh 201009
            </p>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12" style="font-size: 12px;">

            <article>
              <h5>{{jobData.jdName}}</h5>
              <div style="color: #000; font-size: 13px;" class="mt-4 mb-4">
                <span class="text-black mr-4"><b>No. of Employess : </b> {{jobData.noOfEmployee}}</span>
                <span class="text-black mr-4"><b>Budget : </b> {{jobData.budget}}</span>
                <span class="text-black"><b>Experience : </b> {{jobData.minExprience}} - {{jobData.maxExprience}}
                  Years</span>
              </div>
              <div style="color: #000; font-size: 13px;" class="mt-4 mb-4">
                <span class="text-black mr-4" *ngIf="jobData.workLocation"><b>Work Location : </b>
                  {{jobData.workLocation.addressLineOne}},
                  {{jobData.workLocation.addressLineTwo}},
                  {{jobData.workLocation.state.stateName}}, {{jobData.workLocation.country.niceName}},
                  {{jobData.workLocation.zipCode}}</span>
                <span class="text-black mr-4" *ngIf="jobData.sourceLocation"><b>Source Location : </b>
                  {{jobData.sourceLocation.addressLineOne}},
                  {{jobData.sourceLocation.addressLineTwo}},
                  {{jobData.sourceLocation.state.stateName}}, {{jobData.sourceLocation.country.niceName}},
                  {{jobData.sourceLocation.zipCode}}</span>
              </div>
            </article>

            <section>
              <h6 class="darkcolor">Job Description</h6>
              <article>
                <quill-view-html [content]="jobData.body" theme="snow"></quill-view-html>
              </article>
              <hr />
            </section>

            <section class="mt-4">
              <h6 class="darkcolor">Additional Detail</h6>
              <article>
                <p>{{jobData.additionalDetail}}</p>
              </article>
              <hr />
            </section>

            <section class="mt-4">
              <h6 class="darkcolor">Domain</h6>
              <article>{{jobData.domain}}</article>
              <hr />
            </section>

            <section>
              <h6 class="darkcolor">Additional Catagory</h6>
              <article>
                <span *ngFor="let oneDetail of jobData.additionalCategory" class="btn btn-info btn-sm m-2 text-white"
                  style="font-size:10px">{{oneDetail}}</span>
              </article>
              <hr />
            </section>

            <section>
              <h6 class="darkcolor">Assign Recruiter </h6>
              <article>
                <a class="btn btn-info btn-sm m-2 text-white" style="font-size:10px"
                  *ngFor="let oneRecruiter of jobData.assignedRecruiter">{{oneRecruiter.username}}</a>
              </article>
              <hr />
            </section>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<div class="modal" id="addAssign">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Assign to Recruiter</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form #editFrom="ngForm" (ngSubmit)="assignRecruiter()">
          <div class="row" style="margin-right: 0px;  margin-left: -15px;"
            *ngFor="let recruiter of recruiterDetails; let i=index">

            <div class="col-md-3">
              <div class=" form-check-inline">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" id="recruiter{{i}}" name="recruiter{{i}}"
                    (change)="selectedUser($event,recruiter)" />{{recruiter.username}}
                </label>
              </div>
            </div>

          </div>
          <div class="row mt-4" style="display: flex; justify-content: center; align-items: center;">
            <div class="co1-md-12">
              <button type="submit" class="btn btn-sm btn-warning">Assign Recruiter</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>