.modal-dialog {
    max-width: 800px !important;
    margin: 30px auto;
}

.form-check-inline {
    background: #f5f3f3;
    padding: 7px;
    margin: 5px;
    font-size:11px;
    border:1px solid #dad4d4;
    border-radius:5px;
    width: 100%;
}

.form-check-label {
     padding-left: 0rem !important;
}