<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center bg-white">
    <div class="sidebar-brand-text mx-3"><img src="assets/img/greyHR.png" alt="" class="img-fluid"></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" [routerLink]="['/dashboard']">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading"> Page Link </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true"
      aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Projects</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" *ngIf="projectGenerate=== true" [routerLink]="['/generate-project']"><i class="fas fa-angle-double-right"></i> Project
          Generate</a>

        <a class="collapse-item" [routerLink]="['/view-project']"> <i class="fas fa-angle-double-right"></i> Project
          View</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilitiesresume"
      aria-expanded="true" aria-controls="collapseUtilitiesresume"><i class="fas fa-fw fa-file"></i>
      <span>Candidate</span> </a>
    <div id="collapseUtilitiesresume" class="collapse" aria-labelledby="headingUtilities"
      data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" [routerLink]="['/upload-resume']">
          <i class="fas fa-angle-double-right"></i> Upload New Candidate
        </a>
        <a *ngIf="recruiterasssigntoJd===true" class="collapse-item" [routerLink]="['/assign-resume']">
          <i class="fas fa-angle-double-right"></i> Assign Candidate To JD
        </a>
        <a *ngIf="ErfAction=== true" class="collapse-item" [routerLink]="['/resume-action']">
          <i class="fas fa-angle-double-right"></i> ERF Action
        </a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a *ngIf="assignRecruiter===true" class="nav-link collapsed" [routerLink]="['/assign-recruiter']">
      <i class="fas fa-file-image-o"></i><span> Assign Recruiter </span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" [routerLink]="['/job-description']">
      <i class="fas fa-file-text"></i><span> ERF </span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" [routerLink]="['/offers']">
      <i class="fas fa-files-o"></i><span> Offers </span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" [routerLink]="['/admin-settings']">
      <i class="fas fa-user-cog"></i><span> Admin Settings </span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" [routerLink]="['/report']">
      <i class="fas fa-pencil-square-o"></i><span> Generate Report </span>
    </a>
  </li>
  <!--li class="nav-item">
    <a class="nav-link collapsed" [routerLink]="['/external-feedback',token]">
      <i class="fas fa-pencil-square-o"></i><span> Externalfeedback </span>
    </a>
  </li-->

</ul>
<!-- fa-fw fa-upload -->
<!-- End of Sidebar -->