
ul li{font-size:14px; list-style-type: disc !important;}
ul{margin-left: 6%;}

@media (min-width: 576px){
.modal-dialog {
    max-width: 60%;
    margin: 1.75rem auto;
}
}

h4.modal-title{font-size:14px}
.bg-lightgray{background: #e7e8e8;}

tag-input{border: 1px solid #d1d3e2;border-radius: .2rem;}

.ng2-tag-input__text-input{background: transparent !important;}
.ng2-tag-input__text-input::placeholder{color: #333;}

.boxstyle{background: #eee; padding:10px; margin-bottom:10px}
