<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column bg-white">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-header></app-header>
      <!-- End of Topbar -->
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-12">
            <h5>Project Status</h5>
          </div>
          <div class="col-md-12">
            <div class="pull-right">
              <a  class="btn btn-success btn-sm text-white">{{statusModel}}</a>&nbsp;&nbsp;
              <select *ngIf="projectStatus===true" class="btn btn-primary btn-sm text-white" name="projectStatus" [(ngModel)]="statusModel"
                (change)="onStatusChange($event)">
                <option value="PENDING">Pending</option>
                <option value="OPEN">Open</option>
                <option value="ONHOLD">On Hold</option>
                <option value="CLOSE">Close</option>
              </select>
            </div>
          </div>
        </div>

        <div id="accordion">
          <!-- details erf start here -->

          <div class="card" *ngIf="projectView===true">
            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              <h5 class="mb-0">
                <button class="btn btn-link">
                  Project Detail
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <div class="row" *ngIf="erfDetails">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-12">
                        <button *ngIf="projectUpdate===true" class="pull-right btn btn-success btn-sm mb-3" data-toggle="modal"
                          data-target="#editproject" (click)="editProjectDetailsMod(erfDetails)"><i
                            class="fa fa-edit"></i></button>
                      </div>

                      <div class="col-md-3">
                        <h5 class="headtext">Project Name</h5>
                        <p style="font-size:12px">{{erfDetails.projectName}}</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Project Duration</h5>
                        <p style="font-size:12px">{{erfDetails.projectDuration}} Month</p>
                      </div>
                      <div class="col-md-12">
                        <h5 class="headtext">Approved By</h5>
                        <p style="font-size:12px"> <a class="btn btn-info btn-sm m-2 text-white"
                            style="font-size:10px">Name1</a>,
                          <a class="btn btn-info btn-sm m-2 text-white" style="font-size:10px">Name1</a></p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">No. of Position</h5>
                        <p style="font-size:12px">{{erfDetails.totalPosition}}</p>
                      </div>

                      <div class="col-md-3">
                        <h5 class="headtext">Max Budget</h5>
                        <p style="font-size:12px">{{erfDetails.maxBudget}}</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Billing Currency</h5>
                        <p style="font-size:12px">{{erfDetails.currency}}</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Generated Date</h5>
                        <p style="font-size:12px">{{erfDetails.generateDate}}</p>
                      </div>

                      <div class="col-md-3">
                        <h5 class="headtext">Approved Date</h5>
                        <p style="font-size:12px">1/05/2020</p>
                      </div>
                    </div>

                    <hr />
                    <div class="row">
                      <div class="col-md-12">
                        <h6 class="darkcolor"> Business Unit Details</h6>
                      </div>

                      <div class="col-md-12">
                        <div class="row bg-lightgray m-2 p-2 " *ngFor="let buhead of erfDetails.buhead">
                          <div class="col-md-3 ">
                            <h5 class="headtext">Business Unit Head</h5>
                            <p style="font-size:12px">{{buhead.name}}</p>
                          </div>
                          <div class="col-md-3">
                            <h5 class="headtext">Emp ID</h5>
                            <p style="font-size:12px">{{buhead.sapId}}</p>
                          </div>
                          <div class="col-md-3">
                            <h5 class="headtext">Department</h5>
                            <p style="font-size:12px">{{buhead.deparment}}</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <hr />
                    <div class="row">
                      <div class="col-md-12">
                        <h6 class="darkcolor"> Source Addresses</h6>
                      </div>

                      <div class="col-md-12" *ngIf="erfDetails">
                        <div class="row bg-lightgray m-2 p-2 " *ngFor="let srclocation of erfDetails.sourceAddresses">
                          <div class="col-md-3 ">
                            <h5 class="headtext">Address</h5>
                            <p style="font-size:12px">{{srclocation.addressLineOne}}</p>

                          </div>
                          <div class="col-md-3">
                            <h5 class="headtext">Country</h5>
                            <p style="font-size:12px">{{srclocation.country}}</p>
                          </div>
                          <div class="col-md-3">
                            <h5 class="headtext">State</h5>
                            <p style="font-size:12px">{{srclocation.state}}</p>
                          </div>
                          <div class="col-md-3">
                            <h5 class="headtext">Zipcode</h5>
                            <p style="font-size:12px">{{srclocation.zipCode}}</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <hr />
                    <div class="row">
                      <div class="col-md-12">
                        <h6 class="darkcolor"> Work Addresses</h6>
                      </div>

                      <div class="col-md-12" *ngIf="erfDetails">
                        <div class="row bg-lightgray m-2 p-2 " *ngFor="let wrklocation of erfDetails.workAddresses">

                          <div class="col-md-3">
                            <h5 class="headtext">Address</h5>
                            <p style="font-size:12px">{{wrklocation.addressLineOne}}</p>
                          </div>
                          <div class="col-md-3">
                            <h5 class="headtext">Country</h5>
                            <p style="font-size:12px">{{wrklocation.country}}</p>
                          </div>
                          <div class="col-md-3">
                            <h5 class="headtext">State</h5>
                            <p style="font-size:12px">{{wrklocation.state}}</p>
                          </div>
                          <div class="col-md-3">
                            <h5 class="headtext">Zipcode</h5>
                            <p style="font-size:12px">{{wrklocation.zipCode}}</p>
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- details erf end here -->

          <!-- add track lead start here -->
          <div class="card">
            <div *ngIf="trackLeadView===true" class="card-header collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo" (click)="getDetailTrackLead()">
              <h5 class="mb-0">
                <button class="btn btn-link">
                  Add Track Lead
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <div class="row">

                  <div class="col-md-12">
                    <a *ngIf="trackLeadUpdate===true" class="pull-right" data-toggle="modal" data-target="#addAssignModal"><i
                        class="fa fa-plus-square text-success" ></i></a>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 mb-2">
                    <p style="font-size:12px">This ERF doesn't have track leads asssigned Click on <i
                        class="fa fa-plus-square"></i> button icon</p>
                  </div>
                </div>

                <div class="row bg-lightgray p-2 m-2" *ngFor="let lead of trackLeadList">
                  <div class="col-md-2">
                    <h5 class="headtext">Name</h5>
                    <p style="font-size:12px">{{lead.user.username}}</p>
                  </div>
                  <div class="col-md-2">
                    <h5 class="headtext">Emp Id</h5>
                    <p style="font-size:12px">{{lead.user.sapId}}</p>
                  </div>

                  <div class="col-md-2">
                    <h5 class="headtext">Domain</h5>
                    <span *ngFor="let domain of lead.domainsArray">
                      <span style="font-size:12px">{{domain + ', '}}</span>
                    </span>
                  </div>

                  <div class="col-md-2">
                    <h5 class="headtext">Max Budget</h5>
                    <p style="font-size:12px">{{lead.budget}}</p>
                  </div>

                  <div class="col-md-2">
                    <h5 class="headtext">Currency Type</h5>
                    <p style="font-size:12px">{{lead.currencyType}}</p>
                  </div>

                  <!-- <div class="col-md-2">
                    <h5 class="headtext">Billed</h5>
                    <p style="font-size:12px">Yes</p>
                  </div> -->

                  <div class="col-md-2">
                    <h5 class="headtext">Positionss</h5>
                    <p style="font-size:12px">{{lead.position}}</p>

                  </div>

                  <div class="col-md-10">
                    <div class="pull-right">
                      <a data-toggle="modal" data-target="#editAssignModal"><i *ngIf="trackLeadUpdate===true"
                          class="fa fa-edit mr-1 text-success"></i></a>
                      <a *ngIf="trackLeadUpdate===true"><i class="fa fa-trash text-danger"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- add atrack lead end here -->

          <!-- job description start here -->
          <div class="card">
            <div *ngIf="jobdescriptionView===true" class="card-header collapsed" id="headingThree" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree" (click)="jobDescriptionData()">
              <h5 class="mb-0">
                <button class="btn btn-link ">
                  Job Description
                </button>
              </h5>
            </div>

            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">

                      <div class="col-md-6" style="border-bottom:2px solid #333">

                      </div>
                      <div *ngIf="jobdescriptionAdd===true" class="col-md-6" style="border-bottom:2px solid #333">
                        <a class="pull-right mb-3" data-toggle="modal" data-target="#addJobModal"
                          (click)="allWorkAndSourceAddress()"><span style="font-size:16px">Click here to add more JD
                            &nbsp; &nbsp;</span>
                          <span>
                            <i class="fa fa-plus-square text-success"></i> </span></a>
                      </div>

                      <div class="row mt-2" *ngIf="jobDesData">
                        <div class="col-md-12" style="font-size: 12px;" *ngFor="let onejd of jobDesData">

                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-4">
                                <h5 class="jobtitle">{{onejd.jdName}}</h5>
                              </div>
                              <div class="col-md-8">
                                <button *ngIf="jobdescriptionUpdate===true" class="pull-right mb-3 ml-3"><i class="fa fa-trash text-danger"></i></button>
                                <button *ngIf="jobdescriptionDelete===true" class="pull-right mb-3" data-toggle="modal" data-target="#editJobModal"><i
                                    class="fa fa-edit text-success"></i></button>
                              </div>
                            </div>
                          </div>

                          <article>
                            <div style="color: #000; font-size: 13px;" class="mt-4 mb-4">
                              <span class="text-black mr-4"><b>No. of Employess : </b> {{onejd.noOfEmployee}}</span>
                              <span class="text-black mr-4"><b>Budget : </b> {{onejd.budget}}</span>
                              <span class="text-black  mr-4"><b>Experience : </b> {{onejd.minExprience}} -
                                {{onejd.maxExprience}} Years</span>
                              <span class="text-black mr-4"><b>Wage Type : </b> {{onejd.wageType.name}}</span>
                              <span class="text-black mr-4"><b>Work Type </b> {{onejd.jobType}}</span>
                            </div>

                            <div style="color: #000; font-size: 13px;" class="mt-4 mb-4">
                              <span class="text-black mr-4"><b>Work Location : </b>
                                {{onejd.workLocation.addressLineOne}} {{onejd.workLocation.addressLineTwo}}
                                {{onejd.workLocation.state.stateName}}, {{onejd.workLocation.country.niceName}},
                                {{onejd.workLocation.zipCode}}</span>
                              <span class="text-black mr-4"><b>Source Location : </b>
                                {{onejd.sourceLocation.addressLineOne}} {{onejd.sourceLocation.addressLineTwo}}
                                {{onejd.sourceLocation.state.stateName}}, {{onejd.sourceLocation.country.niceName}},
                                {{onejd.sourceLocation.zipCode}}</span>

                              <span class="text-black mr-4"><b>Joining Location : </b>
                                {{onejd.joiningLocation.addressLineOne}} {{onejd.joiningLocation.addressLineTwo}}
                                {{onejd.joiningLocation.state.stateName}}, {{onejd.joiningLocation.country.niceName}},
                                {{onejd.joiningLocation.zipCode}}</span>
                              <span class="text-black mr-4"><b>Salary : </b> {{onejd.budget}}</span>
                            </div>

                            <div style="color: #000; font-size: 13px;" class="mt-4 mb-4">
                              <span class="text-black mr-4"><b>Resource Allocation : </b>
                                {{onejd.resourceAllocation.resouceAllocationName}}</span>
                              <span class="text-black mr-4"><b>Requisition Category :</b>
                                {{onejd.requisitionCategory}}</span>
                              <span class="text-black mr-4" *ngIf="onejd.visa"><b>Visa : </b> {{onejd.visaCountry.niceName}}
                                ({{onejd.visaCountry.iso3}})</span>
                              <span class="text-black mr-4"><b>Competence Level : </b> {{onejd.competenceLevel}}</span>
                            </div>

                            <div style="color: #000; font-size: 13px;" class="mt-4 mb-4" *ngIf="onejd.gender">
                              <span class="text-black mr-4"><b>Nationality : </b> {{onejd.nationality}}</span>
                              <span class="text-black mr-4"><b>Gender : </b> {{onejd.gender.gender}}</span>
                              <span class="text-black  mr-4"><b>Ethnicity : </b> {{onejd.ethnicity.ethnicity}}</span>
                              <span class="text-black mr-4"><b>Education Type : </b> {{onejd.educationType.educationType}}</span>
                              <span class="text-black mr-4" *ngFor="let educ of onejd.education"><b>Education : </b> {{educ}}</span>
                              <span class="text-black mr-4"><b>Shift Timing :</b> {{onejd.shiftTiming}}</span>
                            </div>
                          </article>

                          <section>
                            <h6 class="darkcolor">Job Description</h6>
                            <article>
                              <quill-view-html [content]="onejd.body" theme="snow"></quill-view-html>
                            </article>
                            <hr />
                          </section>

                          <section class="mt-4">
                            <h6 class="darkcolor">Additional Detail</h6>
                            <article>
                              <p>{{onejd.additionalDetail}}</p>
                            </article>
                            <hr />
                          </section>

                          <section class="mt-4">
                            <h6 class="darkcolor">Domain</h6>
                            <article>{{onejd.domain}}</article>
                            <hr />
                          </section>

                          <section>
                            <h6 class="darkcolor">Additional Category</h6>
                            <article>
                              <a class="btn btn-info btn-sm m-2 text-white" style="font-size:10px"
                                *ngFor="let oneDetail of onejd.additionalCategory">{{oneDetail}}</a>
                            </article>
                            <hr />
                          </section>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- job description end here -->
        </div>
      </div>
    </div>

    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->

  </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!--Add Job Description-->
<div class="modal" id="addJobModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title">Add Job Description</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <form #addFrom="ngForm" (ngSubmit)="addJobDescriptionSubmit()">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <input type="number" class="form-control form-control-sm" name="noOfEmployee"
                  placeholder="No. of Employees" [(ngModel)]="jobDesForm.noOfEmployee" #noOfEmployee="ngModel"
                  [ngClass]="{ 'is-invalid': addFrom.submitted && noOfEmployee.invalid }" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <input type="number" class="form-control form-control-sm" name="minExprience"
                  placeholder="Min Experience" [(ngModel)]="jobDesForm.minExprience" #minExprience="ngModel"
                  [ngClass]="{ 'is-invalid': addFrom.submitted && minExprience.invalid }" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <input type="number" class="form-control form-control-sm" name="maxExprience"
                  placeholder="Max Experience" [(ngModel)]="jobDesForm.maxExprience" #maxExprience="ngModel"
                  [ngClass]="{ 'is-invalid': addFrom.submitted && maxExprience.invalid }" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <input type="text" class="form-control form-control-sm" name="jdName" placeholder="Job Description Name"
                  [(ngModel)]="jobDesForm.jdName" #jdName="ngModel"
                  [ngClass]="{ 'is-invalid': addFrom.submitted && jdName.invalid }" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <input type="text" class="form-control form-control-sm" name="domain" placeholder="Domain"
                  [(ngModel)]="jobDesForm.domain" #domain="ngModel"
                  [ngClass]="{ 'is-invalid': addFrom.submitted && domain.invalid }" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="number" class="form-control form-control-sm" name="budget" placeholder="Salary"
                      [(ngModel)]="jobDesForm.budget" #budget="ngModel"
                      [ngClass]="{ 'is-invalid': addFrom.submitted && budget.invalid }" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <select class="form-control form-control-sm" name="currencyType"
                      [(ngModel)]="jobDesForm.currencyType" #currencyType="ngModel"
                      [ngClass]="{ 'is-invalid': addFrom.submitted && currencyType.invalid }" required>
                      <option value="">Select Currency</option>
                      <option value="INR">INR</option>
                      <option value="RAND">RAND</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <select class="form-control form-control-sm" name="wageType" [(ngModel)]="jobDesForm.wageType"
                  #wageType="ngModel" [ngClass]="{ 'is-invalid': addFrom.submitted && wageType.invalid }" required>
                  <option value="">Select Wage Type</option>
                  <option *ngFor="let wage of wageList" [ngValue]="wage">
                    {{wage.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <select class="form-control form-control-sm" name="resourceAllocation"
                  [(ngModel)]="jobDesForm.resourceAllocation" #resourceAllocation="ngModel"
                  [ngClass]="{ 'is-invalid': addFrom.submitted && resourceAllocation.invalid }" required>
                  <option value=''>Select Resource Allocation</option>
                  <option *ngFor="let resAll of resourceAllocationList" [ngValue]="resAll">
                    {{resAll.resouceAllocationName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <select class="form-control form-control-sm" name="requisitionCategory"
                  [(ngModel)]="jobDesForm.requisitionCategory" #requisitionCategory="ngModel"
                  [ngClass]="{ 'is-invalid': addFrom.submitted && requisitionCategory.invalid }" required>
                  <option value=''>Select Option</option>
                  <option value="Manage Services">Manage Services</option>
                  <option value="Resource Augmentation">Resource Augmentation</option>
                  <option value="Internal">Internal</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <select class="form-control form-control-sm" (change)="onChange($event)" name="jobType"
                  [(ngModel)]="jobDesForm.jobType" #jobType="ngModel"
                  [ngClass]="{ 'is-invalid': addFrom.submitted && jobType.invalid }" required>
                  <option value="">Work Type</option>
                  <option value="FullTime">Full Time</option>
                  <option value="Contract">Contract </option>
                </select>
              </div>
            </div>
            <div class="col-md-3" *ngIf="selectedType=='Contract'">
              <div class="form-group">
                <input type="number" class="form-control form-control-sm" placeholder="Enter Duration only in month"
                  name="jobDuration" [(ngModel)]="jobDesForm.jobDuration" #jobDuration="ngModel"
                  [ngClass]="{ 'is-invalid': addFrom.submitted && jobDuration.invalid }" required>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <input type="text" class="form-control form-control-sm" placeholder="Enter competence level"
                  name="competenceLevel" [(ngModel)]="jobDesForm.competenceLevel" #competenceLevel="ngModel"
                  [ngClass]="{ 'is-invalid': addFrom.submitted && competenceLevel.invalid }" required>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check-inline">
                <label for="">Visa</label>
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="visa" [(ngModel)]="jobDesForm.visa" value="yes"
                    [checked]="jobDesForm.visa=='yes'">Yes
                </label>
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="visa" [(ngModel)]="jobDesForm.visa" value="no"
                    [checked]="jobDesForm.visa=='no'">No
                </label>
              </div>
            </div>

            <div class="col-md-3" *ngIf="jobDesForm.visa == 'yes'">
              <div class="form-group">
                <select class="form-control form-control-sm" name="visaCountry" [(ngModel)]="jobDesForm.visaCountry"
                  #visaCountry="ngModel" [ngClass]="{ 'is-invalid': addFrom.submitted && visaCountry.invalid }"
                  required>
                  <option value="">Select Country</option>
                  <option *ngFor="let county of countryList" [ngValue]="county">
                    {{county.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-3" *ngIf="jobDesForm.visa == 'no'"> &nbsp; </div>

          </div>
          <div class="row">
            <!-- Can't Understand -->
            <div class="col-md-4" *ngIf="erfDetails">
              <div class="form-group">
                <label for="">Joining Location</label>
                <select class="form-control form-control-sm  " name="joiningLocation"
                  [(ngModel)]="jobDesForm.joiningLocation" #joiningLocation="ngModel"
                  [ngClass]="{ 'is-invalid': addFrom.submitted && joiningLocation.invalid }" required>
                  <option value="">Joining Location</option>
                  <option *ngFor="let proj of workAddTrack" [ngValue]="proj">
                    {{proj.addressLineOne}},{{proj.state.stateName}},{{proj.country.niceName}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4" *ngIf="erfDetails">
              <div class="form-group">
                <label for="">Work Location</label>
                <select class="form-control form-control-sm" name="workLocation" [(ngModel)]="jobDesForm.workLocation"
                  #workLocation="ngModel" [ngClass]="{ 'is-invalid': addFrom.submitted && workLocation.invalid }"
                  required>
                  <option value="">Work Location</option>
                  <option *ngFor="let proj of workAddTrack" [ngValue]="proj">
                    {{proj.addressLineOne}},{{proj.state.stateName}},{{proj.country.niceName}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4" *ngIf="erfDetails">
              <div class="form-group">
                <label for="">Source Location</label>
                <select class="form-control form-control-sm" name="sourceLocation"
                  [(ngModel)]="jobDesForm.sourceLocation" #sourceLocation="ngModel"
                  [ngClass]="{ 'is-invalid': addFrom.submitted && sourceLocation.invalid }" required>
                  <option value="">Source Location</option>
                  <option *ngFor="let proj of sourceAddTrack" [ngValue]="proj">
                    {{proj.state.stateName}},{{proj.country.niceName}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
        
            <div class="col-md-3">
              <div class="form-group">
                <label for="">Nationality</label>
                <input type="text" class="form-control form-control-sm" placeholder="Nationality"
                  name="nationality" [(ngModel)]="jobDesForm.nationality" #nationality="ngModel"
                  [ngClass]="{ 'is-invalid': addFrom.submitted && nationality.invalid }" required>
              </div>
            </div>

            <div class="col-md-3" *ngIf="erfDetails">
              <div class="form-group">
                <label for="">Gender</label>
                <select class="form-control form-control-sm" name="gender"
                  [(ngModel)]="jobDesForm.gender" #gender="ngModel"
                  [ngClass]="{ 'is-invalid': addFrom.submitted && gender.invalid }" required>
                  <option value="">Gender</option>
                  <option *ngFor="let gen of genderArray" [ngValue]="gen">{{gen.gender}}</option>
                </select>
              </div>
            </div>

            <div class="col-md-3" *ngIf="erfDetails">
              <div class="form-group">
                <label for="">Ethnicity</label>
                <select class="form-control form-control-sm" name="ethnicity"
                  [(ngModel)]="jobDesForm.ethnicity" #ethnicity="ngModel"
                  [ngClass]="{ 'is-invalid': addFrom.submitted && ethnicity.invalid }" required>
                  <option value="">Ethnicity</option>
                  <option *ngFor="let eth of ethnicityArray" [ngValue]="eth">{{eth.ethnicity}}</option>
                </select>
              </div>
            </div>

            <div class="col-md-3" *ngIf="erfDetails">
              <div class="form-group">
                <label for="">Min. Education</label>
                <select class="form-control form-control-sm" name="educationType"
                  [(ngModel)]="jobDesForm.educationType" #educationType="ngModel"
                  [ngClass]="{ 'is-invalid': addFrom.submitted && educationType.invalid }" required>
                  <option value="">Min. Education</option>
                  <option *ngFor="let edu of educationArray" [ngValue]="edu">{{edu.educationType}}</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="">Education</label>
                <input type="text" class="form-control form-control-sm" placeholder="Education"
                  name="education" [(ngModel)]="jobDesForm.education" #education="ngModel"
                  [ngClass]="{ 'is-invalid': addFrom.submitted && education.invalid }" required>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="">Shift Timing</label>
                <input type="text" class="form-control form-control-sm" placeholder="Shift Timing"
                  name="shiftTiming" [(ngModel)]="jobDesForm.shiftTiming" #shiftTiming="ngModel"
                  [ngClass]="{ 'is-invalid': addFrom.submitted && shiftTiming.invalid }" required>
              </div>
            </div>

          </div>


          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for=""><b>Job Description</b></label>
                <quill-editor [styles]="{height: '200px'}" format="html" [modules]="defaultModules" name="body"
                  [(ngModel)]="jobDesForm.body" #body="ngModel"
                  [ngClass]="{ 'is-invalid': addFrom.submitted && body.invalid}" [required]="true">
                </quill-editor>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control form-control-sm" placeholder="Additional Detail"
                  name="additionalDetail" [(ngModel)]="jobDesForm.additionalDetail" #additionalDetail="ngModel"
                  [ngClass]="{ 'is-invalid': addFrom.submitted && additionalDetail.invalid }" required>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="">Additional Category(Type and press Enter key to add.)</label>
                <tag-input [(ngModel)]="jobDesForm.additionalCategory" (onSelect)="onSelect($event)"
                  [modelAsStrings]="true" name="additionalCategory" placeholder="Additional Category"
                  [theme]="'bootstrap'" #additionalCategory="ngModel"
                  [ngClass]="{ 'is-invalid': addFrom.submitted && additionalCategory.invalid }" required></tag-input>
              </div>
            </div>

          </div>

          <div class="row" style="display: flex; justify-content: center; align-items: center;">
            <div class="co1-md-12">
              <button type="submit" class="btn btn-sm btn-warning">Add Job</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="editJobModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Edit Job Description</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>


      <div class="modal-body">
        <form>

          <div class="row">

            <div class="col-md-3">
              <div class="form-group">
                <input type="text" class="form-control form-control-sm" name="noOfEmployee"
                  placeholder="No. of Employees" required>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <input type="text" class="form-control form-control-sm" name="minExprience" placeholder="Min Experience"
                  required>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <input type="text" class="form-control form-control-sm" name="maxExprience" placeholder="Max Experience"
                  required>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <input type="text" class="form-control form-control-sm" name="jdName" placeholder="Job Description Name"
                  required>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <input type="text" class="form-control form-control-sm" name="domain" placeholder="Domain" required>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row">

                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-sm" name="budget" placeholder="Salary" required>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <select name="" id="" class="form-control form-control-sm">
                      <option value="">Select Currency</option>
                      <option value="INR">INR</option>
                      <option value="RAND">RAND</option>
                    </select>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <select name="" id="" class="form-control form-control-sm">
                  <option value="">Select Wage Type</option>
                  <option value="Hourly">Hourly</option>
                  <option value="Monthly">Monthly</option>
                  <option value="Full time">Full Time</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <select class="form-control form-control-sm" name="resourceAllocation" required>
                  <option disabled selected>Select Resource Allocation</option>
                  <option>uiuiu </option>
                  <option>uiuiu </option>
                  <option>uiuiu </option>
                  <option>uiuiu </option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <select class="form-control form-control-sm" name="requisitionCategory" required>
                  <option selected>Select Option</option>
                  <option value="Manage Services">Manage Services</option>
                  <option value="Resource Augmentation">Resource Augmentation</option>
                  <option value="Internal">Internal</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <select name="" id="" class="form-control form-control-sm" (change)="onChange($event)">
                  <option value="">Work Type</option>
                  <option value="FullTime">Full Time</option>
                  <option value="Contract">Contract </option>
                </select>
              </div>
            </div>

            <div class="col-md-3" *ngIf="selectedType == 'Contract'">
              <div class="form-group">
                <input type="text" class="form-control form-control-sm" placeholder="Enter Duration only in month"
                  required>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check-inline">
                <label for=""> Visa </label>
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optradio" [(ngModel)]="optradio" value="yes"
                    [checked]="optradio=='yes'">Yes
                </label>

                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optradio" [(ngModel)]="optradio" value="no"
                    [checked]="optradio=='no'">No
                </label>
              </div>
            </div>

            <div class="col-md-3" *ngIf="optradio == 'yes'">
              <div class="form-group">
                <select name="" id="" class="form-control form-control-sm">
                  <option value="">Select Country</option>
                  <option value="">India</option>
                  <option value="">USA</option>
                </select>
              </div>
            </div>

            <div class="col-md-3" *ngIf="optradio == 'no'">
              &nbsp;
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <input type="text" class="form-control form-control-sm" placeholder="Enter competence level" required>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-4 ">
              <div class="form-group">
                <label for="">Joining Location</label>
                <select class="form-control form-control-sm bg-warning" name="requisitionCategory" required>
                  <option selected>Joining Location</option>
                  <option value="Manage Services">Billable</option>
                  <option value="Resource Augmentation">Non-Billable</option>
                </select>
              </div>
            </div>

            <div class="col-md-4 ">
              <div class="form-group">
                <label for="">Work Location</label>
                <select class="form-control form-control-sm" name="workLocation" required>
                  <option>Work Location</option>
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Source Location</label>
                <select class="form-control form-control-sm" name="sourceLocation" required>
                  <option selected> Location</option>
                </select>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-12">
              <div class="form-group">
                <label for=""><b>Job Description</b></label>
                <quill-editor [styles]="{height: '200px'}" format="html" [modules]="defaultModules" name="body">
                </quill-editor>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control form-control-sm" placeholder="Additional Detail"
                  name="additionalDetail" required>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="">Additional Category(Type and press Enter key to add.)</label>
                <tag-input (onSelect)="onSelect($event)" [modelAsStrings]="true" name="additionalCategory"
                  placeholder="Additional Category" [theme]="'bootstrap'" required></tag-input>
              </div>
            </div>

          </div>

          <div class="row" style="display: flex; justify-content: center; align-items: center;">
            <div class="co1-md-12">
              <button type="submit" class="btn btn-sm btn-warning">Edit Job</button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<!-- End Add Job Description-->

<!-- Track lead add and edit start here -->
<div class="modal" id="addAssignModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Assign Track Lead</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="clearTrackLeadForm()">&times;</button>
      </div>

      <div class="modal-body">

        <div class="row">
          <div class="col-md-12 mb-4">
            <a class="pull-right" (click)="addTrackLeadObject()"><i class="fa fa-plus-square text-success"></i></a>
          </div>
        </div>

        <form name="form" #trackf="ngForm" (submit)="trackf.form.valid && submitTrackLeadForm()">
          <!-- <div class="row" *ngIf="selectCheckboxValue">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Name</label>
                  <input type="text" class="form-control form-control-sm" name="name" [(ngModel)]="assignBySelf.name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Emp Id</label>
                  <input type="text" class="form-control form-control-sm" name="empId" [(ngModel)]="assignBySelf.sapId">
                </div>
              </div>

            </div> -->

          <div *ngFor="let track of trackLeadForm; let i= index " class="boxstyle">
            <div class="row">
              <div class="col-md-6">
                <div class="form-check-inline">
                  <label>
                    <input type="checkbox" name="assign{{i}}" [(ngModel)]="track.selectCheckboxValue"
                      (change)="toggleVisibility($event, i)" />
                    Assign to Self
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>

              <div class="col-md-6">
                <a class="pull-right" (click)="removeTrackLeadObject(i)"><i class="fa fa-trash text-danger"></i></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="typeahead-template">Name</label>
                  <input type="text" class="form-control form-control-sm" list="codes" name="name{{i}}" id="name{{i}}"
                    [(ngModel)]="track.user.username" autocomplete="off" #userName="ngModel" placeholder="Name"
                    (keypress)="getUserByUserName(userName.value)" (blur)="showEmployeeID($event.target.value, i)"
                    [ngClass]="{ 'is-invalid': trackf.submitted && userName.invalid }" required>
                  <datalist id="codes">
                    <option *ngFor="let c of userDetailsByUsername" [ngValue]="c">{{c.username}}</option>
                  </datalist>

                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Emp Id</label>
                  <input type="text" class="form-control form-control-sm" list="empId" id="id{{i}}"
                    [(ngModel)]="track.sapId" #id="ngModel" autocomplete="off" placeholder="Emp Id" name="id{{i}}"
                    (keypress)="getUserBySapID(userName.value)" (blur)="showuserName($event.target.value, i)"
                    [ngClass]="{ 'is-invalid': trackf.submitted && id.invalid }" required>
                  <datalist id="empId">
                    <option *ngFor="let c of userDetailsBySapId" [ngValue]="c">{{c.sapId}}</option>
                  </datalist>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Budget</label>
                  <input type="number" class="form-control form-control-sm" placeholder="Budget"
                    [(ngModel)]="track.budget" name="budget{{i}}" id="budget{{i}}" #budget="ngModel"
                    [ngClass]="{ 'is-invalid': trackf.submitted && budget.invalid }" required>
                  <div *ngIf="budget.value > budgetRemaining || track.isBudgetExceed" style="color: red;">
                    <div>Budget exceeded.</div>
                  </div>
                  <div *ngIf="budget.value==0" style="color: red;">
                    <div>Position never be 0.</div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="">No. of Position</label>
                  <input type="number" class="form-control form-control-sm" placeholder="Position"
                    [(ngModel)]="track.position" name="position{{i}}" id="position{{i}}" #position="ngModel"
                    [ngClass]="{ 'is-invalid': trackf.submitted && position.invalid }" required>
                  <div *ngIf="position.value > positionsRemaining || track.isPositionExceed" style="color: red;">
                    <div>Position exceeded.</div>
                  </div>
                  <div *ngIf="position.value==0" style="color: red;">
                    <div>Position never be 0.</div>
                  </div>
                </div>
              </div>

              <!-- <div class="col-md-4">
                <div class="form-group">
                  <label for="">Billed</label>
                  <select class="form-control form-control-sm  " name="requisitionCategory" required>
                    <option selected>Select to be billed</option>
                    <option value="Manage Services">Billable</option>
                    <option value="Resource Augmentation">Non-Billable</option>
                  </select>
                </div>
              </div> -->


              <div class="col-md-8">
                <div class="form-group">
                  <label for="">Domain('s) (Type and press Enter key to add.)</label>
                  <tag-input [(ngModel)]="track.domainsArray" (onSelect)="onSelect($event)" [modelAsStrings]="true"
                    name="domainsArray{{i}}" placeholder="Domain" id="domainsArray{{i}}" [theme]="'bootstrap'"
                    #domainsArray="ngModel" [ngClass]="{ 'is-invalid': trackf.submitted && domainsArray.invalid }"
                    required></tag-input>
                </div>
              </div>
            </div>
            <hr>
          </div>

          <div class="row justify-content-center align-items-center">
            <button class="btn btn-sm darkblue" type="submit">Add Track Lead</button>
          </div>
          <!--end add value-->
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="editAssignModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Edit Track Lead</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">

        <form>
          <div class="row">

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control form-control-sm" placeholder="Enter Name">
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Emp Id</label>
                <input type="text" class="form-control form-control-sm" placeholder="Emp Id">
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Budget</label>
                <input type="text" class="form-control form-control-sm" placeholder="Budget">
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Position</label>
                <input type="text" class="form-control form-control-sm" placeholder="Position">
              </div>
            </div>

            <div class="col-md-8">
              <div class="form-group">
                <label for="">Domain('s) (Type and press Enter key to add.)</label>
                <tag-input (onSelect)="onSelect($event)" [modelAsStrings]="true" placeholder="Domain" required>
                </tag-input>
              </div>
            </div>

          </div>

          <div class="row justify-content-center align-items-center">
            <button class="btn btn-sm darkblue">Edit Track Lead</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- Edit Project -->
<div class="modal" id="editproject">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title">Edit Project Detail</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <form name="form" #trackeditf="ngForm" (submit)="trackeditf.form.valid && editProjectDetails()">
          <div class="row">

            <div class="col-md-3">
              <div class="form-group">
                <label for="">Max budget</label>
                <input type="number" class="form-control form-control-sm" placeholder="Budget"
                  [(ngModel)]="editProForm.maxBudget" name="maxBudget" #budget="ngModel"
                  [ngClass]="{ 'is-invalid': trackeditf.submitted && budget.invalid }" required>
              </div>
            </div>

            <!-- <div class="col-md-3">
              <div class="form-group">
                <label for="">Billing Currency Type</label>
                <select class="form-control-sm form-control" name="currency" [(ngModel)]="editProForm.currency"
                  #currency="ngModel" [ngClass]="{ 'is-invalid': trackeditf.submitted && currency.invalid }" required>
                  <option value="INR" selected>INR</option>
                  <option value="USD">USD</option>
                  <option value="Rand">Rand</option>
                </select>
                <div *ngIf="trackeditf.submitted && currency.invalid" class="invalid-feedback">
                  <div *ngIf="currency.errors.required">Currency is required</div>
                </div>
              </div>
            </div> -->

            <div class="col-md-3">
              <div class="form-group">
                <label for="">Project Duration</label>
                <input type="number" class="form-control form-control-sm" placeholder="project Duration (In Months)"
                  name="projectDuration" [(ngModel)]="editProForm.projectDuration" #projectDuration="ngModel"
                  [ngClass]="{ 'is-invalid': trackeditf.submitted && projectDuration.invalid }" required>
                <div *ngIf="trackeditf.submitted && projectDuration.invalid" class="invalid-feedback">
                  <div *ngIf="projectDuration.errors.required">Project Duration is required</div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="">No.of Position</label>
                <input type="number" class="form-control form-control-sm" placeholder="Position"
                  [(ngModel)]="editProForm.totalPosition" name="totalPosition" id="totalPosition"
                  #totalPosition="ngModel" [ngClass]="{ 'is-invalid': trackeditf.submitted && totalPosition.invalid }"
                  required>
                <div *ngIf="trackeditf.submitted && totalPosition.invalid" class="invalid-feedback">
                  <div *ngIf="totalPosition.errors.required">No. of position is required</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12" style="border-bottom:1px solid #999;">
              <h5 style="font-size:14px">Business Unit Detail</h5>
            </div>
            <div class="col-md-12 mt-1">
              <a class="pull-right mb-3"><i class="fa fa-plus-square text-success" (click)="addbusinessHead()"></i></a>
            </div>
            <div class="row" *ngFor="let bsHead of businessHead; let i=index">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Business Unit Head</label>
                  <!-- <input type="text" class="form-control form-control-sm" placeholder="No.of Position"> -->
                  <input type="text" class="form-control form-control-sm" list="codes" name="name{{i}}"
                    [(ngModel)]="bsHead.name" autocomplete="off" #userName="ngModel" placeholder="Business Unit Head"
                    (keypress)="getUserByUserNameEdit(userName.value)"
                    (blur)="showEmployeeIDEdit($event.target.value, i)"
                    [ngClass]="{ 'is-invalid': trackeditf.submitted && userName.invalid }" required>
                  <datalist id="codes">
                    <option *ngFor="let c of userDetailsByUsername" [ngValue]="c">{{c.username}}</option>
                  </datalist>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Emp ID</label>
                  <!-- <input type="text" class="form-control form-control-sm" placeholder="No.of Position"> 
                    (keypress)="getUserBySapID(userName.value)" (blur)="showuserName($event.target.value, i)"-->
                  <input type="text" class="form-control form-control-sm" id="id" [(ngModel)]="bsHead.buhead"
                    #id="ngModel" autocomplete="off" placeholder="Emp Id" name="buhead"
                    [ngClass]="{ 'is-invalid': trackeditf.submitted && id.invalid }" required>
                </div>
              </div>
              <!-- <div class="col-md-3">
                <div class="form-group">
                  <label for="">Department</label>
                  <input type="text" class="form-control form-control-sm" placeholder="No.of Position">
                </div>
              </div> -->

              <div class="col-md-4">
                <a class="pull-left" style="margin-top: 2.4rem;">
                  <i class="fa fa-trash text-danger" (click)="deletebusinessHead(bsHead)"></i></a>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mt-2" style="border-bottom:1px solid #999;">
              <h5 style="font-size:14px"> Source Address</h5>
            </div>
            <div class="col-md-12 mt-1">
              <a class="pull-right mb-3"><i class="fa fa-plus-square text-success"
                  (click)="addSourceAddressEdit()"></i></a>
            </div>

            <div class="row" *ngFor="let srcLocation of sourceAddressesEdit; let i=index">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Country</label>
                  <select class="form-control form-control-md" name="countrysrc{{i}}" id="countrysrc{{i}}"
                    (change)="onCountryChangeSRC(country, i)" [(ngModel)]="srcLocation.country" #country="ngModel"
                    [ngClass]="{ 'is-invalid': trackeditf.submitted && country.invalid }" required>
                    <option [value]="gobalCountry.country">Select Country</option>
                    <option *ngFor="let contry of countryList" [ngValue]="contry"
                      [selected]="contry.countryId === srcLocation.country.countryId">{{contry.name}}</option>
                  </select>
                  <div *ngIf="trackeditf.submitted && country.invalid" class="invalid-feedback">
                    <div *ngIf="country.errors.required">Country is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="">State</label>
                  <select class="form-control form-control-md" placeholder="State" name="Statesrc{{i}}"
                    id="Statesrc{{i}}" [(ngModel)]="srcLocation.state" #State="ngModel"
                    [ngClass]="{ 'is-invalid': trackeditf.submitted && State.invalid }" required>
                    <option [value]="gobalCountry.state">Select State</option>
                    <option *ngFor="let stateone of stateList[i]" [ngValue]="stateone">{{stateone.stateName}}
                    </option>
                  </select>
                  <div *ngIf="trackeditf.submitted && State.invalid" class="invalid-feedback">
                    <div *ngIf="State.errors.required">state is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <a class="pull-left" style="margin-top: 2.4rem;">
                  <i class="fa fa-trash text-danger" (click)="deleteSourceAddressEdit(srcLocation)"></i></a>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mt-2" style="border-bottom:1px solid #999;">
              <h5 style="font-size:14px"> Work Address</h5>
            </div>
            <div class="col-md-12 mt-1">
              <a class="pull-right mb-3"><i class="fa fa-plus-square text-success"
                  (click)="addWorkAddressEdit()"></i></a>
            </div>

            <div class="row" *ngFor="let wrkLocation of workAddressesEdit; let i=index">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Address</label>
                  <input type="text" class="form-control form-control-sm" placeholder="Address"
                    name="addressLineOne{{i}}" [(ngModel)]="wrkLocation.addressLineOne" #addressLineOne="ngModel"
                    [ngClass]="{ 'is-invalid': trackeditf.submitted && addressLineOne.invalid }" required>
                  <div *ngIf="trackeditf.submitted && addressLineOne.invalid" class="invalid-feedback">
                    <div *ngIf="addressLineOne.errors.required">Address is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Country</label>
                  <select class="form-control form-control-sm" name="country" id="country"
                    (change)="onCountryChangeWRK(country, i)" [(ngModel)]="wrkLocation.country" #country="ngModel"
                    [ngClass]="{ 'is-invalid': trackeditf.submitted && country.invalid }" required>
                    <option [value]="gobalCountry.country">Select Country</option>
                    <option *ngFor="let contry of countryList" [ngValue]="contry">{{contry.name}}</option>
                  </select>
                  <div *ngIf="trackeditf.submitted && country.invalid" class="invalid-feedback">
                    <div *ngIf="country.errors.required">Country is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="">State</label>
                  <select class="form-control form-control-sm" placeholder="State" name="State" id="State"
                    [(ngModel)]="wrkLocation.state" #State="ngModel"
                    [ngClass]="{ 'is-invalid': trackeditf.submitted && State.invalid }" required>
                    <option [value]="gobalCountry.state">Select State</option>
                    <option *ngFor="let stateone of stateListWRK[i]" [ngValue]="stateone">{{stateone.stateName}}
                    </option>
                  </select>
                  <div *ngIf="trackeditf.submitted && State.invalid" class="invalid-feedback">
                    <div *ngIf="State.errors.required">State is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-2">
                <div class="form-group">
                  <label for="">ZipCode</label>
                  <input type="number" class="form-control form-control-sm" placeholder="Zipcode" name="zipCode"
                    [(ngModel)]="wrkLocation.zipCode" #zipCode="ngModel"
                    [ngClass]="{ 'is-invalid': trackeditf.submitted && zipCode.invalid }" required>
                  <div *ngIf="trackeditf.submitted && zipCode.invalid" class="invalid-feedback">
                    <div *ngIf="zipCode.errors.required">Zip Code is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-1">
                <a class="pull-left" style="margin-top: 2.4rem;">
                  <i class="fa fa-trash text-danger" (click)="deleteWorkAddressEdit(wrkLocation)"></i></a>
              </div>

            </div>
          </div>

          <div class="row justify-content-center align-items-center">
            <button type="submit" class="btn btn-sm darkblue">Edit Project Detail</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- Remark Project -->
<div class="modal fade" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog remarks" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remark</h5>
        <button type="button" class="close" aria-label="Close" (click)="undoStatusChange()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form #remarkf="ngForm" (submit)="remarkf.form.valid && submitRemark()">
          <div class="row">
            <div class="col-md-6">
              <p class="bor-bottm"><b>Date:</b> &nbsp;&nbsp; <span
                  class="text-info">{{remarkForm.date | date: 'short'}}</span></p>
            </div>

            <div class="col-md-6">
              <p class="bor-bottm"><b>Action:</b> &nbsp;&nbsp; <span class="text-info">{{remarkForm.action}}</span></p>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="">Description</label>
                <input type="text" class="form-control form-control-sm" placeholder="description" name="remark"
                  [(ngModel)]="remarkForm.remark" #remark="ngModel"
                  [ngClass]="{ 'is-invalid': remarkForm.submitted && remark.invalid }" required>
                <div *ngIf="remarkForm.submitted && remark.invalid" class="invalid-feedback">
                  <div *ngIf="remark.errors.required">Remark is required</div>
                </div>
              </div>

              <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-2">
                  <button class="btn btn-success btn-sm">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>