.btn-sm {
    padding: .2rem .3rem;
    font-size: .6rem;
    line-height: 1;
    border-radius: .2rem;
}

.dropdown-item {
    padding: 0.3rem .5rem;
}
a.dropdown-item  {
    font-size:.7rem;
    padding: 7px 13px !important;
   
} 
.dropdown-menu {
    padding: .1rem 0;
    margin: .1rem 0 0;
    top: 100% !important;
    min-width: 10rem !important;
    font-size: .1rem !important;
}
table>tbody>tr>td:last-child{
    width:100% !important;
    float:left;} 