<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <app-side-bar></app-side-bar>
    <!-- End of Sidebar -->
  
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column  bg-white">
  
      <!-- Main Content -->
      <div id="content">
  
        <!-- Topbar -->
        <app-header></app-header>
        <!-- End of Topbar -->
  
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Upload Resume</h1>
            <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-upload fa-sm text-white-50"></i>Upload Resume</a> -->
          </div>
  
          <!-- Content Row -->
          <div class="row">
            <div class="col-md-12">
              <form [formGroup]="uploadResume" (ngSubmit)="submitResume()">
                <div class="row">

                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="">First Name</label>
                      <input type="text" formControlName="firstName" class="form-control" placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                          <div *ngIf="f.firstName.errors.required">First Name is required</div>
                      </div>
                    </div>
                  </div>   
                  
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="">Last Name</label>
                      <input type="text" placeholder="Last Name" formControlName="lastName" class="form-control" 
                      [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                      </div>
                    </div>
                  </div>  
                  

                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="">Email</label>
                      <input type="text" formControlName="email" placeholder="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="">Phone Number</label>
                      <input type="text" placeholder="Phone No." formControlName="phone" class="form-control" 
                      [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" max="10" min="5" />
                      <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                          <div *ngIf="f.phone.errors.required">Phone number is required</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="">Domain</label>
                      <input type="text" placeholder="Domain" formControlName="domain" class="form-control" 
                      [ngClass]="{ 'is-invalid': submitted && f.domain.errors }" />
                      <div *ngIf="submitted && f.domain.errors" class="invalid-feedback">
                          <div *ngIf="f.domain.errors.required">Domain is required</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="">Select Country</label>
                      <select class="form-control-sm form-control" formControlName="countryId"
                       [ngClass]="{ 'is-invalid': submitted && f.countryId.errors }" (change)="onCountryChange($event.target.value)">
                       <option value="" disabled>Select country</option> 
                       <option *ngFor="let contry of countryList" [value]="contry.countryId">{{contry.name}}</option>
                      </select>
                      <div *ngIf="submitted && f.countryId.errors" class="invalid-feedback">
                        <div *ngIf="f.countryId.errors.required">Country is required</div>
                    </div>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="">State</label>
                      <select class="form-control-sm form-control" placeholder="State" formControlName="stateId"
                       [ngClass]="{ 'is-invalid': submitted && f.stateId.errors }">
                       <option value="" disabled>Select state</option>  
                       <option *ngFor="let onestate of stateList" [value]="onestate.stateId">{{onestate.stateName}}</option>
                      </select>
                      <div *ngIf="submitted && f.stateId.errors" class="invalid-feedback">
                        <div *ngIf="f.stateId.errors.required">State is required</div>
                    </div>
                    </div>
                  </div> 

                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="">City</label>
                      <input type="text" placeholder="City" formControlName="city" class="form-control" 
                      [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                      <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                          <div *ngIf="f.city.errors.required">City is required</div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="">Address</label>
                      <input type="text" placeholder="Address"  formControlName="address" class="form-control" 
                      [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                      <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                          <div *ngIf="f.address.errors.required">Address is required</div>
                      </div>
                    </div>
                  </div>
   
                       <!-- resume recieved from(job portal, linkendin, posting, connections,reference)  and  -->
                    <div class="col-md-3">
                        <div class="form-group">
                          <label for="">Zip</label>
                          <input type="text"placeholder="Zip"  formControlName="zip" class="form-control" 
                          [ngClass]="{ 'is-invalid': submitted && f.zip.errors }" />
                          <div *ngIf="submitted && f.zip.errors" class="invalid-feedback">
                              <div *ngIf="f.zip.errors.required">Zip is required</div>
                          </div>
                        </div>
                      </div> 
                      <div class="col-md-3">
                          <div class="form-group">
                            <label for="">Upload Resume</label>
                            <input type="file" class="" formControlName="file"  (change)="handleFileInput($event.target.files)"
                            [ngClass]="{ 'is-invalid': submitted && f.file.errors }">
                            <p class="text-danger">{{fileExtensionMessage}}</p>
                          </div>
                          <div *ngIf="submitted && f.file.errors" class="invalid-feedback">
                            <div *ngIf="f.file.errors.required">File is required</div>
                        </div>
                        </div>
                </div>

                <div class="row mb-4" >
                  <div class="col-md-12" style="display: flex;justify-content: center; align-items: center;">
                    <button class="btn btn-sm darkblue" type="submit">Submit</button>
                  </div>
                </div>
              </form>
  
            </div>
  
          </div>
  
  
  
        </div>
        <!-- /.container-fluid -->
  
      </div>
      <!-- End of Main Content -->
  
      <!-- Footer -->
      <app-footer></app-footer>
      <!-- End of Footer -->
  
    </div>
    <!-- End of Content Wrapper -->
  
  </div>
  <!-- End of Page Wrapper -->
  
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>