<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-header></app-header>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Setting</h1>
        </div>
        <!-- Content Row -->
        <div class="row">

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">

                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Default Theme &nbsp;
                      &nbsp;&nbsp;&nbsp;
                      <input type="radio" name="theme" id="default" value="1" (click)="value('default', '1')"
                      [checked]="themecolor === '1'" [(ngModel)]="themecolor">
                    </div>
                  </div>
                  <div class="col-auto">
                    <img src="assets/img/color-theme/color-theme-default.png" alt="Default Color Theme"
                      class="img-fluid" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">DarK Blue Theme &nbsp;
                      &nbsp;&nbsp;&nbsp;
                      <input type="radio" name="theme" id="theme1" value="2" (click)="value('darkBlue', '2')"
                      [checked]="themecolor === '2'" [(ngModel)]="themecolor">
                    </div>
                  </div>
                  <div class="col-auto">
                    <img src="assets/img/color-theme/color-theme-1.png" alt="Dark Color Theme" class="img-fluid" />
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Green Theme&nbsp;
                      &nbsp;&nbsp;&nbsp;
                      <input type="radio" name="theme" id="theme2" value="3" (click)="value('green', '3')"
                      [checked]="themecolor === '3'" [(ngModel)]="themecolor">
                    </div>
                  </div>
                  <div class="col-auto">
                    <img src="assets/img/color-theme/color-theme-2.png" alt="Green Color Theme" class="img-fluid" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-secondary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-uppercase mb-1">Gray Theme&nbsp; &nbsp;&nbsp;&nbsp;
                      <input type="radio" name="theme" id="theme3" value="4" (click)="value('darkgrey', '4')"
                      [checked]="themecolor === '4'" [(ngModel)]="themecolor">
                    </div>
                  </div>
                  <div class="col-auto">
                    <img src="assets/img/color-theme/color-theme-3.png" alt="Gray Color Theme" class="img-fluid" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Yellow Theme&nbsp;
                      &nbsp;&nbsp;&nbsp;
                      <input type="radio" name="theme" id="theme4" value="5" (click)="value('yellow', '5')"
                      [checked]="themecolor === '5'" [(ngModel)]="themecolor">
                    </div>
                  </div>
                  <div class="col-auto">
                    <img src="assets/img/color-theme/color-theme-4.png" alt="Yellow Color Theme" class="img-fluid" />
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>

        <!-- Content Row -->



        <!-- Content Row -->


      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
<html>

<head>
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
  <meta name="Robots" content="NOINDEX " />
</head>

<body></body>
<script type="text/javascript">
  var gearPage = document.getElementById('GearPage');
  if (null != gearPage) {
    gearPage.parentNode.removeChild(gearPage);
    document.title = "Error";
  }
</script>

</html>
<ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
</ngx-spinner>