@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/poppins/Poppins-Regular.ttf)

}

@font-face {
	font-family: Poppins-Medium;
	src: url(../fonts/poppins/Poppins-Medium.ttf)
}

@font-face {
	font-family: Poppins-Bold;
	src: url(../fonts/poppins/Poppins-Bold.ttf)
}

@font-face {
	font-family: Poppins-SemiBold;
	src: url(../fonts/poppins/Poppins-SemiBold.ttf)
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

body,
html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif
}

a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #224abe;
	margin: 0;
	transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-moz-transition: all .4s;
	cursor:pointer;
}

a:focus {
	outline: none!important
}

a:hover {
	text-decoration: none;
	color: #09396d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0
}

p {
	font-family: Poppins-Regular;
	font-size: 12px;
	line-height: 1.7;
	color: #666;
	margin: 0
}

ul,
li {
	margin: 0;
	list-style-type: none
}

input {
	outline: none;
	border: none
}

textarea {
	outline: none;
	border: none
}

textarea:focus,
input:focus {
	border-color: transparent!important
}

input:focus::-webkit-input-placeholder {
	color: transparent
}

input:focus:-moz-placeholder {
	color: transparent
}

input:focus::-moz-placeholder {
	color: transparent
}

input:focus:-ms-input-placeholder {
	color: transparent
}

textarea:focus::-webkit-input-placeholder {
	color: transparent
}

textarea:focus:-moz-placeholder {
	color: transparent
}

textarea:focus::-moz-placeholder {
	color: transparent
}

textarea:focus:-ms-input-placeholder {
	color: transparent
}

input::-webkit-input-placeholder {
	color: #fff
}

input:-moz-placeholder {
	color: #fff
}

input::-moz-placeholder {
	color: #fff
}

input:-ms-input-placeholder {
	color: #fff
}

textarea::-webkit-input-placeholder {
	color: #fff
}

textarea:-moz-placeholder {
	color: #fff
}

textarea::-moz-placeholder {
	color: #fff
}

textarea:-ms-input-placeholder {
	color: #fff
}

label {
	margin: 0;
	display: block
}

button {
	outline: none!important;
	border: none;
	background: 0 0
}

button:hover {
	cursor: pointer
}

iframe {
	border: none!important
}

.txt1 {
	font-family: Poppins-Regular;
	font-size: 13px;
	color: #09396d;
	line-height: 1.5
}

.limiter {
	width: 100%;
	margin: 0 auto
}

.container-login100 {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1
}

.container-login100::before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	
}

.wrap-login100 {
	width: 500px;
	border-radius: 10px;
	overflow: hidden;
	padding: 55px 55px 37px;
}

.login100-form {
	width: 100%
}

.login100-form-logo {
	font-size: 60px;
	color: #333;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto
}

.login100-form-title {
	font-family: Poppins-Medium;
	font-size: 30px;
	color: #333;
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
	display: block
}

.wrap-input100 {
	width: 100%;
	position: relative;
	border-bottom: 2px solid rgba(255, 255, 255, .24);
	margin-bottom: 30px
}

.input100 {
	font-family: Poppins-Regular;
	font-size: 16px;
	color: #333;
	line-height: 1.2;
	display: block;
	width: 100%;
	height: 45px;
	background: 0 0;
	
}

.focus-input100 {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none
}

.focus-input100::before {
	content: "";
	display: block;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 0;
	height: 2px;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
	background: #fff
}

.focus-input100::after {
	font-family: Material-Design-Iconic-Font;
	font-size: 22px;
	color: #fff;
	content: attr(data-placeholder);
	display: block;
	width: 100%;
	position: absolute;
	top: 6px;
	left: 0;
	padding-left: 5px;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s
}

.input100:focus {
	padding-left: 5px
}

.input100:focus+.focus-input100::after {
	top: -22px;
	font-size: 18px
}

.input100:focus+.focus-input100::before {
	width: 100%
}

.has-val.input100+.focus-input100::after {
	top: -22px;
	font-size: 18px
}

.has-val.input100+.focus-input100::before {
	width: 100%
}

.has-val.input100 {
	padding-left: 5px
}

.contact100-form-checkbox {
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 35px
}

.input-checkbox100 {
	display: none
}

.label-checkbox100 {
	font-family: Poppins-Regular;
	font-size: 13px;
	color: #333;
	line-height: 1.2;
	display: block;
	position: relative;
	padding-left: 26px;
	cursor: pointer
}

.label-checkbox100::before {
	content: "\f26b";
	font-family: Material-Design-Iconic-Font;
	font-size: 13px;
	color: transparent;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 2px;
	background: #fff;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 1px solid #333;
}

.input-checkbox100:checked+.label-checkbox100::before {
	color: #555
}

.container-login100-form-btn {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center
}

.login100-form-btn {
	font-family: Poppins-Medium;
	font-size: 16px;
	color: #555;
	line-height: 1.2;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	min-width: 120px;
	height: 50px;
	border-radius: 25px;
	background: #9152f8;
	background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
	background: -o-linear-gradient(bottom, #7579ff, #b224ef);
	background: -moz-linear-gradient(bottom, #7579ff, #b224ef);
	background: linear-gradient(bottom, #7579ff, #b224ef);
	position: relative;
	z-index: 1;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s
}

.login100-form-btn::before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	border-radius: 25px;
	background-color: #fff;
	top: 0;
	left: 0;
	opacity: 1;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s
}

.login100-form-btn:hover {
	color: #fff
}

.login100-form-btn:hover:before {
	opacity: 0
}

@media(max-width:576px) {
	.wrap-login100 {
		padding: 55px 15px 37px
	}
}

.validate-input {
	position: relative
}

.alert-validate::before {
	content: attr(data-validate);
	position: absolute;
	max-width: 70%;
	background-color: #fff;
	border: 1px solid #c80000;
	border-radius: 2px;
	padding: 4px 25px 4px 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
	pointer-events: none;
	font-family: Poppins-Regular;
	color: #c80000;
	font-size: 13px;
	line-height: 1.4;
	text-align: left;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .4s;
	-o-transition: opacity .4s;
	-moz-transition: opacity .4s;
	transition: opacity .4s
}

.alert-validate::after {
	content: "\f12a";
	font-family: FontAwesome;
	font-size: 16px;
	color: #c80000;
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 5px
}

.alert-validate:hover:before {
	visibility: visible;
	opacity: 1
}

@media(max-width:992px) {
	.alert-validate::before {
		visibility: visible;
		opacity: 1
	}
}

.darkblue{
    background: #09396d !important;
    border:1px solid #09396d !important;
    color:#fff !important;
}

.darkcolor{
	color:#09396d;
}
input::placeholder{font-size: 12px;}

.alert{position: absolute !important;
    z-index: 999;
    bottom: 0px;
    right: 0px;
}
.headtext{color: #000; font-weight: bold; font-size: 14px;}

.mainhead{
	background: #1d2c7b;
    color: #fff;
	padding: 10px;}
	/*5feb*/
	.card-header {
		padding: .1rem .25rem !important;
		margin-bottom: 0;
		background-color: #202021 !important;
		border-bottom: 1px solid #202021 !important;
		color: #fff !important;
	}

	.card .card-header[data-toggle=collapse]::after {
		line-height: 43px !important;
	}
	
	.btn-link{color: #fff !important;}

	.jobdes{    background: #4a4a4c;
		padding: 10px;
		color: #fff;
		margin: 5px;
		font-size:12px	
	}


	tag {		
		font-size: .8em !important;
		letter-spacing: .05rem  !important;
		padding: .08rem 0.45rem !important;
		height: 23px !important;
		line-height: 21px !important;
	}

	delete-icon svg{
		vertical-align: bottom;
		height: 22px !important;
	}

	delete-icon:hover {
		-webkit-transform: scale(1) translateY(0px) !important;
		transform: scale(1) translateY(0px)  !important;
	}

	/* 19 feb*/

	.cutmserch{width: 100% !important;top: 1px;border-radius: 0px 2px 2px 0px !important;}
	.relative{position:relative}
	.btn-serch{left: -5px !important; top: 0px !important;}
	.frmpadding{padding: 9px 25px !important;}
	.nvbarForm{padding: 0 1px !important;}
	.inline-block{display:inline-block !important}
	.serform{width: 90%!important;display: inline-block !important;border-radius: 5px 0px 0px 5px !important;}
	.sercbtn{padding: .395rem .85rem !important;  border-radius: 0px 5px 5px 0px !important; margin-top: -3px;line-height: 1.2 !important;
	}
	.frmpara{
		font-size: 14px !important;
		margin-bottom: 0px !important;
		/* font-weight: bold; */
	}

	.f12{font-size:12px !important}

	.invalid-feedback{color:red}
	.bg-lightgray{background:#e7e8e8 !important;} 
	label{font-size:12px; font-weight:bold}

	a{font-size:12px}

	.bg-secondary {
		background-color: #858796!important;
		border: 1px solid #858796!important;
	}

	.icon {
	padding: 8px;
    background: #333;
    color: white;
    min-width: 33px;
    text-align: center;
    border-radius: 0px 2px 2px 0px;
	}

	tag-input{border: 1px solid #d1d3e2;border-radius: .2rem;}

	.ng2-tag-input__text-input{background: transparent !important;}
	.ng2-tag-input__text-input::placeholder{color: #333;}
	.boxstyle{background: #eee; padding:10px; margin-bottom:10px}
	.profile{position: relative;}
	.w50{max-width: 50%;height: auto; }	
	.profiledetail{font-size:15px;color:#000 }
	.profiledetail1{font-size:13px;color:#000 }
	.verifyNumber{margin-top: 1.9rem;margin-left: -1.7rem;}

	/* toggle */

	/* .switch {
		position: relative;
		display: block;
		vertical-align: top;
		width: 100px;
		height: 30px;
		padding: 3px;
		margin: 0 10px 10px 0;
		background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
		background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
		border-radius: 18px;
		box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
		cursor: pointer;
	  }
	  .switch-input {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
	  }
	  .switch-label {
		position: relative;
		display: block;
		height: inherit;
		font-size: 10px;
		text-transform: uppercase;
		background: #959696;
		border-radius: inherit;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
	  }
	  .switch-label:before, .switch-label:after {
		position: absolute;
		top: 50%;
		margin-top: -.5em;
		line-height: 1;
		-webkit-transition: inherit;
		-moz-transition: inherit;
		-o-transition: inherit;
		transition: inherit;
	  }
	  .switch-label:before {
		content: attr(data-off);
		right: 11px;
		color: #fff;
		/* text-shadow: 0 1px rgba(255, 255, 255, 0.5); */
	  /* }
	  .switch-label:after {
		content: attr(data-on);
		left: 11px;
		color: #FFFFFF;
		text-shadow: 0 1px rgba(0, 0, 0, 0.2);
		opacity: 0;
	  }
	  .switch-input:checked ~ .switch-label {
		   background: #0a841e;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
	  }
	  .switch-input:checked ~ .switch-label:before {
		opacity: 0;
	  }
	  .switch-input:checked ~ .switch-label:after {
		opacity: 1;
	  }
	  .switch-handle {
		position: absolute;
		top: 4px;
		left: 4px;
		width: 28px;
		height: 28px;
		background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
		background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
		border-radius: 100%;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	  }
	  .switch-handle:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -6px 0 0 -6px;
		width: 12px;
		height: 12px;
		background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
		background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
		border-radius: 6px;
		box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
	  }
	  .switch-input:checked ~ .switch-handle {
		left: 74px;
		box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
	  } */
	  /* Transition
		  ========================== */
	 /* .switch-label, .switch-handle {
		transition: All 0.3s ease;
		-webkit-transition: All 0.3s ease;
		-moz-transition: All 0.3s ease;
		-o-transition: All 0.3s ease;
	  } */
	  

	  .smalltitle{
		font-size: 12px;
		font-weight: bold;
	  }

	  select.form-control{font-size: 12px;}

	  .jobtitle{background: #224a73;
		color: #fff;
		text-transform: uppercase;
		padding: 5px;}

		.fa-plus-square {
			font-size: 1.2rem !important;
		}

		.toggle-switch {
			height: 30px;
			width: 100px;
			display: inline-block;
			position: relative;
	   }
		.toggle-switch input {
			display: none;
	   }
		.toggle-switch input:checked + .slider {
			background-color: rgb(12, 97, 26);
	   }
		.toggle-switch input:checked + .slider::after {
			-webkit-transform: translateX(70px);
			-ms-transform: translateX(70px);
			transform: translateX(70px);
	   }
		.toggle-switch .slider {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background-color: grey;
			transition: 2s;
			border-radius:50px
	   }
		.toggle-switch .slider::after {
			position: absolute;
			content: '';
			height: 22px;
    		width: 22px;
			background-color: white;
			left: 4px;
			bottom: 4px;
			transition: 2s;
			border-radius:50px;
	   }
		

	   /*multi select*/

	   .multiselect-dropdown .dropdown-btn
	   {height: calc(1.5em + .5rem + 2px);padding: .25rem .5rem;font-size: .875rem;line-height: 1.5;border-radius: .2rem;border: 1px solid #d1d3e2 !important;
	   }

	   .multiselect-dropdown .dropdown-btn .dropdown-down{
		display: inline-block;top: 10px;width: 0;height: 0;border-top: 5px solid #adadad !important;border-left: 5px solid transparent !important;border-right: 5px solid transparent !important;
		}

		.multiselect-dropdown .dropdown-btn .dropdown-up {
			display: inline-block;width: 0;height: 0;border-bottom: 5px solid #adadad !important;border-left: 5px solid transparent !important;
			border-right: 5px solid transparent !important;
		}

	   .joinNav {background: #858796;width: 42.4%;}
	   .joinLink{  color:#fff !important; }
	   .nav-item:nth-child(1){ border-right: 1px solid #fff;}
	   .nav-link:hover{background: steelblue;cursor: pointer; color:#fff}
	   .modal-header {padding: .5rem .5rem !important;background: #333 !important;color: #fff  !important;}
	   .close{color:#fff !important}
	   .bor-bottm{border-bottom: 1px solid #333;}
	   .card-body{cursor: pointer;}
	   .modal-title {font-size: 15px}
	   .multiselect-dropdown .dropdown-btn{
		font-size:12px;
		}
	   
		.profilerow{
			background: #fff !important;
			padding: 16px;
		}

.btn-submenu{background-color: #4a70dc !important;border-color:#4a70dc !important;}