
  <!-- Page Wrapper -->
  <div id="wrapper">

      <!-- Sidebar -->
     <app-side-bar></app-side-bar>
      <!-- End of Sidebar -->
  
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column  bg-white">
  
        <!-- Main Content -->
        <div id="content">
  
          <!-- Topbar -->
         <app-header></app-header>
          <!-- End of Topbar -->
  
          <!-- Begin Page Content -->
          <div class="container-fluid">
  
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Assign Recruiter</h1>
            </div>  
            <!-- Content Row -->
            <div class="row" *ngIf="recruiterAssign===true">
                <div class="col-md-12">                    
                 <div class="table-responsive">                   
                    <table class="table table-bordered table-sm" style="font-size: 12px;">
                        <thead class="thead-dark"> 
                          <tr style="vertical-align: middle;">
                            <th>Project ID</th>
                            <th>Project Date</th>
                            <th>Project Name</th>
                            <th>Project Owner</th>
                            <th>ERF Owner</th>
                            <th>ERF ID</th>          
                            <th>Total Candidates Required</th>
                            <th>Total Candidates Hired</th>
                            <th>Action</th>                            
                          </tr>
                        </thead>
                        <tbody *ngIf="jobDesData">
                          <tr *ngFor="let job of jobDesData">
                            <td>{{job.erf.erfNumber}}</td>
                            <td>{{job.erf.generateDate}}</td>
                            <td>{{job.jobDescription.erf.project.projectName}}</td>
                            <td>{{job.jobDescription.erf.erfOwner.username}}</td>
                            <td>{{job.jobDescription.createdBy.username}}</td>
                            <td>{{job.jobDescription.jdNumber}}</td>
                            <td>{{job.jobDescription.noOfEmployee}}</td>
                            <td>{{job.totalPositionHired}}</td>
                            <td><a [routerLink]="['/assign-recruiter-detail', job.jobDescription.id]" style="font-size: 12px;">View Detail</a></td>                          
                          </tr>
                        </tbody>
                      </table>
                 </div>                 
                </div>
            </div> 
            <div *ngIf="recruiterAssign!==true">
              <div class="col-md-12">
                No Information Available
              </div>   
            </div> 
          </div>
          <!-- /.container-fluid -->  
        </div>
        <!-- End of Main Content -->  
        <!-- Footer -->
      <app-footer></app-footer>
        <!-- End of Footer -->  
      </div>
      <!-- End of Content Wrapper -->  
    </div>
    <!-- End of Page Wrapper -->  
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>