<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column bg-white">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-header></app-header>
      <!-- End of Topbar -->
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800"> Set Employee Details</h1>
        </div>
        <!-- Content Row -->
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <a  (click)="editemployeedetail()" data-toggle="modal" data-target="#editDetail"><i
                    class="fa fa-edit text-success pull-right mb-3"></i></a>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">User/ Employee ID</h5>
                <p style="font-size:12px">{{Userdetail.id}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Global Assignment ID</h5>
                <p style="font-size:12px"></p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Salutation</h5>
                <p style="font-size:12px">{{Userdetail.salutation}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">First Name</h5>
                <p style="font-size:12px">{{Userdetail.firstName}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Last Name</h5>
                <p style="font-size:12px">{{Userdetail.lastName}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Date Of Birth</h5>
                <p style="font-size:12px">{{Userdetail.dateOfBirth}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Band</h5>
                <p style="font-size:12px">{{Userdetail.band}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Sub Band</h5>
                <p style="font-size:12px">{{Userdetail.subBand}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Job Title</h5>
                <p style="font-size:12px">{{Userdetail.jobTitle}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Department</h5>
                <p style="font-size:12px">{{Userdetail.department}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Domain</h5>
                <p style="font-size:12px">{{Userdetail.domain}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Sub-Domain</h5>
                <p style="font-size:12px">{{Userdetail.subDomain}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Entity</h5>
                <p style="font-size:12px">{{Userdetail.entity}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Base Location</h5>
                <p style="font-size:12px">{{Userdetail.baseLocation}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Hire Date</h5>
                <p style="font-size:12px">{{Userdetail.hireDate}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Global Assignment Start Date</h5>
                <p style="font-size:12px"></p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Global Assignment End Date</h5>
                <p style="font-size:12px"></p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Exit Date</h5>
                <p style="font-size:12px"></p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Employee Status</h5>
                <p style="font-size:12px">{{Userdetail.employeeStatus}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Age</h5>
                <p style="font-size:12px">46</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">IN2IT Tenure</h5>
                <p style="font-size:12px">8.0</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Total Experience</h5>
                <p style="font-size:12px"></p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Gender</h5>
                <p style="font-size:12px">{{Userdetail.gender}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Ethinicity</h5>
                <p style="font-size:12px">Indian</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Marital Status</h5>
                <p style="font-size:12px">{{Userdetail.maritalStatus}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Nationality</h5>
                <p style="font-size:12px">{{Userdetail.nationality}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Country</h5>
                <p style="font-size:12px">{{Userdetail.country}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Supervisor [RM]</h5>
                <p style="font-size:12px">No Manager</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">RM GA ID</h5>
                <p style="font-size:12px"></p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Matrix Manager Name</h5>
                <p style="font-size:12px"></p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">MM GA ID</h5>
                <p style="font-size:12px">{{Userdetail.matrixManagerId}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">BU HR</h5>
                <p style="font-size:12px">{{Userdetail.buHead}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">BU HR ID</h5>
                <p style="font-size:12px">{{Userdetail.buHRId}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">E-mail id</h5>
                <p style="font-size:12px">{{Userdetail.email}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Resource Allocation</h5>
                <p style="font-size:12px">{{Userdetail.resourceAllocation}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Project</h5>
                <p style="font-size:12px">{{Userdetail.project}}</p>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<div class="modal" id="editDetail">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <!--h4 class="modal-title">Edit Employee Detail -- {{updateUserDet.userName}}</h4-->
        <h4 class="modal-title">Edit Employee Detail -- </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <form>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="">Band</label>
                <!--input type="text" [(ngModel)]="band"
                [ngModelOptions]="{standalone: true}" class="form-control form-control-sm" placeholder="P" value={{updateUserDet.band}}-->
              <input type="text" [(ngModel)]="band"
                [ngModelOptions]="{standalone: true}" class="form-control form-control-sm" placeholder="P" >
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="">Sub Band</label>
                <input type="text" [(ngModel)]="subBand"
                [ngModelOptions]="{standalone: true}" class="form-control form-control-sm" placeholder="P7" >
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="">Job Title</label>
                <input type="text" [(ngModel)]="jobtitle"
                [ngModelOptions]="{standalone: true}" class="form-control form-control-sm" placeholder="Job Title"  >
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="">Department</label>
                <input type="text" [(ngModel)]="department"
                [ngModelOptions]="{standalone: true}" class="form-control form-control-sm" placeholder="Department" >
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="">Entity</label>
                <select name="" id="" class="form-control form-control-sm" [(ngModel)]="entityId"
                [ngModelOptions]="{standalone: true}">
                <option value="" selected disabled>Choose your Entity</option>
                  <!--option value="" ></option-->
                  <option  *ngFor ="let employee of editEmployeeentity" value={{employee.entityId}} >{{employee.entityName}}</option>
                  <!--option value="">Entity 1</option>
                  <option value="">Entity 1</option>
                  <option value="">Entity 1</option-->
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="">Base Location</label>
                <select name="" id="" class="form-control form-control-sm" [(ngModel)]="countryId"
                [ngModelOptions]="{standalone: true}">
                <!--option value="" selected disabled>Choose your Base Location</option-->
                  <option   *ngFor ="let employee of editEmployeeCountryId" value={{employee.countryId}} selected>{{employee.name}}</option>
                  <!--option value="">Base Location 1</option>
                  <option value="">Base Location 1</option>
                  <option value="">Base Location 1</option>
                  <option value="">Base Location 1</option-->
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="">Current location</label>
                <input type="text" [(ngModel)]="currentLocation"
                [ngModelOptions]="{standalone: true}" class="form-control form-control-sm" placeholder="Current location" >
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="">Employee Status</label>
                <select name="" id="" class="form-control form-control-sm" [(ngModel)]="employeestatus"
                [ngModelOptions]="{standalone: true}">
                  <!--option value="" selected> Select Employee Status</option>
                  <option value="">Active</option>
                  <option value="">In Active</option-->
                    <!--option value="" selected disabled>Choose your Employee Status</option-->
                    <option  selected>Active</option>
                  <option  >In Active</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="">Resource Allocation</label>
                <select name="" id="" class="form-control form-control-sm" [(ngModel)]="resouceAllocationId"
                [ngModelOptions]="{standalone: true}">
                  <!--option value="" ></option-->
                  <!--option value="" selected disabled>Choose your Resource Allocation</option-->
                  <option  *ngFor="let employee of editEmployeeResourceAllocation" value={{employee.resouceAllocationId}} selected>{{employee. resouceAllocationName}}</option>
                  <!--option value="">Non Billable</option>
                  <option value="">Management</option-->
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="">Marital Status </label>
                <select name="" id="" class="form-control form-control-sm" [(ngModel)]="maritalStatus"
                [ngModelOptions]="{standalone: true}">
                  <!--option value="" > </option-->
                  <!--option value="" selected disabled>Choose your Marital Status</option-->
                  <option value="" selected>Single</option>
                  <option value="">Married</option>
                  <option value="">Widowed</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="">Project</label>
                <select name="" id="" class="form-control form-control-sm" [(ngModel)]="projectId"
                [ngModelOptions]="{standalone: true}">
                <!--option value="" selected disabled>Choose your Project</option-->
                  <option  *ngFor ="let employee of editEmployeeProject"  value={{employee.projectId}} selected> {{employee.projectName}}</option>
                  <!--option value="">Project 1</option>
                  <option value="">Project 2</option>
                  <option value="">Project 2</option-->
                </select>
              </div>
            </div>
          </div>

          <div class="row mb-3" style="background: #f3f5f9;">
            <div class="col-md-3">
              <div class="form-group">
                <label for="">Supervisor ID</label>
                <input type="text" [(ngModel)]="supervisorId"
                [ngModelOptions]="{standalone: true}" class="form-control form-control-sm" placeholder="data">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="">Supervisor Name</label>
                <input type="text"  class="form-control form-control-sm" placeholder="data" readonly>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for=""> Matrix Manager ID</label>
                <input type="text" [(ngModel)]="matrixManagerId"
                [ngModelOptions]="{standalone: true}" class="form-control form-control-sm" placeholder="data" >
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for=""> Matrix Manager Name</label>
                <input type="text"  class="form-control form-control-sm" placeholder="data" readonly>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for=""> BU HR ID </label>
                <input type="text" [(ngModel)]="buHrId"
                [ngModelOptions]="{standalone: true}" class="form-control form-control-sm" placeholder="data" >
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="">BU HR Name</label>
                <input type="text" class="form-control form-control-sm" placeholder="data" readonly>
              </div>
            </div>
          </div>

          <div class="row" style="display: flex; justify-content: center; align-items: center;">
            <div class="co1-md-12">
              <button (click)="updateUserProfile()" type="submit" class="btn btn-sm btn-warning">Submit</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
