<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column  bg-white">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-header></app-header>
      <!-- End of Topbar -->
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4"  (click)="exportExcel()">
          <h1 class="h3 mb-0 text-gray-800">Consolidation Report</h1>
          <div class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
              class="fas fa-download fa-sm text-white-50"></i> Export to Excel</div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label for="">Start Date</label>
              <input type="date" [ngModel]="dtModelStart | date:'yyyy-MM-dd'" (ngModelChange)="dtModelStart = $event"
                class="form-control form-control-sm px-1">
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label for="">End Date</label>
              <input type="date" [ngModel]="dtModelEnd | date:'yyyy-MM-dd'" (ngModelChange)="dtModelEnd = $event"
                class="form-control form-control-sm px-1">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="">Status</label>
              <select [(ngModel)]="selectedLevel" (change)="selected()" class="select-form-control form-control-sm">
                <option [ngValue]="undefined" selected disabled>Select Status</option>
                <option *ngFor="let item of StatusList" [ngValue]="item">{{item.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-sm" style="margin-top:1.9em"
              (click)="searchList()">Search</button>
          </div>
        </div>

        <!-- Content Row -->

        <!-- -->
        <!-- <label for="end" style="margin-left: 50px;">Start date:</label>

        <span style="display: inline-block; margin-right: 5px;">
          
        </span>

        <label for="end" style="margin-left: 50px;">End date:</label>
        <span style="display: inline-block; margin-right: 5px;">
          <input type="date" [ngModel]="dtModelEnd | date:'yyyy-MM-dd'" (ngModelChange)="dtModelEnd = $event"
            class="form-control form-control-sm px-1">
        </span>

        <label for="status" style="margin-left: 50px;">Status:</label>
        <select [(ngModel)]="selectedLevel" (change)="selected()">
          <option [ngValue]="undefined" selected disabled>Select Status</option>
          <option *ngFor="let item of StatusList" [ngValue]="item">{{item.name}}</option>
        </select>

        <button type="button" style="line-height: 15px;height: 30px;margin-left: 25px;" class="btn btn-primary"
          (click)="searchList()">Search</button> -->
        <!-- -->
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">

              <table class="table table-bordered table-sm" style="font-size: 12px;">
                <thead class="thead-dark">
                  <tr style="vertical-align: middle;">
                    <th>ERF No.</th>
                    <th>Project Name</th>
                    <th>Candidate Name</th>
                    <th>Domain</th>
                    <th>Sub Domain</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody *ngFor="let row of reportData; let i = index">
                  <tr>
                    <td>{{row.erfNumber}}</td>
                    <td>{{row.projectName}}</td>
                    <td>{{row.candidateName}}</td>
                    <td>{{row.domain}}</td>
                    <td>{{row.subDomain}}</td>
                    <td><a [routerLink]="['/rasdetail-view']" style="font-size: 12px;" (click)="indexnumber(i)">View
                        More</a></td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- The Modal -->

<!-- End Add Job Description-->

<!-- Modal View Remark-->
<div class="modal fade" id="remark" tabinkdex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View Remark</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <p class="bor-bottm"><b>Date:</b> &nbsp;&nbsp;<span class="text-info">11/05/2020</span></p>
          </div>
          <div class="col-md-6">
            <p class="bor-bottm"><b>Action:</b> &nbsp;&nbsp; <span class="text-info">Pending</span></p>
          </div>
          <div class="col-md-12">
            <p><b>Discription:</b></p>
            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web
              designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have
              scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually
              begins
              with:</p>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>
<ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
</ngx-spinner>