<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-header></app-header>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Change Password</h1>
        </div>

        <!-- Content Row -->
        <div class="row justify-content-center align-items-center">
          <div class="col-xl-6 col-md-6 mb-4">
            <form #f="ngForm" (ngSubmit)="f.form.valid && setNewPassword(f)">
              <div class="form-group">
                <label for="oldPassword">Old Password</label>
                <input type="password" placeholder="Old password" class="form-control" name="oldPassword"
                  [(ngModel)]="passwordForm.oldPassword" #oldPassword="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && oldPassword.invalid }" required>

                <div *ngIf="f.submitted && oldPassword.invalid" class="invalid-feedback">
                  <div *ngIf="oldPassword.errors.required">Old Password is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="newPassword">New Password {{f.submitted}} {{newPassword.invalid}} {{misMatch}}</label>
                <input type="password" placeholder="New password" class="form-control" name="newPassword"
                  [(ngModel)]="passwordForm.newPassword" #newPassword="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && (newPassword.invalid || misMatch)}" required>
                <div *ngIf="f.submitted && (newPassword.invalid || misMatch)" class="invalid-feedback">
                  <div *ngIf="newPassword.invalid&&newPassword.errors.required">New Password is required</div>
                  <div *ngIf="misMatch">New Password not matched</div>
                </div>
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" placeholder="Confirm password" class="form-control" name="confirmPassword"
                  [(ngModel)]="passwordForm.confirmPassword" #confirmPassword="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && (confirmPassword.invalid || misMatch) }" required>
                <div *ngIf="f.submitted && (confirmPassword.invalid || misMatch)" class="invalid-feedback">
                  <div *ngIf="confirmPassword.invalid&&confirmPassword.errors.required">Confirm Password is required</div>
                  <div *ngIf="misMatch">Confirm Password not matched</div>
                </div>
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-sm darkblue" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>

        <!-- Content Row -->
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>