
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
   <app-side-bar></app-side-bar>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column bg-white">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
       <app-header></app-header>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Employee Permission</h1>
          </div>
          <!-- Content Row -->
          <div class="row">
              <div class="col-md-12">
               <div class="table-responsive">
                  <table class="table table-bordered table-sm" style="font-size: 12px;">
                      <thead class="thead-dark">
                        <tr style="vertical-align: middle;">
                          <th>Employee Name</th>
                          <th>Employee Id</th>
                          <th>Designation</th>
                          <th>Department</th>
                          <th>Work Location</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody *ngFor ="let i of getpermission">
                        <tr>
                          <td>{{i.name}}</td>
                          <td>{{i.id}}</td>
                          <td>{{i.designation}}</td>
                          <td>{{i.department}}</td>
                          <td>{{i.officeLocation}}</td>
                          <td><a [routerLink]="['/set-permission',i.id]" (click)="employeeName(i.name,i.id)" style="font-size: 12px;">Set Permission</a>
                            <!-- &nbsp; | &nbsp;
                            <a  [routerLink]="['/view-permission']" style="font-size: 12px;">View More Details</a> -->
                          </td>
                        </tr>
                        <!--tr>
                          <td>Arti Yadav</td>
                          <td>110003445</td>
                          <td>UI Developer</td>
                          <td>Application Department</td>
                          <td>Noida</td>
                          <td><a [routerLink]="['/set-permission']" style="font-size: 12px;">Set Permission</a-->
                            <!-- &nbsp; | &nbsp;
                            <a [routerLink]="['/view-permission']" style="font-size: 12px;">View More Details</a> -->
                          <!--/td>
                        </tr-->
                      </tbody>
                  </table>
               </div>
              </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
      <!-- Footer -->
    <app-footer></app-footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


