<div id="wrapper">
  <app-side-bar></app-side-bar>
  <div id="content-wrapper" class="d-flex flex-column  bg-white">
    <div id="content">
      <app-header></app-header>
      <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">View Resume</h1>
        </div>

        <div class="row justify-content-center align-items-center">
          <div class="col-md-3 border m-1" *ngFor="let resume of resumes">
            <p class="frmpara mt-3">{{resume.resumeData.candidateFirstName}} {{resume.resumeData.candidateLastName}}</p>
            <p class="frmpara">{{resume.resumeData.email}}</p>
            <p><a   class="btn btn-sm btn-warning mt-3 f12 mr-2" (click)="onShow(resume)" title="See Resume"><i
                  class="fa fa-file text-white"></i></a>
              <a *ngIf="Panel_view===true" class="btn btn-sm btn-warning mt-3 f12 mr-2"
                [routerLink]="['/set-panel', jdId,resume.resumeData.resumeId]" title="Set Panel"><i
                  class="fa fa-users text-white"></i></a>
              <a  *ngIf="calenderView===true" class="btn btn-sm btn-warning mt-3 f12 mr-2" title="Set Calendar"
                [routerLink]="['/set-calendar', jdId,resume.resumeData.resumeId]"><i
                  class="fa fa-calendar text-white"></i></a>
              <a  *ngIf="feedBackView===true" class="btn btn-sm btn-warning mt-3 f12" title="Feedback" [routerLink]="['/set-feedback', jdId,resume.resumeData.resumeId]"><i
                  class="fa fa fa-file-code-o text-white"></i></a>
            </p>

          </div>
        </div>

        <div class="row justify-content-center align-items-center" *ngIf="show">
          <div class="col-md-12">
            <h4>Open Resume for {{showResume.jobDescription.jdName}}({{showResume.jobDescription.domain}})</h4>
            <iframe width="100%" height="500px" [src]="sanitizer.bypassSecurityTrustResourceUrl(resumeLink)"></iframe>
          </div>
        </div>
      </div>

    </div>
    <app-footer></app-footer>
  </div>
</div>

<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
<!-- End Add Job Description-->

<!-- The Modal -->
<!-- <div class="modal" id="addJobModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Assign</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form #addFrom="ngForm" (ngSubmit)="addSubmit()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="">Enter JD No.</label>
                <input type="text" class="form-control form-control-sm" name="" placeholder="JD NO.">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <tag-input [(ngModel)]="items" (onSelect)="onSelect($event)" [modelAsStrings]="true" name="items"
                  [theme]="'bootstrap'">
                </tag-input>
              </div>
            </div>
          </div>
          <div class="row" style="display: flex; justify-content: center; align-items: center;">
            <div class="co1-md-12">
              <button type="submit" class="btn btn-sm btn-warning">Assign JD</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->


<!-- <div class="row justify-content-center align-items-center">
  <div class="col-md-8">
    <form class="navbar-form nvbarForm">
      <div class="row">
        <div class="col-md-3">
          <select class="cutmserch form-control-sm bg-secondary text-white border-0 pull-left" id="select-required"
            name="selectBy">
            <option value="Search By" disabled>Search By</option>
            <option value="firstName">First Name</option>
            <option value="lastName">Last Name</option>
            <option value="email">Email</option>
            <option value="domain">Domain</option>
          </select>
        </div>
        <div class="col-md-9">
          <div class="form-group w-100 inline-block">
            <input type="text" class="form-control form-control-sm serform frmpadding" name="searchBy"
              placeholder="Search">
            <button type="submit" class="btn btn-search btn-sm btn-primary sercbtn bg-secondary">Go</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div> -->