
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
   <app-side-bar></app-side-bar>
    <!-- End of Sidebar -->  
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column bg-white">  
      <!-- Main Content -->
      <div id="content">  
        <!-- Topbar -->
       <app-header></app-header>
        <!-- End of Topbar -->  
        <!-- Begin Page Content -->
        <div class="container-fluid">  
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"> View RAS Report Details</h1>
          </div>  
          <!-- Content Row -->
          <div class="row">
              <div class="col-md-12">                    
                  <div class="row">
                    <!-- <div class="col-md-12">
                      <a data-toggle="modal" data-target="#editDetail"><i class="fa fa-edit text-success pull-right mb-3"></i></a>
                    </div> -->
                      <div class="col-md-3">
                        <h5 class="headtext">ERF No.</h5>
                        <p style="font-size:12px">ABCDE</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Project Name</h5>
                        <p style="font-size:12px">ABCDE</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Candidate Name</h5>
                        <p style="font-size:12px">ABCDE</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Candidate Mobile Number</h5>
                        <p style="font-size:12px">ABCDE</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Candidate Email ID</h5>
                        <p style="font-size:12px">ABCDE</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Gender</h5>
                        <p style="font-size:12px">ABCDE</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Current Designation</h5>
                        <p style="font-size:12px">ABCDE</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Technical Competence Level</h5>
                        <p style="font-size:12px">ABCDE</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Experience</h5>
                        <p style="font-size:12px">ABCDE</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Country</h5>
                        <p style="font-size:12px">ABCDE</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Location </h5>
                        <p style="font-size:12px">ABCDE</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">No. of Position</h5>
                        <p style="font-size:12px">ABCDE</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Interview Panel</h5>
                        <p style="font-size:12px">ABCDE</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Tex</h5>
                        <p style="font-size:12px">ABCDE</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Rex </h5>
                        <p style="font-size:12px">ABCDE</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Domain </h5>
                        <p style="font-size:12px">ABCDE</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Sub Domain</h5>
                        <p style="font-size:12px">ABCDE</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Current CTC</h5>
                        <p style="font-size:12px">ABCDE</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Offered CTC</h5>
                        <p style="font-size:12px">ABCDE</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Reporting Manager</h5>
                        <p style="font-size:12px">ABCDE</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Joining Location</h5>
                        <p style="font-size:12px">ABCDE</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Work Location</h5>
                        <p style="font-size:12px">ABCDE</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Perctage Hike from (Current CTC)</h5>
                        <p style="font-size:12px">ABCDE</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="headtext">Passport - Y/N</h5>
                        <p style="font-size:12px">ABCDE</p>
                      </div>
                  </div> 
                  <div class="row">
                    <div class="col-md-12 mt-2">
                      <h5>Special commitments</h5>
                    </div>
                    <div class="col-md-3">
                      <h5 class="headtext">	Relocation Allowance  </h5>
                      <p style="font-size:12px">ABCDE</p>
                    </div>
                    <div class="col-md-3">
                      <h5 class="headtext">Joining Bonus</h5>
                      <p style="font-size:12px">ABCDE</p>
                    </div>
                    <div class="col-md-3">
                      <h5 class="headtext">Notice Period Buyout</h5>
                      <p style="font-size:12px">ABCDE</p>
                    </div>
                    <div class="col-md-3">
                      <h5 class="headtext">Accomodation</h5>
                      <p style="font-size:12px">ABCDE</p>
                    </div>
                  </div> 

                  
              </div>
          </div>  
        </div>
        <!-- /.container-fluid -->  
      </div>
      <!-- End of Main Content -->  
      <!-- Footer -->
    <app-footer></app-footer>
      <!-- End of Footer -->  
    </div>
    <!-- End of Content Wrapper -->  
  </div>
  <!-- End of Page Wrapper -->  
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
