<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column  bg-white">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-header></app-header>
      <!-- End of Topbar -->
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Employee Details</h1>
        </div>
        
          <button data-toggle="modal" data-target="#editDetail">
            Add New Employee
          </button><br>

          
       
        
          <button>
            Import
          </button>
     
        <!-- Content Row -->
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered table-sm" style="font-size: 12px;">
                <thead class="thead-dark">
                  <tr style="vertical-align: middle;">
                    <th>Employee Name</th>
                    <th>Employee Id</th>
                    <th>Designation</th>
                    <th>Department</th>
                    <th>Work Location</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody *ngFor = "let permission of empdetail">
                  <tr>
                    <td>{{permission.name}}</td>
                    <td>{{permission.id}}</td>
                    <td>{{permission.designation}}</td>
                    <td>{{permission.department}}</td>
                    <td>{{permission.officeLocation}}</td>
                    <td><a [routerLink]="['/setemp-detail',permission.id]" style="font-size: 12px;">Set Emp Detail</a>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- The Modal -->

<!-- End Add Job Description-->
<!--edit Employee detail-->

<div class="modal" id="editDetail">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <!--h4 class="modal-title">Edit Employee Detail -- {{updateUserDet.userName}}</h4-->
        <h4 class="modal-title">Add Employee Detail -- </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <form>
          <div class="row" *ngFor ="let employee of employeelist">
            <div class="col-md-12">
              <div class="form-group">
                <label for="">Get Emplyee List</label>
                <select name="" id="" class="form-control form-control-sm" >
                  <option    disabled selected>choose employee</option>
                  <option     >{{employee.name}}</option>
                  
                </select>
              </div>
              <div style="display: flex; justify-content: center; align-items: center;">
                <button (click)="postEmpDetail(employee)" type="submit" class="btn btn-sm btn-warning">Submit</button>
              </div>
             
            </div>
          </div>
          

        </form>
      </div>