<!-- Page Wrapper -->
<div></div>
<div id="wrapper">
  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column bg-white">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-header></app-header>
      <!-- End of Topbar -->
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Set Permission</h1>
        </div>
        <!-- Content Row -->
        <div class="row">
          <div class="col-md-3"><b>Employee Name: </b> {{empName}}</div>
          <div class="col-md-3"><b>Employee Id: </b> {{empId}}</div>
          <div class="col-md-6"></div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="col-md-3">Select User Role</label>
              <select name="selectedValue" id="selectedValue" [(ngModel)]="selectedValue"
                class="form-control form-control-sm" (ngModelChange)="onOptionsSelected($event)">
                <option selected disabled>Choose your Role</option>
                <option *ngFor="let role of roleid" [ngValue]="role">{{role.roleName}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-1">
            <button class="btn btn-info text-white btn-sm" style="margin-top: 1.9rem!important;"
              (click)="setbutton()">Set</button>
          </div>

          <div class="col-md-8"></div>
          <div class="col-md-12">
            <div class="table-responsive" style="height: 450px;">
              <table class="table table-bordered table-sm" style="font-size: 12px;">
                <thead class="thead-dark">
                  <tr style="vertical-align: middle;">
                    <th>Permission </th>
                    <th>Status</th>
                    <th>Conditions Set</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody *ngFor="let per of allSetPermissionData| slice:1;">
                  <tr>
                    <td>{{per.permissionKey}}</td>
                    <td>{{per.active === true ? 'Active' : 'InActive'}}</td>

                    <td>
                      <table>
                        <div *ngIf="(per.permissionConditions);else NA">
                          <tr style="border:0px; font-size:12px">
                            <td style="border:0px; font-size:12px"><b>Department: </b></td>
                            <td style="border:0px; font-size:12px">{{per.permissionConditions.department}}</td>

                          </tr>
                          <tr>
                            <td style="border:0px; font-size:12px"><b>Country: </b></td>
                            <td style="border:0px; font-size:12px">{{per.permissionConditions.country}}</td>

                          </tr>
                          <tr>
                            <td style="border:0px; font-size:12px"><b>Project: </b></td>
                            <td style="border:0px; font-size:12px">{{per.permissionConditions.project}}</td>

                          </tr>
                          <tr>
                            <td style="border:0px; font-size:12px"><b>Resource Location: </b></td>
                            <td style="border:0px; font-size:12px">{{per.permissionConditions.resourceAllocation}}</td>

                          </tr>
                          <tr>
                            <td style="border:0px; font-size:12px"><b>Entity: </b></td>
                            <td style="border:0px; font-size:12px">{{per.permissionConditions.entity}}</td>

                          </tr>
                        </div>
                        <ng-template #NA>
                          <tr style="border:0px; font-size:12px">
                            <td style="border:0px; font-size:12px" #NA>NA</td>
                          </tr>

                        </ng-template>

                      </table>
                    </td>

                    <td (click)="getstatus(per)"><i class="fa fa-edit text-success" data-toggle="modal"
                        data-target="#setperms"></i></td>

                  </tr>

                </tbody>

                <div *ngIf="allSetPermissionData.length == 0">
                  <p>No Data.</p>
                </div>

              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>


<div class="modal" id="setperms">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Permission</h4>
        <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>

      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form *ngIf="!editPermission">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="">Status</label>
                <div>
                  <select name="active" id="active" class="form-control form-control-sm">
                    <option value="true">Active</option>
                    <option value="false">In-Active</option>
                  </select>
                </div>
                <!-- (change)="ActiveValue($event.target.value)" -->
              </div>
            </div>
          </div>

          <div class="row" style="display: flex; justify-content: center; align-items: center;">
            <div class="co1-md-12">
              <button (click)="Goclick()" type="submit" class="btn btn-sm btn-warning">Go</button>
            </div>
          </div>
        </form>

        <form *ngIf="editPermission">
          <!-- <div  *ngIf="editperResourceAllocation.length !== 0"> -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="">Status</label>
            <div>
              <select name="" id="demo" class="form-control form-control-sm"
                (change)="ActiveValue($event.target.value)">
                <option value="true">Active</option>
                <option value="false">In-Active</option>
              </select>
            </div>
            </div>
            </div>

            <div class="col-md-12" >
              <div class="form-group">
                <label for="">Department</label>
                <ng-multiselect-dropdown [placeholder]="'Select Department'" [data]="permissionDeparmentList"
                  [settings]="dropdowndepartmentSettings" [disabled]="false" (onSelect)="onitemSelect($any)"
                  (onSelectAll)="onitemSelectAll($event)" appendTo="body" multiple="true" [(ngModel)]="department"
                  [ngModelOptions]="{standalone: true}"> </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="">Country</label>
                <ng-multiselect-dropdown [placeholder]="'Select Country'" [data]="permissionCountryList"
                  [settings]="dropdowncountrySettings" [disabled]="false" (onSelect)="onitemSelect($event)"
                  (onSelectAll)="onitemSelectAll($event)" [(ngModel)]="country" [ngModelOptions]="{standalone: true}">
                </ng-multiselect-dropdown>
                <!--input type="text" class="form-control form-control-sm" value="India, South Africa"-->
              </div>
            </div>
            <div class="col-md-12" >
              <div class="form-group">
                <label for="">Project</label>
                <ng-multiselect-dropdown [placeholder]="'Select Project'" [data]="permissionProjectList"
                  [settings]="dropdownProjectSettings" [disabled]="false" (onSelect)="onitemSelect($event)"
                  (onSelectAll)="onitemSelectAll($event)" [(ngModel)]="project" [ngModelOptions]="{standalone: true}">
                </ng-multiselect-dropdown>
                <!--input type="text" class="form-control form-control-sm" value="IServe, I-Recruit"-->
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="">Office Location</label>
                <ng-multiselect-dropdown [placeholder]="'Select Office Location'" [data]="permissionOfficeList"
                  [settings]="dropdownOfficeLocationSettings" [disabled]="false" (onSelect)="onitemSelect($event)"
                  (onSelectAll)="onitemSelectAll($event)" [(ngModel)]="OfficeLocation"
                  [ngModelOptions]="{standalone: true}"> </ng-multiselect-dropdown>
                <!--input type="text" class="form-control form-control-sm" value="Noida"-->
              </div>
            </div>
            <div class="col-md-12" >
              <div class="form-group">
                <label for="">Entity</label>
                <ng-multiselect-dropdown [placeholder]="'Select Entity'" [data]="permissionEntityList"
                  [settings]="dropdownEntitySettings" [disabled]="false" (onSelect)="onitemSelect($event)"
                  (onSelectAll)="onitemSelectAll($event)" [(ngModel)]="Entity" [ngModelOptions]="{standalone: true}">
                </ng-multiselect-dropdown>
                <!--input type="text" class="form-control form-control-sm" value="In2IT Technologies Pvt. Ltd"-->
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="">Resource Allocation</label>
                <select class="form-control form-control-sm" [(ngModel)]="resourceAllocationId"
                  [ngModelOptions]="{standalone: true}">
                  <option selected disabled>Select Resource Allocation</option>
                  <option *ngFor="let i of editperResourceAllocation" value={{i.resouceAllocationId}}>
                    {{i.resouceAllocationName}}</option>
                </select>

                <!--input type="text" class="form-control form-control-sm" value="Resource Allocation"-->

              </div>
            </div>

          </div>
          <div class="row" style="display: flex; justify-content: center; align-items: center;">
            <div class="co1-md-12" *ngIf="editPermission">
              <button type="submit" class="btn btn-sm btn-warning"
                (click)="postPermission()">Edit Permission</button>
            </div>
          </div>
          
        <!-- </div> -->
  <!--  [routerLink]="['/set-permission',userId]" -->
        </form>

      </div>
    </div>
  </div>
</div>

<ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
</ngx-spinner>