
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
   <app-side-bar></app-side-bar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
       <app-header></app-header>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Forgot Password</h1>            
          </div>

          <!-- Content Row -->
          <div class="row justify-content-center align-items-center">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-6 col-md-6 mb-4">
              <form>                
                <div class="form-group">
                  <label for="">New Password</label>
                  <input type="password" name="oldPassword" placeholder="New password" class="form-control">
                </div>
                <div class="form-group">
                  <label for="">Confirm Password</label>
                  <input type="password" name="oldPassword" placeholder="Confirm password" class="form-control">
                </div>
                <div class="d-flex justify-content-center align-items-center">
                  <button class="btn btn-sm darkblue">Submit</button>
                </div>
              </form>
            </div>
          </div>

          <!-- Content Row -->

       

          <!-- Content Row -->
        

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
    <app-footer></app-footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>