<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    
    <!-- End of Sidebar -->
  
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column  bg-white">
  
      <!-- Main Content -->
      <div id="content">
  
        <!-- Topbar -->
        
        <!-- End of Topbar -->
  
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Feedback</h1>
            </div>
            <!-- Content Row -->
            <div class="row">
              <div class="col-md-3">
                <h5 class="headtext">Interviewer Name</h5>
                <p style="font-size:12px">{{interviewDetails.interviewer}}</p>
              </div>
    
              <div class="col-md-3">
                <h5 class="headtext">Job Title</h5>
                <p style="font-size:12px">{{interviewDetails.jobTitle}}</p>
              </div>
            </div>
    
            <div class="row">
              <div class="col-md-12 mb-1">
                <h6>Candidate Detail</h6>
                <hr>
              </div>
    
              <div class="col-md-4">
                <h5 class="headtext">Applicant Name :</h5>
                <p style="font-size:12px">{{interviewDetails.applicant}}</p>
              </div>
    
              <div class="col-md-4">
                <h5 class="headtext">Date</h5>
                <p style="font-size:12px">{{interviewDetails.interviewDateTime | date: 'short'}}</p>
              </div>
    
              <div class="col-md-4">
                <h5 class="headtext">Mode of Interview: </h5>
                <p style="font-size:12px">{{interviewDetails.interviewType}}</p>
              </div>
    
              <div class="col-md-12 mb-1 mt-2">
                <h6>Interviewing Skill/Track</h6>
                <hr>
              </div>
            </div>
    
            <form #f="ngForm" (ngSubmit)="submitFeedback(f)">
    
            <div class="row">
              <div class="col-md-12 mt-1">
                <div class="form-group">
                  <label for=""><b>Skill/Track</b></label>
                  <tag-input [(ngModel)]="feedbackForm.skillTrack" (keyup.enter)="getSkillTrack(feedbackForm.skillTrack)"
                    [modelAsStrings]="true" name="skillTrack" placeholder="Additional Category" [theme]="'bootstrap'"
                    #skillTrack="ngModel" [ngClass]="{ 'is-invalid': f.submitted && skillTrack.invalid }" required>
                  </tag-input>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-4" *ngFor="let item of feedbackForm.skill">
                <div class="form-group">
                  <label for="skill{{item.skillNumber}}">{{item.skillName}}</label>
                  <select name="skill{{item.skillNumber}}" class="form-control form-control-sm"
                    [(ngModel)]="feedbackForm.skill[item.skillNumber].skillRating"
                    (ngModelChange)="SkillRatingformChanged(item)"
                    [ngClass]="{ 'is-invalid': f.submitted && item.skillRating==0 }" required>
                    <option value="0">Select Proficiency</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                  </select>
                </div>
              </div>
  
            </div>
  
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="communicationSkills">Communication Skills</label>
                  <select class="form-control form-control-sm" name="communicationSkills"
                    [(ngModel)]="feedbackForm.communicationSkills" #communicationSkills="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && communicationSkills.invalid }" required>
                    <option value="">Select Proficiency</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>
  
              <div class="col-md-4">
                <div class="form-group">
                  <label for="culturalFitment">Cultural Fitment</label>
                  <select class="form-control form-control-sm" name="culturalFitment"
                    [(ngModel)]="feedbackForm.culturalFitment" #culturalFitment="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && culturalFitment.invalid }" required>
                    <option value="">Select Proficiency</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>
  
              <div class="col-md-4">
                <label for="multiSkilled">Muilt Skilled</label>
                <select class="form-control form-control-sm" name="multiSkilled" [(ngModel)]="feedbackForm.multiSkilled"
                  #multiSkilled="ngModel" [ngClass]="{ 'is-invalid': f.submitted && multiSkilled.invalid }" required>
                  <option value="">Select One</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
  
              <div class="col-md-4">
                <label for="supervisorSkill">Managerial/Supervisor Skills </label>
                <select class="form-control form-control-sm" name="supervisorSkill"
                  [(ngModel)]="feedbackForm.supervisorSkill" #supervisorSkill="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && supervisorSkill.invalid }" required>
                  <option value="">Select One</option>
                  <option value="Individual Contributor (IC)">Individual Contributor (IC)</option>
                  <option value="Lead Capability">Lead Capability</option>
                </select>
              </div>
  
              <div class="col-md-4">
                <div class="form-group">
                  <label for="totalExprience">Total Experience</label>
                  <input type="number" class="form-control form-control-sm" placeholder="Total Experience"
                    name="totalExprience" [(ngModel)]="feedbackForm.totalExprience" #totalExprience="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && totalExprience.invalid }" required>
                </div>
              </div>
  
              <div class="col-md-4">
                <div class="form-group">
                  <label for="relevantExprience">Relevant Experience</label>
                  <input type="number" class="form-control form-control-sm" placeholder="Relevant Experience"
                    name="relevantExprience" [(ngModel)]="feedbackForm.relevantExprience" #relevantExprience="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && relevantExprience.invalid }" required>
                </div>
              </div>
  
              <div class="col-md-12">
                <div class="form-group">
                  <label for="comment">Technical Comment</label>
                  <textarea cols="30" rows="2" class="form-control form-control-sm" name="comment"
                    [(ngModel)]="feedbackForm.comment" #comment="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && comment.invalid }" required>
                  </textarea>
                </div>
              </div>
  
              <div class="col-md-4">
                <label for="result">Result</label>
                <select class="form-control form-control-sm" name="result" [(ngModel)]="feedbackForm.result"
                  #result="ngModel" [ngClass]="{ 'is-invalid': f.submitted && result.invalid }" required>
                  <option value="">Select One</option>
                  <option value="Reject">Reject</option>
                  <option value="Select">Select</option>
                </select>
              </div>
  
              <!--div class="col-md-4">
                <label for="otherTechnology">Suitable for other Role :</label>
                <select class="form-control form-control-sm" name="otherTechnology"
                  [(ngModel)]="feedbackForm.otherTechnology" #otherTechnology="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && otherTechnology.invalid }" required>
                  <option value="">Select One</option>
                  <option value="yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div-->
  
              <!--div class="col-md-6 mt-3" *ngIf="feedbackForm.otherTechnology == 'yes'">
                <label for="">Enter New Role :</label-->
                <!--tag-input [(ngModel)]="feedbackForm.otherRole" [modelAsStrings]="true" placeholder="Enter New Role"
                  name="otherRole" [theme]="'bootstrap'" #skillTrack="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && skillTrack.invalid }" required></tag-input-->
                   <!--tag-input  [modelAsStrings]="true" placeholder="Enter New Role"
                  name="otherRole" [theme]="'bootstrap'"
                  [ngClass]="{ 'is-invalid': f.submitted && skillTrack.invalid }" required></tag-input>
              </div-->
            </div>
  
            <div class="row mt-4 mb-4">
              <div class="col-md-12 d-flex  justify-content-center align-items-center">
                <button type="submit" class="btn btn-sm btn-success">Submit</button>
              </div>
            </div>
  
          </form>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
      <!-- Footer -->
      <app-footer></app-footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>