<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column  bg-white">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-header></app-header>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Assign Resume</h1>
        </div>
        <!-- search Row -->
        <div class="row justify-content-center align-items-center">
          <div class="col-md-8">
            <form class="navbar-form nvbarForm">
              <div class="row">
                <div class="col-md-3">
                  <select class="cutmserch form-control-sm bg-secondary text-white border-0 pull-left"
                    id="select-required" name="selectBy" (change)="searchByDropdown($event.target.value)"
                    [(ngModel)]="selectBy" data-parsley-required="true">
                    <option value="Search By" disabled>Search By</option>
                    <option value="firstName">First Name</option>
                    <option value="lastName">Last Name</option>
                    <option value="email">Email</option>
                    <option value="domain">Domain</option>
                  </select>
                </div>

                <div class="col-md-9">
                  <div class="form-group w-100 inline-block">
                    <input type="text" class="form-control form-control-sm serform frmpadding" name="searchBy"
                      placeholder="Search" [(ngModel)]="searchBy" #searchValue="ngModel">
                    <button type="submit" class="btn btn-search btn-sm btn-primary sercbtn bg-secondary"
                      (click)="searchTable(searchValue)">Go</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div *ngIf="resumesData.length != 0">
          <form #editFrom="ngForm" (ngSubmit)="assignRecruiter()">
            <div class="row">
              <div class="col-md-3 border m-1" *ngFor="let resume of resumesData; let i=index">
                <div class="pull-right">
                  <input type="checkbox" id="resume{{i}}" name="resume{{i}}" (change)="selectedUser($event,resume)">
                </div>
                <p class="frmpara">{{resume.candidateFirstName}} {{resume.candidateLastName}}</p>
                <p class="frmpara">{{resume.email}}</p>
                <p class="frmpara">{{resume.phone}}</p>
                <p class="frmpara">{{resume.domain}}</p>
                <p > <button  type="button" class="btn btn-sm btn-warning mt-3 f12" (click)="seeResumeDetails(resume)"
                    data-toggle="modal" data-target="#showResume">See
                    Resume</button></p>
              </div>
            </div>

            <div class="row mt-4" style="display: flex; justify-content: center; align-items: center;">
              <div class="co1-md-12">
                <button type="submit" class="btn btn-sm btn-warning">Assign Resume</button>
              </div>
            </div>
          </form>
        </div>

        <!-- alredy assigned resumes -->
        <div class="mt-3" *ngIf="allAssignedResumes.length != 0">
          <h4>All Assigned Resumes of Job Description</h4>
          <div class="row">
            <div class="col-md-3 border m-1" *ngFor="let resme of allAssignedResumes; let i=index">
              <p class="frmpara">{{resme.resumeData.candidateFirstName}} {{resme.resumeData.candidateLastName}}</p>
              <p class="frmpara">{{resme.resumeData.email}}</p>
              <p class="frmpara">{{resme.resumeData.phone}}</p>
              <p class="frmpara">{{resme.resumeData.domain}}</p>
              <!-- data-toggle="modal" data-target="#showResume" -->
              <p><button *ngIf="seeResume=== true" type="button" class="btn btn-sm btn-warning mt-3 f12"
                  (click)="seeResumeDetails(resme['resumeData'])">See
                  Resume</button>
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>

    <app-footer></app-footer>

  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- The Modal  -->
<div class="modal" id="showResume">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Resume</h4>
        <!-- <h5 *ngIf="showDownloadBtn" (click)="downloadFile(resumeLink)">Download</h5> -->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body" *ngIf="resumeLink">
        <iframe width="100%" height="500px" [src]="sanitizer.bypassSecurityTrustResourceUrl(resumeLink)"></iframe>

      </div>
    </div>
  </div>
</div>

<!-- End Add Job Description-->

<ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
</ngx-spinner>