<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column  bg-white">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-header></app-header>
      <!-- End of Topbar -->
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">RAS Report</h1>
          <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
              class="fas fa-download fa-sm text-white-50"></i> Export to Excel</a>
        </div>
        <!-- Content Row -->
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered table-sm" style="font-size: 12px;">
                <thead class="thead-dark">
                  <tr style="vertical-align: middle;">
                    <th>ERF No.</th>
                    <th>Project Name</th>
                    <th>Candidate Name</th>
                    <th>Candidate Mobile Number</th>
                    <th>Candidate Email ID</th>
                    <th>Current Designation</th>
                    <th>Status</th>
                    <th>Remark</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Arti Yadav</td>
                    <td>110003445</td>
                    <td>UI Developer</td>
                    <td>Application Department</td>
                    <td>Noida</td>
                    <td></td>
                    <td></td>
                    <td><a href="javscript:void(0)" data-toggle="modal" data-target="#remark">View Remark</a></td>
                    <td><a [routerLink]="['/ras-report-detail']" style="font-size: 12px;">View More</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- The Modal -->

<!-- End Add Job Description-->

<!-- Modal View Remark-->
<div class="modal fade" id="remark" tabinkdex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View Remark</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <p class="bor-bottm"><b>Date:</b> &nbsp;&nbsp;<span class="text-info">11/05/2020</span></p>
          </div>
          <div class="col-md-6">
            <p class="bor-bottm"><b>Action:</b> &nbsp;&nbsp; <span class="text-info">Pending</span></p>
          </div>
          <div class="col-md-12">
            <p><b>Discription:</b></p>
            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web
              designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have
              scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually
              begins
              with:</p>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>