<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column bg-white">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-header></app-header>
      <!-- End of Topbar -->
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800"> View Details</h1>
        </div>
        <!-- Content Row -->
        <div class="row" *ngIf="Viewdata">
          <div class="col-md-12">
            <div class="row bg-lightgray m-2 p-2">
              <div class="col-md-12 mb-3">
                <h5>Personal Detail</h5>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">ERF No.</h5>
                <p style="font-size:12px">{{Viewdata.erfNumber}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">ERF Date</h5>
                <p style="font-size:12px">{{Viewdata.erfGenerateDate}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Recruiter</h5>
                <p style="font-size:12px">{{Viewdata.recruiterName}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Project Name</h5>
                <p style="font-size:12px">{{Viewdata.projectName}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Manpower Hiring/MSP Hiring/Internal Hiring </h5>
                <p style="font-size:12px">ABCDE</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Domain</h5>
                <p style="font-size:12px">{{Viewdata.domain}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Sub Domain</h5>
                <p style="font-size:12px">{{Viewdata.subDomain}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Technical Competence Level</h5>
                <p style="font-size:12px">{{Viewdata.technicalCompetenceLevel}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Experience</h5>
                <p style="font-size:12px">{{Viewdata.maxExprience}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Country</h5>
                <p style="font-size:12px">{{Viewdata.country}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Location </h5>
                <p style="font-size:12px">{{Viewdata.location}}</p>
              </div>
            </div>
            <div class="row bg-lightgray m-2 p-2">
              <div class="col-md-12 mb-3">
                <h5>Professional Detail</h5>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">No. of Position</h5>
                <p style="font-size:12px">{{Viewdata.noOfPosition}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Interview Panel</h5>
                <p style="font-size:12px">{{Viewdata.interviewPanel}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">BU Head</h5>
                <p style="font-size:12px">{{Viewdata.buHeadName}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">No. CV forwarded to Practice </h5>
                <p style="font-size:12px">{{Viewdata.cvForwardedToPractice}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">No.Cv forwarded to Client </h5>
                <p style="font-size:12px">{{Viewdata.cvForwardedToClient}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Recruiter CV forwarded Date</h5>
                <p style="font-size:12px">{{Viewdata.recruiterCVForwardedDate}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Panel Interview Date</h5>
                <p style="font-size:12px">{{Viewdata.panelInterviewDate}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Reject Date</h5>
                <p style="font-size:12px">{{Viewdata.rejectDate}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Select Date/ Closed date</h5>
                <p style="font-size:12px">{{Viewdata.selectDate}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Offer Date</h5>
                <p style="font-size:12px">{{Viewdata.offerDate}}</p>
              </div>


              <div class="col-md-3">
                <h5 class="headtext">Joining Date</h5>
                <p style="font-size:12px">{{Viewdata.joiningDate}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">ERF Month</h5>
                <p style="font-size:12px">{{Viewdata.erfMonth}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">ERF to CV forward</h5>
                <p style="font-size:12px">{{Viewdata.erfToCVForward}}</p>
              </div>
            </div>
            <div class="row bg-lightgray m-2 p-2">
              <div class="col-md-12 mb-3">
                <h5>Aging Detail</h5>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Aging CV forwarded to Reject</h5>
                <p style="font-size:12px">{{Viewdata.agingCVForwardedToReject}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Aging CV forwarded to Select</h5>
                <p style="font-size:12px">{{Viewdata.agingCVForwardedToSelect}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Aging CV ERF to Closed</h5>
                <p style="font-size:12px">{{Viewdata.agingCVErfToClosed}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Aging Select to Offer</h5>
                <p style="font-size:12px">{{Viewdata.agingSelectToOffer}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Aging Offer to Joining </h5>
                <p style="font-size:12px">{{Viewdata.agingOfferToJoining}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">RMG Ageing ERF to Offer</h5>
                <p style="font-size:12px">{{Viewdata.rmgAgingErfToOffer}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Total aging ERF to Join</h5>
                <p style="font-size:12px">{{Viewdata.totalAgingErfToJoin}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Remark </h5>
                <p style="font-size:12px">{{Viewdata.remark}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Status</h5>
                <p style="font-size:12px">{{Viewdata.erfStatus}}</p>
              </div>
              <div class="col-md-3">
                <h5 class="headtext">Ageing from CV forwarded to Current Status</h5>
                <p style="font-size:12px">{{Viewdata.ageingFromCVForwardedToCurrentStatus}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>