<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column  bg-white">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-header></app-header>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Job Description</h1>
        </div>
        <!-- Content Row -->
        <div class="row" *ngIf="jobViewList === true">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered table-sm" style="font-size: 12px;">
                <thead class="thead-dark">
                  <tr style="vertical-align: middle;">
                    <th>Project ID</th>
                    <th>Project Date</th>
                    <th>ERF ID</th>
                    <th>Total Position for Hiring</th>
                    <th>Total Position Hired</th>
                    <th>Recruiter Assigned</th>
                    <th>Total Resume Submitted</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let jd of jds">
                    <td>{{jd.erf.erfNumber}}</td>
                    <td>{{jd.erf.generateDate}}</td>
                    <td>{{jd.jobDescription.jdNumber}}</td>
                    <td>{{jd.jobDescription.noOfEmployee}}</td>
                    <td>{{jd.totalPositionHired}}</td>
                    <td>{{jd.recruiters.length}}</td>
                    <td>{{jd.totalResumeSubmitted}}</td>
                    <td>
                      <a [routerLink]="['/view-resume', jd.jobDescription.id]">View Resume</a>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="jobViewList !== true">
          
            <h1 class="h3 mb-0 text-gray-800">Nothing to show!</h1>
          </div>
      
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>


<ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
</ngx-spinner>