<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-header></app-header>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Profile</h1>
          <a class="text-right" class="btn btn-submenu btn-sm text-white pull-right" data-toggle="modal"
            data-target="#userDetailModal" (click)="showUserDetail()"> View Detail</a>
        </div>

        <!-- Content Row -->
        <div class="row">

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-4 col-md-6 mb-2" *ngIf="profileData">

            <div class="profile d-flex justify-content-center align-items-center uploadfile">
              <img src="assets/img/profile.jpg" alt="" class="w50 rounded-circle">
              <label for="file-input">
                 <i class="fa fa-camera fa-2x" style="position: absolute ;bottom:-12px; color: #000;margin-left: -97px;"></i>
            </label>
            <input class="choosefile" (onChange)="profilePhoto(profilePic)" id="file-input" type="file" [(ngModel)]="profilePic" name="profilePic">
            </div>

            <div class="row">
              <div class="col-xl-12 col-md-12 mb-2 mt-3">
                <h5 class="profiledetail text-center text-black"><b>{{profileData.userName}}</b> </h5>
                <h5 class="profiledetail text-center"> {{profileData.jobTitle}} </h5>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-12 col-md-12 mb-2 mt-3">
                <h5 class="profiledetail1"><b>Email : </b> {{profileData.email}}</h5>
                <h5 class="profiledetail1"><b>Department : </b> {{profileData.department}}</h5>
                <!-- <h5 class="profiledetail1"><b>DOJ : </b> {{profileData.hireDate | date: 'longDate'}}</h5> -->
                <!-- <h5 class="profiledetail1"><b>Manager Name : </b> Undefined</h5> -->
              </div>
            </div>
          </div>

          <div class="col-xl-8 col-md-12 mb-4">
            <form #otpf="ngForm" (ngSubmit)="otpf.form.valid && onSendOTP(otpf)">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Country</label>
                    <select [disabled]="verifyForm.verifyEnable" class="form-control form-control-sm" name="country"
                      [(ngModel)]="OTPForm.country" #country="ngModel"
                      [ngClass]="{ 'is-invalid': otpf.submitted && country.invalid  }" required
                      (change)="onCountryChange()">
                      <option value="">Select Country</option>
                      <option *ngFor="let contry of countryList" [ngValue]="contry">{{contry.name}}</option>
                    </select>
                    <div *ngIf="otpf.submitted && country.invalid " class="invalid-feedback">
                      <div *ngIf="country.errors.required">Country is required</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-1" style="margin-right: -4px;">
                  <label for="code" >Set &nbsp; &</label>
                  <input disabled type="text" style="width: 52px;" class="form-control form-control-sm" name="code"
                    [(ngModel)]="OTPForm.code" #code="ngModel" required>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>Verify Mobile number</label>
                    <input [disabled]="verifyForm.verifyEnable" type="text" class="form-control form-control-sm"
                      placeholder="Enter Phone No." name="phnno" [(ngModel)]="OTPForm.phnno" #phnno="ngModel"
                      [ngClass]="{ 'is-invalid': otpf.submitted && phnno.invalid  }" required>
                    <div *ngIf="otpf.submitted && phnno.invalid " class="invalid-feedback">
                      <div *ngIf="phnno.errors.required">Phone number is required</div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <button *ngIf="!verifyForm.verifyEnable" class="btn btn-sm btn-success text-white verifyNumber"
                    type="submit"> Submit </button>

                  <button *ngIf="verifyForm.verifyEnable" class="btn btn-sm btn-submenu text-white verifyNumber"
                    type="button" (click)="verifyForm.verifyEnable=false"> Edit </button>

                  <button *ngIf="verifyForm.verifyEnable&&!verifyForm.isOptEnable" style="margin-left: .4rem;"
                    class="btn btn-sm btn-success text-white verifyNumber" type="button" (click)="onSendOTP()"> Resend
                  </button>
                </div>
              </div>
            </form>

            <div class="row" *ngIf="verifyForm.verifyEnable">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Enter OTP</label>
                      <input [disabled]="!verifyForm.isOptEnable" type="text" class="form-control form-control-sm"
                        placeholder="Enter OTP" name="otpnum" [(ngModel)]="verifyForm.otpnum" required>
                      <div *ngIf="verifyForm.isotpnum">
                        <div style="color: red;">Country is required</div>
                      </div>
                      <div *ngIf="!verifyForm.isOptEnable">
                        <div style="color: red;">Resend OTP</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-1">
                    <a class="btn btn-sm btn-success text-white verifyNumber" (click)="onVerifyOtp()">Verify</a>
                  </div>

                  <div class="col-md-1">
                    <h5 style="margin-top: 33px; margin-left: -14px;">00:{{timerSec|number:'2.0-0'}}</h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <h5 class="smalltitle">Set Push notification</h5>
                <!-- Material checked -->
                <!-- <div id="switch">
                    <label class="switch">
                      <input class="switch-input" type="checkbox" />
                      <span class="switch-label" data-on="Active" data-off="InActive"></span> <span class="switch-handle"></span> </label>
                  </div> -->
                <label class="toggle-switch">
                  <input type="checkbox" [(ngModel)]="isPushNotification" name="pushNotification">
                  <div class="slider"></div>
                </label>
              </div>

              <div class="col-md-4">
                <h5 class="smalltitle">Set Email notification</h5>
                <label class="toggle-switch">
                  <input type="checkbox" [(ngModel)]="isEmailNotification" name="emailNotification">
                  <div class="slider" data-toggle="modal" data-target="#myModal"></div>
                </label>
              </div>
            </div>

          </div>

        </div>
        <!-- Content Row -->

      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- The Modal -->
<div class="modal fade" id="userDetailModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">User Detail</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="row profilerow" *ngIf="profileData">
          <div class="col-md-3">
            <h5 class="headtext">User/ Employee ID</h5>
            <p style="font-size:12px">{{profileData.sapId}}</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Global Assignment ID</h5>
            <p style="font-size:12px"></p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Name</h5>
            <p style="font-size:12px">{{profileData.salutation}} {{profileData.userName}}</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Date Of Birth</h5>
            <p style="font-size:12px">{{profileData.dateOfBirth}}</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Band</h5>
            <p style="font-size:12px">{{profileData.band}}</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Sub Band</h5>
            <p style="font-size:12px">{{profileData.subBand}}</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Job Title</h5>
            <p style="font-size:12px">{{profileData.jobTitle}}</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Department</h5>
            <p style="font-size:12px">{{profileData.department}}</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Domain</h5>
            <p style="font-size:12px">{{profileData.domain}}</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Sub-Domain</h5>
            <p style="font-size:12px"></p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Entity</h5>
            <p style="font-size:12px">{{profileData.entity}}</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Base Location</h5>
            <p style="font-size:12px">{{profileData.baseLocation}}</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Hire Date</h5>
            <p style="font-size:12px">{{profileData.hireDate}}</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Global Assignment Start Date</h5>
            <p style="font-size:12px"></p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Global Assignment End Date</h5>
            <p style="font-size:12px"></p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Exit Date</h5>
            <p style="font-size:12px"></p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Employee Status</h5>
            <p style="font-size:12px">{{profileData.employeeStatus}}</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Age</h5>
            <p style="font-size:12px">{{profileData.age}}</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">IN2IT Tenure</h5>
            <p style="font-size:12px"></p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Total Experience</h5>
            <p style="font-size:12px"></p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Gender</h5>
            <p style="font-size:12px">{{profileData.gender}}</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Ethinicity</h5>
            <p style="font-size:12px"></p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Marital Status</h5>
            <p style="font-size:12px">{{profileData.maritalStatus}}</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Nationality</h5>
            <p style="font-size:12px">{{profileData.nationality}}</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Country</h5>
            <p style="font-size:12px">{{profileData.currentLocation}}</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Supervisor [RM]</h5>
            <p style="font-size:12px"></p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">RM GA ID</h5>
            <p style="font-size:12px"></p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Matrix Manager Name</h5>
            <p style="font-size:12px"></p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">MM GA ID</h5>
            <p style="font-size:12px"></p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">BU HR</h5>
            <p style="font-size:12px"></p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">BU HR ID</h5>
            <p style="font-size:12px"></p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">E-mail id</h5>
            <p style="font-size:12px">{{profileData.email}}</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Resource Allocation</h5>
            <p style="font-size:12px">{{profileData.resourceAllocation}}</p>
          </div>
          <div class="col-md-3">
            <h5 class="headtext">Project</h5>
            <p style="font-size:12px"></p>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" (click)="closeModel()" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

    </div>
  </div>
</div>