<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column  bg-white">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-header></app-header>
      <!-- End of Topbar -->
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Set Feedback</h1>
          <a class="pull-right text-black text-bold" (click)="goBack()" style="cursor: pointer;">Joining Data</a>
        </div>
        <!-- Content Row -->
        <div class="row">
          <!-- Sub Header -->
          <div class="col-md-6 mb-2">
            <ul class="nav joinNav">
              <li class="nav-item">
                <a *ngIf="feedbackViewResume===true" class="nav-link joinLink" data-toggle="modal"
                  data-target="#viewResume" (click)="showResume()">
                  View Resume</a>
              </li>
              <li class="nav-item">
                <a *ngIf="feedbackViewJd===true" class="nav-link joinLink" data-toggle="modal" data-target="#viewJd">
                  View Jd</a>
              </li>
            </ul>
          </div>
          <!-- Sub Header End-->
          <div *ngIf="feedbackPanel===true">
            <div class="col-md-12" *ngIf="setPanelData.length != 0">
              <div class="row border p-2 m-2" *ngFor="let panelData of setPanelData">
                <div class="col-md-4">
                  <h6 class="m-2"><b>Interview Type :</b>{{panelData.interviewType}}</h6>
                </div>
                <div class="col-md-7">
                  <a href="mailto:" *ngIf="panelData.interviewDateTime&&panelData.timeZone">
                    {{panelData.interviewDateTime | date: 'short'}} ({{panelData.timeZone['name']}})</a>
                  <a href="mailto:" *ngIf="panelData.status=='INACTIVE'">{{panelData.status}}</a>
                </div>

                <div class="col-md-1" *ngIf="feedbackAdd===true">
                  <!-- data-toggle="modal" data-target="#viewFeedack" -->
                  <button [disabled]="panelData.status=='INACTIVE'" type="submit"
                    class="btn btn-sm btn-success pull-right" (click)="openSetFeedback(panelData)">
                    <i class="fa fa-eye"></i>
                  </button>
                </div>

                <div class="table-responsive" style="font-size:12px" *ngIf="panelData.internalPanel.length > 0">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th>Interviewer Name</th>
                        <th>Employee Id</th>
                        <th>Is Primary</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let internalrow of panelData.internalPanel">
                        <td>{{internalrow.employee.username}}</td>
                        <td>{{internalrow.employee.sapId}}</td>
                        <td>{{internalrow.prime ? 'Yes' : 'No'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="table-responsive" style="font-size:12px" *ngIf="panelData.externalPanel.length > 0">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th>Interviewer Name</th>
                        <th>Contact</th>
                        <th>Is Primary</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let externalrow of panelData.externalPanel">
                        <td>{{externalrow.firstName + ' ' + externalrow.lastName}}</td>
                        <td>{{externalrow.contact}}</td>
                        <td>{{externalrow.prime ? 'Yes' : 'No'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>


          <div class="col-md-12" *ngIf="setPanelData.length == 0">
            <div class="row">
              <h4>No Data Found!</h4>
            </div>
          </div>

        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
<!-- End Add Job Description-->

<div class="modal" id="viewFeedack">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" *ngIf="getfeedback">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">View Feedback</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <!-- *ngIf="resumeLink"
           <iframe width="100%" height="500px" [src]="sanitizer.bypassSecurityTrustResourceUrl(resumeLink)"></iframe> -->

        <!-- Content Row -->
        <div class="row">
          <div class="col-md-3" *ngFor="let InterviewDetail of interviewDetail">
            <h5 class="headtext">Interviewer Name</h5>
            <p style="font-size:12px">{{InterviewDetail.employee.firstName}}</p>
          </div>


        </div>
        <div class="row">
          <div class="col-md-12 mb-3 mt-3">
            <h6>Candidate Detail</h6>
            <hr>
          </div>
          <div class="col-md-4">
            <h5 class="headtext">Applicant Name :</h5>
            <p style="font-size:12px">{{getfeedback.applicantName}}</p>
          </div>
          <div class="col-md-4">
            <h5 class="headtext">Date</h5>
            <p style="font-size:12px">{{getfeedback.feedbackDate | date:'fullDate'}}</p>
          </div>
          <div class="col-md-4">
            <h5 class="headtext">Mode of Interview: </h5>
            <p style="font-size:12px">{{getfeedback.interviewType}}</p>
          </div>

          <div class="col-md-12 mb-3 mt-3">
            <h6>Interviewing Skill/Track</h6>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4" *ngFor="let Skill of skill">
            <h5 class="headtext">{{Skill.skillName}}</h5>
            <p style="font-size:12px">{{Skill.skillRating}}</p>
          </div>


        </div>
        <div class="row">
          <div class="col-md-4">
            <h5 class="headtext">Communication Skills</h5>
            <p style="font-size:12px">{{getfeedback.communicationSkills}}</p>
          </div>
          <div class="col-md-4">
            <h5 class="headtext">Cultural Fitment</h5>
            <p style="font-size:12px">{{getfeedback.culturalFitment}}</p>
          </div>
          <div class="col-md-4">
            <h5 class="headtext">Managerial/Supervisor Skills</h5>
            <p style="font-size:12px">{{getfeedback.supervisorSkill}}</p>
          </div>
          <div class="col-md-4">
            <h5 class="headtext">Total Experience</h5>
            <p style="font-size:12px">{{getfeedback.totalExprience}}</p>
          </div>
          <div class="col-md-4">
            <h5 class="headtext">Relevant Experience</h5>
            <p style="font-size:12px">{{getfeedback.relevantExprience}}</p>
          </div>
          <div class="col-md-4">
            <h5 class="headtext">Comment</h5>
            <p style="font-size:12px">{{getfeedback.comment}}</p>
          </div>
          <div class="col-md-4">
            <h5 class="headtext">Result</h5>
            <p style="font-size:12px">{{getfeedback.result}}</p>
          </div>
          <div class="col-md-4">
            <h5 class="headtext">Suitable for other Role :</h5>
            <p style="font-size:12px" *ngFor="let OtherRole of otherRole">{{OtherRole}}}</p>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>


<div class="modal" id="viewResume">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">View Resume</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <iframe *ngIf="resumeLink" width="100%" height="500px"
          [src]="sanitizer.bypassSecurityTrustResourceUrl(resumeLink)"></iframe>

        <!-- Content Row -->
        <div class="row">
          See Resume
        </div>

      </div>
    </div>
  </div>
</div>



<div class="modal" id="viewJd">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" *ngIf="jdDetails">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{jdDetails.jdName}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <!-- Content Row -->
        <div class="row mt-2">
          <div class="col-md-12" style="font-size: 12px;">

            <article>
              <div style="color: #000; font-size: 13px;" class="mt-4 mb-4">
                <span class="text-black mr-4"><b>No. of Employess : </b>{{jdDetails.noOfEmployee}}</span>
                <span class="text-black mr-4"><b>Experience : </b> {{jdDetails.minExprience}} -
                  {{jdDetails.maxExprience}} Years</span>
                <span class="text-black mr-4"><b>Domain: </b> {{jdDetails.domain}}</span>
                <span class="text-black mr-4" *ngIf="jdDetails.wageType"><b>Wage Type : </b>
                  {{jdDetails.wageType.name}}</span>
                <span class="text-black mr-4"><b>Work Type </b> {{jdDetails.jobType}}</span>
              </div>

              <div style="color: #000; font-size: 13px;" class="mt-4 mb-4">
                <span class="text-black mr-4" *ngIf="jdDetails.workLocation"><b>Work Location : </b>
                  {{jdDetails.workLocation.addressLineOne}} {{jdDetails.workLocation.addressLineTwo}}
                  {{jdDetails.workLocation.state.stateName}}, {{jdDetails.workLocation.country.niceName}},
                  {{jdDetails.workLocation.zipCode}}</span>
                <span class="text-black mr-4" *ngIf="jdDetails.sourceLocation"><b>Source Location : </b>
                  {{jdDetails.sourceLocation.addressLineOne}} {{jdDetails.sourceLocation.addressLineTwo}}
                  {{jdDetails.sourceLocation.state.stateName}}, {{jdDetails.sourceLocation.country.niceName}},
                  {{jdDetails.sourceLocation.zipCode}}</span>

                <span class="text-black mr-4" *ngIf="jdDetails.joiningLocation"><b>Joining Location : </b>
                  {{jdDetails.joiningLocation.addressLineOne}} {{jdDetails.joiningLocation.addressLineTwo}}
                  {{jdDetails.joiningLocation.state.stateName}}, {{jdDetails.joiningLocation.country.niceName}},
                  {{jdDetails.joiningLocation.zipCode}}</span>
              </div>
            </article>

            <section>
              <h6 class="darkcolor">Job Description</h6>
              <article>
                <quill-view-html [content]="jdDetails.body" theme="snow"></quill-view-html>
              </article>

              <hr />
            </section>

            <section class="mt-4">
              <h6 class="darkcolor">Additional Detail</h6>
              <article>
                <p>{{jdDetails.additionalDetail}}</p>
              </article>

              <hr />
            </section>

            <section class="mt-4">
              <h6 class="darkcolor">Domain</h6>
              <article>{{jdDetails.domain}}</article>
              <hr />
            </section>

            <section>
              <h6 class="darkcolor">Additional Category</h6>
              <article>
                <a class="btn btn-info btn-sm m-2 text-white" style="font-size:10px"
                  *ngFor="let oneDetail of jdDetails.additionalCategory">{{oneDetail}}</a>
              </article>
              <hr />
            </section>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
</ngx-spinner>