.modal-dialog {
    max-width: 600px;
    margin: 1.75rem auto;
}
.icon {
    padding: 8px;
    background: #333;
    color: white;
    min-width: 33px;
    text-align: center;
    border-radius: 0px 2px 2px 0px;
      }