<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column  bg-white">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-header></app-header>
      <!-- End of Topbar -->
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Set Calendar</h1>
        </div>
        <!-- Content Row -->
        <div class="row">
          <div class="col-md-12" *ngIf="setPanelData.length != 0">
            <div class="row border p-2 m-2" *ngFor="let panelData of setPanelData">
              <div class="col-md-4">
                <h6 class="m-2"><b>Interview Type :</b>{{panelData.interviewType}}</h6>
              </div>
              <div class="col-md-7">
                <a href="mailto:" *ngIf="panelData.interviewDateTime&&panelData.timeZone">
                  {{panelData.interviewDateTime | date: 'short'}} ({{panelData.timeZone['name']}})
                </a>
                <a href="mailto:" *ngIf="panelData.status=='INACTIVE'">{{panelData.status}}</a>
              </div>
              <div class="col-md-1" *ngIf=" CALENDARSET===true || CALENDARReschedule===true ">
                <button  type="submit"
                  class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#addCalendar"
                  (click)="openSetCalendar(panelData.id)">
                  <i class="fa fa-clock"></i>
                </button>
              </div>
              <div class="table-responsive" style="font-size:12px">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th>Interviewer Name</th>
                      <th>Employee Id</th>
                      <th>Is Primary</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let internalrow of panelData.internalPanel">
                      <td>{{internalrow.employee.username}}</td>
                      <td>{{internalrow.employee.sapId}}</td>
                      <td>{{internalrow.prime ? 'Yes' : 'No'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


          <div class="col-md-12" *ngIf="setPanelData.length == 0">
            <div class="row">
              <h4>No Data Found!</h4>
            </div>
          </div>


        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- The Modal -->
<div class="modal" id="addCalendar">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Set Calendar</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="calendarData" (ngSubmit)="setCalendarDate()">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group justify-content-center align-items-center">
                <label for="">Set Date</label>
                <div style="display: -ms-flexbox; display: flex; width: 100%;margin-bottom: 15px;">
                  <!-- [(bsValue)]="myDateValue" [minDate]="minDate" [maxDate]="maxDate" -->
                  <input formControlName="datepicker" name="datepicker" type="text" class="form-control-sm form-control"
                    #dp="bsDatepicker" bsDatepicker placeholder="dd/mm/yyyy" style="border-radius: 2px 0px 0px 2px;"
                    [ngClass]="{ 'is-invalid': submitted && f.datepicker.errors }">
                  <i class="fa fa-calendar icon"></i></div>
                <div *ngIf="submitted && f.datepicker.errors" class="invalid-feedback">
                  <div *ngIf="f.datepicker.errors.required">Date is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group justify-content-center align-items-center">
                <label for="">Select Time</label>
                <div class="row">
                  <div class="col-md-4">
                    <select formControlName="dpHour" name="dpHour" class="form-control-sm form-control"
                      style="font-size:12px; width:120px" [ngClass]="{ 'is-invalid': submitted && f.dpHour.errors }">
                      <option value="" style="font-size: 10px;">Select hour</option>
                      <option value="01">01</option>
                      <option value="02">02</option>
                      <option value="03">03</option>
                      <option value="04">04</option>
                      <option value="05">05</option>
                      <option value="06">06</option>
                      <option value="07">07</option>
                      <option value="08">08</option>
                      <option value="09">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="00">12</option>
                    </select>
                    <div *ngIf="submitted && f.dpHour.errors" class="invalid-feedback">
                      <div *ngIf="f.dpHour.errors.required">Hours is required</div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <select formControlName="dpMinute" name="dpMinute" class="form-control-sm form-control"
                      style="font-size:12px; width:120px" [ngClass]="{ 'is-invalid': submitted && f.dpMinute.errors }">
                      <option value="">Select Min</option>
                      <option value="00">00</option>
                      <option value="01">01</option>
                      <option value="02">02</option>
                      <option value="03">03</option>
                      <option value="04">04</option>
                      <option value="05">05</option>
                      <option value="06">06</option>
                      <option value="07">07</option>
                      <option value="08">08</option>
                      <option value="09">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                      <option value="32">32</option>
                      <option value="33">33</option>
                      <option value="34">34</option>
                      <option value="35">35</option>
                      <option value="36">36</option>
                      <option value="37">37</option>
                      <option value="38">38</option>
                      <option value="39">39</option>
                      <option value="40">40</option>
                      <option value="41">41</option>
                      <option value="42">42</option>
                      <option value="43">43</option>
                      <option value="44">44</option>
                      <option value="45">45</option>
                      <option value="46">46</option>
                      <option value="47">47</option>
                      <option value="48">48</option>
                      <option value="49">49</option>
                      <option value="50">50</option>
                      <option value="51">51</option>
                      <option value="52">52</option>
                      <option value="53">53</option>
                      <option value="54">54</option>
                      <option value="55">55</option>
                      <option value="56">56</option>
                      <option value="57">57</option>
                      <option value="58">58</option>
                      <option value="59">59</option>
                    </select>
                    <div *ngIf="submitted && f.dpMinute.errors" class="invalid-feedback">
                      <div *ngIf="f.dpMinute.errors.required">Minutes is required</div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <select formControlName="dpFormat" name="dpFormat" class="form-control-sm form-control"
                      style="font-size:12px; width:110px" [ngClass]="{ 'is-invalid': submitted && f.dpFormat.errors }">
                      <option value="">Select Format</option>
                      <option value="AM">AM</option>
                      <option value="PM">PM</option>
                    </select>
                    <div *ngIf="submitted && f.dpFormat.errors" class="invalid-feedback">
                      <div *ngIf="f.dpFormat.errors.required">Formate is required</div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!-- <div class="col-md-4">
              <div class="form-group">
                <label for="">Select TimeZone</label>
                <select name="min" class="form-control-sm form-control" formControlName="timeZoneId" name="timeZoneId"
                  [ngClass]="{ 'is-invalid': submitted && f.timeZoneId.errors }">
                  <option value="">Select TimeZone</option>
                  <option *ngFor="let item of timeZone" [value]="item.id">{{item.name}}</option>
                </select>
                <div *ngIf="submitted && f.timeZoneId.errors" class="invalid-feedback">
                  <div *ngIf="f.timeZoneId.errors.required">TimeZone is required</div>
                </div>
              </div>
            </div> -->
            <!-- --->

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Select TimeZone</label>
                <input list="item" name="item" class="form-control-sm form-control" formControlName="timeZoneId"
                  name="timeZoneId" [ngClass]="{ 'is-invalid': submitted && f.timeZoneId.errors }"
                  placeholder="Select TimeZone">

                <datalist id="item">
                  <option *ngFor="let item of timeZone">{{item.name}} </option>
                </datalist>
                <div *ngIf="submitted && f.timeZoneId.errors" class="invalid-feedback">
                  <div *ngIf="f.timeZoneId.errors.required">TimeZone is required</div>
                </div>
              </div>
            </div>
            <!-- -->

          </div>


          <div class="row" style="display: flex; justify-content: center; align-items: center;">
            <div class="co1-md-12">
              <button type="submit" class="btn btn-sm btn-warning">Set DateTime</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End Add Job Description-->