<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column  bg-white">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-header></app-header>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">View Project</h1>
          <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
              class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        </div>
        <!-- Content Row -->
        <div class="row">
          <div class="col-md-12">

            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Filter By</label>
                      <select class="select-form-control form-control-sm" (change)="onChange($event)">
                        <option value="" selected disabled>All</option>
                        <option value="erf-owner">Project Owner</option>
                        <option value="project">Project</option>
                        <option value="status">Status</option>
                        <option value="recruiter">Recruiter</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="selectedType == 'erf-owner'">
                    <div class="form-group">
                      <label for="">Project Owner</label>
                      <select class="select-form-control form-control-sm">
                        <option value=""> Priyadarshini Srichandan </option>
                        <option value="">Amritesh Anand </option>
                        <option value="">Nagarajan B. </option>
                        <option value="">Kumar Vaibhav </option>
                        <option value="">Ankit Ashwani </option>
                        <option value=""> Ajaya Rout </option>
                        <option value="">Shefali Patel </option>
                        <option value="">Mayank Sharma </option>
                        <option value=""> Vikas Kumar </option>
                        <option value=""> Harkrishan Singh</option>
                        <option value="">Ramandeep Kalear</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="selectedType == 'project'">
                    <div class="form-group">
                      <label for="">Project</label>
                      <select class="select-form-control form-control-sm">
                        <option value="">South Africa Reserve Bank </option>
                        <option value=""> GBN</option>
                        <option value=""> ARM</option>
                        <option value=""> Limpopo</option>
                        <option value=""> ARM</option>
                        <option value="">Dark Fibre Africa</option>
                        <option value="">Atos</option>
                        <option value=""> IBM</option>
                        <option value="">Alteram Solution Pty Ltd </option>
                        <option value=""> Wesbank </option>
                        <option value=""> Adventz </option>
                        <option value=""> Molex </option>
                        <option value=""> Syntel </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="selectedType == 'status'">
                    <div class="form-group">
                      <label for="">Status</label>
                      <select class="select-form-control form-control-sm">
                        <option value="">Work in Progress</option>
                        <option value="">Selected</option>
                        <option value="">Hold</option>
                        <option value="">Offered</option>
                        <option value="">Joined</option>
                        <option value="">Offer Declined</option>
                        <option value="">Practice Feedback Awaited </option>
                        <option value="">Client Feedback Awaited</option>
                        <option value="">Rejected</option>

                      </select>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="selectedType == 'recruiter'">
                    <div class="form-group">
                      <label for="">Recruiter</label>
                      <select class="select-form-control form-control-sm">
                        <option value="">Nagarajan B. </option>
                        <option value="">Priyadarshini Srichandan </option>
                        <option value="">Bhupender Sharma </option>
                        <option value="">Sravan Kumar</option>
                        <option value="">Ritesh Kumar </option>
                        <option value="">Madhumita Mukherjee </option>
                        <option value="">Pravashni Kistesamy </option>
                        <option value="">Tshepo Dinoko </option>
                        <option value="">Ashwani Kumar Chaudhary </option>
                        <option value="">Bhupender Sharma </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6" style="float: right;">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Start Date</label>
                      <input type="date" name="start date" class="form-control form-control-sm">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>End Date</label>
                      <input type="date" name="start date" class="form-control form-control-sm">
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="table-responsive">
              <table class="table table-bordered table-sm" style="font-size: 12px;">
                <thead class="thead-dark">
                  <tr style="vertical-align: middle;">
                    <th>Project ID</th>
                    <th>Project Date</th>
                    <th>Project Name</th>
                    <th>Project Owner</th>
                    <th>Status</th>
                    <th>Remark</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let viwdata of viewErfData">
                    <td>{{viwdata.erfNumber}}</td>
                    <td>{{viwdata.generateDate}}</td>
                    <td>{{viwdata.projectName}}</td>
                    <td>{{viwdata.username}}</td>
                    <td *ngIf="viwdata.selected">{{viwdata.approved}}</td>
                    <td *ngIf="!viwdata.selected " >
                      <label *ngIf="project_initiate === true " class="toggle-switch">
                        <input type="checkbox" [(ngModel)]="viwdata.selected" name="selected"
                          (change)="onStatusChange(viwdata)">
                        <div class="slider">
                          <p style="color: white; margin: 5px 0px 0px 30px;">
                            {{viwdata.approved}}
                          </p>
                        </div>
                      </label>
                    </td>
                    <td><a href="javscript:void(0)" (click)="onRemarkModel(viwdata.remark)" data-toggle="modal"
                        data-target="#remark">View Remark</a></td>
                    <td><a href="javscript:void(0)" (click)="navigateToNext(viwdata)">View Project Detail</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<div class="modal fade" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="border: 0;">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View Remark</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" style="background: grey; padding-top: 0; padding-bottom: 0;">
        <div class="row" style="background: white; margin: .5rem -1rem;" *ngFor="let item of remarkModel">
          <div class="col-md-6">
            <p class="bor-bottm">
              <b>Date:</b>&nbsp;&nbsp;
              <span class="text-info">{{item.date | date: 'short'}}</span>
            </p>
          </div>

          <div class="col-md-6">
            <p class="bor-bottm">
              <b>Action:</b>&nbsp;&nbsp;
              <span class="text-info">{{item.action}}</span>
            </p>
          </div>

          <div class="col-md-12">
            <p><b>Discription:</b></p>
            <p>{{item.remark}}</p>
          </div>
        </div>

        <div class="row" style="background: white; margin: .5rem -1rem; text-align: center;"
          *ngIf="remarkModel.length==0">
          <div class="col">
            <p><b>No Date Available</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>