<!-- <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; 2020. All Right Reserved</span>
      </div>
    </div>
  </footer>. -->