<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column  bg-white">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-header></app-header>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Set Panel</h1>
        </div>
        <!-- Content Row -->
        <div class="row">
          <div class="col-md-12 pull-right">
            <button *ngIf="PANEL_UPDATE===true" type="submit" class="btn btn-sm btn-success pull-right" data-toggle="modal"
              data-target="#addinterviewRound">Add Interview Round</button>
          </div>
        </div>
        <div class="row" *ngIf="setPanelData.length > 0">

          <div class="col-md-12" *ngFor="let panelData of setPanelData">
            <h6 class="m-2"><b>Interview Type :</b>{{panelData.interviewType}}</h6>

            <div class="row border p-2 m-2" *ngIf="panelData.internalPanel.length > 0">
              <div class="table-responsive " style="font-size:12px">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th>Interviewer Name</th>
                      <th>Employee Id</th>
                      <th>Is Primary</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let internalrow of panelData.internalPanel">
                      <td>{{internalrow.employee.username}}</td>
                      <td>{{internalrow.employee.sapId}}</td>
                      <td>{{internalrow.prime ? 'Yes' : 'No'}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>

            <div class="row border p-2 m-2" *ngIf="panelData.externalPanel.length > 0">
              <!-- <h6 class="m-2"><b>Interview Type :</b> Face to Face</h6> -->
              <div class="table-responsive " style="font-size:12px">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th>Interviewer Name</th>
                      <th>Employee Email</th>
                      <th>Contact</th>
                      <th>Is Primary</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let externalrow of panelData.externalPanel">
                      <td>{{externalrow.firstName }} {{externalrow.lastName}}</td>
                      <td>{{externalrow.email}}</td>
                      <td>{{externalrow.contact}}</td>
                      <td>{{externalrow.prime ? 'Yes' : 'No'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>

        <div class="row" *ngIf="setPanelData.length == 0">
          <h4>No Data Found!</h4>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- The Modal -->
<div class="modal" id="addinterviewRound">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Interview Panel</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">

        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="">Interview Type</label>
              <select class="form-control form-control-sm" name="interviewType" [(ngModel)]="interviewType"
                #interviewTypes="ngModel" (change)="oninterviewTypeChange(interviewTypes)" required>
                <option value="" disabled>Select Interview Type</option>
                <option value="ONLINE">Online</option>
                <option value="MACHINE_TEST">Machine Test</option>
                <option value="F2F">Face to Face</option>
                <option value="DISCUSSION">Discussion</option>
                <option value="DECISION">Decision</option>
                <option value="EXT_F2F">External Face to Face</option>
                <option value="EXT_REMOTE">External Remote</option>
              </select>
            </div>
          </div>

        </div>


        <form #addinternalFrom="ngForm" (ngSubmit)="addInternalSubmit()"
          *ngIf="formshowInternal">

          <div class="row" *ngIf="PANEL_ADD===true">
            <div class="col-md-12">
              <a class="btn btn-sm btn-success pull-right text-white" title="Add Interviewer Name"
                (click)="addInternalRowForm()">
                <i  class="fa fa-plus text-white"></i>Add</a>
            </div>
          </div>

          <div class="row" *ngFor="let internalForm of addsetInternalForm; let i=index">
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Emp Id</label>
                <input type="text" class="form-control form-control-sm" list="empId" id="employee{{i}}"
                  [(ngModel)]="internalForm.sapId" #employee="ngModel" autocomplete="off" placeholder="Emp Id"
                  name="employee{{i}}" (keyup)="getUserBySapID(employee.value)"
                  (blur)="showuserName($event.target.value, i)"
                  [ngClass]="{ 'is-invalid': addinternalFrom.submitted && employee.invalid && internalForm.isSubmited }"
                  required>
                <datalist id="empId">
                  <option *ngFor="let c of userDetailsBySapId" [ngValue]="c">{{c.sapId}}</option>
                </datalist>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Interviewer Name</label>
                <input type="text" class="form-control-sm form-control" placeholder="Interviewer Name"
                  name="username{{i}}" [(ngModel)]="internalForm.username" id="username{{i}}" disabled>
              </div>
            </div>

            <div class="col-md-2">
              <label for="">Set as Primary</label>
              <div class="custom-control custom-radio">
                <input type="checkbox" class="custom-control-input" name="primary" [(ngModel)]="internalForm.primary"
                  id="primary{{i}}" [ngClass]="{ 'is-invalid': addinternalFrom.submitted && internalForm.isPrimarySelected }">
                <label class="custom-control-label mr-2" for="primary{{i}}"></label>
              </div>
            </div>

            <div class="col-md-2">
              <label for="">Delete</label>
              <div class="custom-control">
                <i class="fa fa-trash text-danger" (click)="deleteinternalFormRow(i)"></i>
              </div>
            </div>
            <!-- *ngIf="addsetInternalForm.length > 1" -->
          </div>

          <div class="row" style="display: flex; justify-content: center; align-items: center;">
            <div class="co1-md-12">
              <button type="submit" class="btn btn-sm btn-warning">Set Panel</button>
            </div>
          </div>

        </form>

        <form #addexternalFrom="ngForm" (ngSubmit)="addExternalSubmit()"
          *ngIf="!formshowInternal">

          <div class="row">
            <div class="col-md-12">
              <a class="btn btn-sm btn-success pull-right text-white" title="Add Interviewer Name"
                (click)="addExternalRowForm()">
                <i class="fa fa-plus text-white"></i>Add</a>
            </div>
          </div>

          <div class="row" *ngFor="let externalForm of addsetExternalForm; let i=index">
            <div class="col-md-2">
              <div class="form-group">
                <label for="">First Name</label>
                <input type="text" class="form-control form-control-sm" placeholder="Name"
                  [(ngModel)]="externalForm.firstName" #firstName="ngModel" name="firstName{{i}}"
                  [ngClass]="{ 'is-invalid': addexternalFrom.submitted && firstName.invalid && externalForm.isSubmited }"
                  required>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label for="">Last Name</label>
                <input type="text" class="form-control-sm form-control" placeholder="Last Name"
                  [(ngModel)]="externalForm.lastName" #lastName="ngModel" name="lastName{{i}}"
                  [ngClass]="{ 'is-invalid': addexternalFrom.submitted && lastName.invalid && externalForm.isSubmited }"
                  required>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label for="">Email</label>
                <input type="text" class="form-control-sm form-control" placeholder="Email"
                  [(ngModel)]="externalForm.email" #email="ngModel" name="email{{i}}"
                  [ngClass]="{ 'is-invalid': addexternalFrom.submitted && email.invalid && externalForm.isSubmited }"
                  required>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label for="">Contact No.</label>
                <input type="text" class="form-control-sm form-control" placeholder="Contact No."
                  [(ngModel)]="externalForm.contact" #contact="ngModel" name="contact{{i}}"
                  [ngClass]="{ 'is-invalid': addexternalFrom.submitted && contact.invalid && externalForm.isSubmited }"
                  required>
              </div>
            </div>

            <div class="col-md-2">
              <label for="">Set as Primary</label>
              <div class="custom-control custom-radio">
                <input type="checkbox" class="custom-control-input" name="primary" [(ngModel)]="externalForm.primary"
                  id="primary{{i}}" [ngClass]="{ 'is-invalid': addexternalFrom.submitted && externalForm.isPrimarySelected }">
                <label class="custom-control-label mr-2" for="primary{{i}}"></label>
              </div>
            </div>

            <div class="col-md-2">
              <label for="">Delete</label>
              <div class="custom-control">
                <i class="fa fa-trash text-danger" (click)="deleteexternalFormRow(i)"></i>
              </div>
            </div>

          </div>

          <div class="row" style="display: flex; justify-content: center; align-items: center;">
            <div class="co1-md-12">
              <button type="submit" class="btn btn-sm btn-warning">Set Panel</button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>

<!-- End Add Job Description-->